Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

feat: add accordion style
  src/components/SocialAccordion/SocialAccordion.module.scss
  src/components/SocialAccordion/SocialAccordion.stories.tsx
  src/components/SocialAccordion/SocialAccordion.tsx
  src/components/SocialAccordion/SocialAccordion.type.ts
  src/components/ToggleSocialMedia/ToggleSocialMedia.module.scss
  src/components/ToggleSocialMedia/ToggleSocialMedia.stories.tsx
  src/components/ToggleSocialMedia/ToggleSocialMedia.tsx
  src/components/ToggleSocialMedia/ToggleSocialMedia.types.ts
  src/components/ToggleSocialMedia/components/UserImage/UserImage.module.scss
  src/components/ToggleSocialMedia/components/UserImage/UserImage.stories.tsx
  src/components/ToggleSocialMedia/components/UserImage/UserImage.tsx
  src/components/ToggleSocialMedia/components/UserImage/UserImage.type.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add accordion animation on open and close
  src/components/SocialAccordion/SocialAccordion.module.scss
  src/components/ToggleSocialMedia/ToggleSocialMedia.module.scss
  src/components/ToggleSocialMedia/components/UserImage/UserImage.module.scss
Due: prettier --write, stylelint --fix

feat: add accordion animation on open and close
  package.json
  src/components/SocialAccordion/SocialAccordion.module.scss
  src/components/SocialAccordion/SocialAccordion.stories.tsx
  src/components/SocialAccordion/SocialAccordion.tsx
  src/components/SocialAccordion/SocialAccordion.type.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

feat: add error state to accordion
  src/components/SocialAccordion/SocialAccordion.module.scss
Due: prettier --write, stylelint --fix

feat: add error state to accordion
  src/components/SocialAccordion/SocialAccordion.module.scss
  src/components/SocialAccordion/SocialAccordion.stories.tsx
  src/components/SocialAccordion/SocialAccordion.tsx
  src/components/SocialAccordion/SocialAccordion.type.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: add test to ImageUser component
  src/components/SocialAccordion/SocialAccordion.module.scss
Due: prettier --write, stylelint --fix

test: add test to ImageUser component
  src/components/SocialAccordion/SocialAccordion.module.scss
  src/components/SocialAccordion/SocialAccordion.type.ts
  src/components/ToggleSocialMedia/components/UserImage/UserImage.spec.tsx
Due: eslint --fix, prettier --write, stylelint --fix

style: add aria-attributes to accordion
  src/components/SocialAccordion/SocialAccordion.module.scss
Due: prettier --write, stylelint --fix

style: add aria-attributes to accordion
  src/components/SocialAccordion/SocialAccordion.module.scss
  src/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write, stylelint --fix

test: fix failling test
  src/components/ToggleSocialMedia/components/UserImage/UserImage.spec.tsx
Due: eslint --fix, prettier --write

style: change the image name and remove unnecessary comment
  src/components/SocialAccordion/SocialAccordion.tsx
  src/components/ToggleSocialMedia/components/UserImage/UserImage.tsx
Due: eslint --fix, prettier --write

fix: fix wrong outline and width of switch component
  src/components/SocialAccordion/SocialAccordion.module.scss
  src/components/Switch/Switch.module.scss
  src/components/ToggleSocialMedia/ToggleSocialMedia.module.scss
Due: prettier --write, stylelint --fix

fix: fix build error because assets folder out of src folder
  src/assets/logo.png
  src/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write

style: add scss variables to the component
  src/components/SocialAccordion/SocialAccordion.module.scss
  src/components/SocialAccordion/SocialAccordion.tsx
  src/components/SocialAccordion/assets/facebook.svg
  src/components/ToggleSocialMedia/ToggleSocialMedia.module.scss
  src/components/ToggleSocialMedia/components/UserImage/UserImage.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: change png placeholder to svg placeholder
  src/components/SocialAccordion/SocialAccordion.module.scss
  src/components/ToggleSocialMedia/ToggleSocialMedia.module.scss
  src/components/ToggleSocialMedia/ToggleSocialMedia.tsx
  src/components/ToggleSocialMedia/components/UserImage/UserImage.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

test: add tests for accordion
  src/components/SocialAccordion/SocialAccordion.module.scss
  src/components/SocialAccordion/SocialAccordion.spec.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: make functions that return html for better visualization of the component
  src/components/SocialAccordion/SocialAccordion.module.scss
  src/components/SocialAccordion/SocialAccordion.spec.tsx
  src/components/SocialAccordion/SocialAccordion.stories.tsx
  src/components/SocialAccordion/SocialAccordion.tsx
  src/components/SocialAccordion/SocialAccordion.type.ts
  src/components/ToggleSocialMedia/components/UserImage/UserImage.tsx
  src/styles/base.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: change userImage and variable declaration
  src/components/SocialAccordion/SocialAccordion.tsx
  src/components/ToggleSocialMedia/components/UserImage/UserImage.tsx
Due: eslint --fix, prettier --write

refactor: change social accordion to be inside sidebar
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.stories.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/assets/facebook.svg
Due: eslint --fix, prettier --write, stylelint --fix

Feat accordion (#139)
  package.json
  src/assets/logo.png
  src/components/Switch/Switch.module.scss
  src/components/ToggleSocialMedia/ToggleSocialMedia.module.scss
  src/components/ToggleSocialMedia/ToggleSocialMedia.stories.tsx
  src/components/ToggleSocialMedia/ToggleSocialMedia.tsx
  src/components/ToggleSocialMedia/ToggleSocialMedia.types.ts
  src/components/ToggleSocialMedia/components/UserImage/UserImage.module.scss
  src/components/ToggleSocialMedia/components/UserImage/UserImage.spec.tsx
  src/components/ToggleSocialMedia/components/UserImage/UserImage.stories.tsx
  src/components/ToggleSocialMedia/components/UserImage/UserImage.tsx
  src/components/ToggleSocialMedia/components/UserImage/UserImage.type.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.stories.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/assets/facebook.svg
  src/styles/base.scss
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

feat: add scrollbar for sidebar container
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: edit scrollbar margin
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: add scrollbar for sidebar container (#153)
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: add new search clue component
  src/components/SearchClue/SearchClue.module.scss
  src/components/SearchClue/SearchClue.tsx
  src/components/SearchClue/SearchClue.types.ts
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: edit sidebar and search clue
  src/components/SearchClue/SearchClue.module.scss
  src/components/SearchClue/SearchClue.tsx
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/images/dot.svg
  src/pages/home/home.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: edit the size of search clue
  src/components/SearchClue/SearchClue.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

test: add tests for search clue component
  src/components/SearchClue/SearchClue.spec.tsx
  src/components/SearchClue/SearchClue.tsx
Due: eslint --fix, prettier --write

refactor: replace @import with @use
  src/components/SearchClue/SearchClue.module.scss
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

feat: add new search clue component (#152)
  src/components/SearchClue/SearchClue.module.scss
  src/components/SearchClue/SearchClue.spec.tsx
  src/components/SearchClue/SearchClue.tsx
  src/components/SearchClue/SearchClue.types.ts
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/images/dot.svg
  src/pages/home/home.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: feat: added new button component
  src/components/Button/Button.module.scss
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

style: styles formatted correctly
  src/components/Button/Button.module.scss
Due: prettier --write, stylelint --fix

fix: fixing sass
  package.json
  src/components/TextArea/TextArea.module.scss
  src/styles/base.scss
Due: prettier --write, stylelint --fix

fix: normalize reborn
  package.json
  src/styles/base.scss
Due: prettier --write, stylelint --fix

fix: new fix @use sass
  src/components/CharacterLimit/CharacterLimit.module.scss
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/Switch/Switch.module.scss
  src/components/TextArea/TextArea.module.scss
  src/components/ToggleSocialMedia/ToggleSocialMedia.module.scss
  src/components/ToggleSocialMedia/components/UserImage/UserImage.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
  src/styles/base.scss
Due: prettier --write, stylelint --fix

fix: a new bug fix about @use
  src/components/TextArea/TextArea.module.scss
  src/styles/base.scss
Due: prettier --write, stylelint --fix

docs: Create new MD file
  FLOWISSUE.md
Due: none

fix: new fix @use sass (#159)
  src/components/CharacterLimit/CharacterLimit.module.scss
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/Switch/Switch.module.scss
  src/components/TextArea/TextArea.module.scss
  src/components/ToggleSocialMedia/ToggleSocialMedia.module.scss
  src/components/ToggleSocialMedia/components/UserImage/UserImage.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
  src/styles/base.scss
Due: prettier --write, stylelint --fix

fix: just a test
  src/components/Tabber/Tabber.spec.tsx
Due: eslint --fix, prettier --write

fix: fixing coment
  src/components/Tabber/Tabber.spec.tsx
Due: eslint --fix, prettier --write

fix: code stardardization
  src/components/Tabber/Tabber.spec.tsx
Due: eslint --fix, prettier --write
