Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

refactor: use tipe instead interface
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/PostModes/PostModes.types.ts
  src/components/Tabber/stores/useSocialNetworkStore.types.ts
Due: eslint --fix, prettier --write

Issue 434 - Corrigir problemas com componentes no ladle (#436)
  src/components/Button/Button.stories.tsx
  src/components/ComposerEditor/ComposerEditor.stories.tsx
  src/components/FeedbackError/FeedbackError.module.scss
  src/components/FeedbackError/FeedbackError.tsx
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabber.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: add TODO prefix in InputSearch tests
  src/components/InputSearch/InputSearch.spec.tsx
Due: eslint --fix, prettier --write

Adicionar typecheck no build e no pre-commit (#412)
  .eslintrc.cjs
  .github/actions/install-deps/action.yml
  .github/workflows/code-style.yml
  .github/workflows/main.yml
  .husky/pre-commit
  docs/HOW_TO_ADD_ICONS.md
  electron/main.ts
  package.json
  packages/module-manager/.eslintrc.cjs
  packages/module-manager/package.json
  packages/module-manager/src/types/OctoModule.ts
  packages/module-manager/tsconfig.json
  packages/module-manager/vite.config.ts
  pnpm-lock.yaml
  src/components/Button/Button.stories.tsx
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
  src/components/ComposerEditor/ComposerEditor.stories.tsx
  src/components/ComposerEditor/ComposerEditor.types.ts
  src/components/ContentEditor/ContentEditor.stories.tsx
  src/components/FeedbackError/FeedbackError.tsx
  src/components/Icon/Icon.spec.tsx
  src/components/Icon/Icon.tsx
  src/components/Icon/Icon.types.ts
  src/components/Icon/icon.stories.tsx
  src/components/InputSearch/InputSearch.spec.tsx
  src/components/InputSearch/InputSearch.stories.tsx
  src/components/MainComposer/MainComposer.tsx
  src/components/Modal/Modal.tsx
  src/components/Tabber/PostModes/PostModes.module.scss
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/PostModes/PostModes.types.ts
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/stores/useSocialNetworkStore.tsx
  src/components/Tabber/stores/useSocialNetworkStore.types.ts
  src/env.d.ts
  src/globals.d.ts
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/utils/test.ts
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: remove eslint write-good-comments/write-good-comments
  .eslintrc.cjs
Due: none

refactor: use status code enum
  electron/main.ts
Due: eslint --fix, prettier --write

refactor: inputmedia and mediainput transformed into inputmediacomposer
  src/components/ContentEditor/ContentEditor.module.scss
  src/components/InputMedia/InputMedia.stories.tsx
  src/components/InputMediaComposer/InputMediaButton/InputMediaButton.mock.tsx
  src/components/InputMediaComposer/InputMediaButton/InputMediaButton.module.scss
  src/components/InputMediaComposer/InputMediaButton/InputMediaButton.spec.ct.tsx
  src/components/InputMediaComposer/InputMediaButton/InputMediaButton.spec.tsx
  src/components/InputMediaComposer/InputMediaButton/InputMediaButton.tsx
  src/components/InputMediaComposer/InputMediaButton/InputMediaButton.types.ts
  src/components/InputMediaComposer/InputMediaButton/MediaButton.stories.tsx
  src/components/InputMediaComposer/InputMediaButton/assets/imageEmptyGray.svg
  src/components/InputMediaComposer/InputMediaComposer.module.scss
  src/components/InputMediaComposer/InputMediaComposer.spec.ct.tsx
  src/components/InputMediaComposer/InputMediaComposer.spec.tsx
  src/components/InputMediaComposer/InputMediaComposer.stories.tsx
  src/components/InputMediaComposer/InputMediaComposer.tsx
  src/components/InputMediaComposer/InputMediaGroup/InputMediaGroup.tsx
  src/components/InputMediaComposer/InputMediaGroup/InputMediaGroup.types.ts
  src/components/MainComposer/MainComposer.tsx
  src/components/MediaInputs/MediaInput.stories.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: corrections after review
  src/components/Tabber/Tabs/Tabs.module.scss
  src/components/Tabber/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: going back to the to its initial state
  src/components/Tabber/PostModes/PostModes.tsx
Due: eslint --fix, prettier --write

refactor: remove null and going back tabs files, to initial state
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabs/Tabs.module.scss
  src/components/Tabber/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: correction PostModes after review
  src/components/Tabber/PostModes/PostModes.tsx
Due: eslint --fix, prettier --write

feat: create tab ALL to mobile screens
  packages/module-manager/src/types/OctoModule.ts
  packages/module-manager/src/types/PostModes.ts
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/PostModes/PostModes.types.ts
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabber.types.ts
  src/components/Tabber/Tabs/Tabs.module.scss
  src/components/Tabber/Tabs/Tabs.tsx
  src/components/Tabber/stores/useSocialNetworkStore.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: create and use hook useMediaQuery
  src/components/Tabber/stores/useSocialNetworkStore.tsx
  src/hooks/useMediaQuery/useMediaQuery.spec.ts
  src/hooks/useMediaQuery/useMediaQuery.ts
Due: eslint --fix, prettier --write

feat: update tabber to use hook
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/stores/useSocialNetworkStore.tsx
Due: eslint --fix, prettier --write

fix: mediaQuery
  src/hooks/useMediaQuery/useMediaQuery.ts
Due: eslint --fix, prettier --write

fix: useMediaQuery and use useMedia from 'react-use'
  src/hooks/useMediaQuery/useMediaQuery.ts
Due: eslint --fix, prettier --write

feat: create style in mobile screan and create initial test hook
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabs/Tabs.module.scss
  src/hooks/useMediaQuery/useMediaQuery.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: install react-use
  package.json
  pnpm-lock.yaml
Due: none

chore: remove react-use
  package.json
  pnpm-lock.yaml
Due: none

chore: added plugin eslint
  package.json
  pnpm-lock.yaml
Due: none

fix: correct mockImplementation in unit test useMediaQuery
  src/hooks/useMediaQuery/useMediaQuery.spec.ts
Due: eslint --fix, prettier --write

refactor: removing abstractions and limiting values sent to useMediaQuery
  src/components/Tabber/Tabber.tsx
Due: eslint --fix, prettier --write

refactor: improve hook
  src/hooks/useMediaQuery/useMediaQuery.ts
Due: eslint --fix, prettier --write

chore: correct pnpm-lock
  pnpm-lock.yaml
Due: none

fix: resolve bug in component after rebase
  src/components/Tabber/Tabber.tsx
Due: eslint --fix, prettier --write

refactor: re-putting types in function returns
  src/components/Tabber/PostModes/PostModes.tsx
Due: eslint --fix, prettier --write

chore: add icon element and remove unused roles
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
Due: eslint --fix, prettier --write

fix: the types of component
  src/components/Accordion/Accordion.tsx
  src/components/AccordionTab/AccordionTab.tsx
Due: eslint --fix, prettier --write

fix: readjusing the stories
  src/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write

fix: readjusing the stories (#443)
  src/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write

refactor: delete write good coments from eslint
  package.json
  pnpm-lock.yaml
Due: none

fix: inputmediacomposer break the line correctly
  src/components/ContentEditor/ContentEditor.tsx
  src/components/InputMediaComposer/InputMediaComposer.module.scss
  src/components/InputMediaComposer/InputMediaComposer.stories.tsx
  src/components/InputMediaComposer/InputMediaComposer.tsx
  src/components/InputMediaComposer/InputMediaGroup/InputMediaGroup.tsx
  src/components/MainComposer/MainComposer.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: create a module and connect a tabber
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/components/Tabber/Tabber.tsx
  src/stores/useModulesStore.ts
  src/stores/useModulesStore.types.ts
Due: eslint --fix, prettier --write

Revert "fix: readjusing the stories"
  src/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write

fix: gap Media Container ajusted
  src/components/InputMediaComposer/InputMediaComposer.module.scss
Due: prettier --write, stylelint --fix

fix: readjusing the stories (#445)
  src/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write

fix: main Composer Input Media class fixed name
  src/components/ContentEditor/ContentEditor.module.scss
Due: prettier --write, stylelint --fix

fix: input media button stories name fixed
  src/components/InputMediaComposer/InputMediaButton/InputMediaButton.stories.tsx
Due: eslint --fix, prettier --write

Delete src/components/InputMediaComposer/InputMediaComposer.module.scss
  src/components/InputMediaComposer/InputMediaComposer.module.scss
Due: prettier --write, stylelint --fix

fix: media button stories delete
  src/components/InputMediaComposer/InputMediaButton/MediaButton.stories.tsx
Due: eslint --fix, prettier --write
