Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: modify code-style to explicit permit write and read
  .github/workflows/code-style.yml
Due: none

chore: update vitest config to fix wrong settings
  package.json
  pnpm-lock.yaml
  src/components/InputSearch/InputSearch.spec.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: update coverage thresholds
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: change code test style eslint action
  .github/workflows/code-style.yml
Due: none

chore: remove code-style style eslint action
  .github/workflows/code-style.yml
Due: none

refactor: change span to button for better accessibility
  src/components/Tabber/PostModes/PostModes.tsx
Due: eslint --fix, prettier --write

chore: update eslint.cjs
  .eslintrc.cjs
  .github/workflows/code-style.yml
  package.json
  packages/module-manager/.eslintrc.cjs
  packages/module-manager/package.json
  pnpm-lock.yaml
Due: none

chore: update eslint.cjs
  .eslintrc.cjs
  packages/ui/.eslintrc.cjs
  packages/ui/.gitignore
  packages/ui/README.md
  packages/ui/lib/Example/Example.spec.tsx
  packages/ui/lib/Example/Example.stories.tsx
  packages/ui/lib/Example/Example.tsx
  packages/ui/lib/Example/Example.types.ts
  packages/ui/lib/Example/index.ts
  packages/ui/lib/index.ts
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: create ui package
  packages/ui/.eslintrc.cjs
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/components/Example/Example.spec.tsx
  packages/ui/src/components/Example/Example.stories.tsx
  packages/ui/src/components/Example/Example.tsx
  packages/ui/src/components/Example/Example.types.ts
  packages/ui/src/components/Example/index.ts
  packages/ui/src/components/index.ts
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useHelloWorld/index.ts
  packages/ui/src/hooks/useHelloWorld/useHelloWorld.ts
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  packages/ui/vite.config.ts
  packages/ui/vitest.config.ts
Due: eslint --fix, prettier --write

chore: add ladle to lib ui
  packages/ui/.ladle/components.tsx
  packages/ui/.ladle/styles.scss
  packages/ui/package.json
  packages/ui/src/components/Example/Example.stories.tsx
  packages/ui/tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: add vitest
  packages/ui/package.json
Due: none

chore: add vitest testing
  .eslintrc.cjs
  package.json
  packages/ui/.eslintrc.cjs
  packages/ui/package.json
  packages/ui/setupTests.ts
  packages/ui/src/components/Example/Example.spec.tsx
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: add base component
  package.json
  packages/ui/package.json
  packages/ui/src/components/Example/Example.spec.tsx
  packages/ui/src/components/Example/Example.stories.js
  packages/ui/src/components/Example/Example.tsx
  packages/ui/src/components/Example/index.ts
  packages/ui/src/components/index.ts
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useHelloWorld/index.ts
  packages/ui/src/hooks/useHelloWorld/useHelloWorld.spec.ts
  packages/ui/src/hooks/useHelloWorld/useHelloWorld.ts
  packages/ui/src/index.ts
  packages/ui/tsconfig.build.json
  packages/ui/tsconfig.json
  packages/ui/vite.config.ts
Due: eslint --fix, prettier --write

chore: add exports
  package.json
  packages/ui/package.json
  packages/ui/src/components/Example/Example.stories.js
  packages/ui/src/components/Example/index.ts
  packages/ui/src/components/index.ts
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

change codeowner file to wildcard all files
  .github/CODEOWNERS
Due: none

change codeowners to wildcard all files (#377)
  .github/CODEOWNERS
Due: none

chore: re-add code style eslint annotations
  .github/workflows/code-style.yml
Due: none

chore: update eslint annotations
  .github/workflows/code-style.yml
Due: none

chore: update actions to not have write permission on forks
  .github/workflows/code-style.yml
  .github/workflows/main.yml
Due: none

chore: remove duplicated extends
  .eslintrc.cjs
Due: none

chore: update dependencies and vitest to not break pipeline
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: update eslint config rules to fix broken rules
  .eslintrc.cjs
Due: none

chore: update actions syntax
  .github/workflows/code-style.yml
  .github/workflows/main.yml
Due: none

chore: package json scripts
  package.json
Due: none

chore: create SentrySetup component
  src/components/SentrySetup/SentrySetup.tsx
Due: eslint --fix, prettier --write

fix: export SentryRoutes component
  src/components/SentrySetup/SentrySetup.tsx
Due: eslint --fix, prettier --write

chore: finished SentrySetup component
  src/App.tsx
  src/components/SentrySetup/SentrySetup.tsx
Due: eslint --fix, prettier --write

Update dependencies and eslint config rules (#385)
  .eslintrc.cjs
  .github/workflows/code-style.yml
  .github/workflows/main.yml
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write

Feat: include the icon component
  src/components/AccordionTab/AccordionTab.tsx
Due: eslint --fix, prettier --write

style: changes applying from revisions on pr and lint warnings
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Style: Add some initial configs to mobile view
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Style: Transform to mobile first
  src/components/AccordionTab/AccordionTab.module.scss
Due: prettier --write, stylelint --fix

Style: removing the width in img and svg icon
  src/components/Button/Button.module.scss
Due: prettier --write, stylelint --fix

refactor: applying the path alias to @usue
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

fix: removing the button used for tests
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

refactor: some changes following the reviews in pr
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

Style: final adjusts to mobile version
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/AccordionTab/AccordionTab.tsx
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/assets/plusIcon.svg
  src/pages/home/components/Sidebar/components/PlusIcon.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: adjust TextInput to fill the container
  src/components/MainComposer/MainComposer.module.scss
Due: prettier --write, stylelint --fix

feat: include max-length-characters in characters remaining indicator & resize accordion-tab circle
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
