Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor: move render search clue to outside
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

docs: improve accordion template
  src/components/Accordion/Accordion.stories.tsx
Due: eslint --fix, prettier --write

refactor: move header to renderHeader function
  src/components/AccordionTab/AccordionTab.tsx
Due: eslint --fix, prettier --write

feat: rename portal to modal
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.spec.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/components/Portal/Portal.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: update SideBar to use Modal
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: rename styles import to scss
  src/components/AccordionTab/AccordionTab.tsx
Due: eslint --fix, prettier --write

feat: increase accordionTab font-size
  src/components/AccordionTab/AccordionTab.module.scss
Due: prettier --write, stylelint --fix

docs: Remove Comment
  .husky/prepare-commit-msg
Due: none

fix: add augmentation in vite.config.ts
  package.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: vitest wrong configuration
  package.json
  src/components/Accordion/Accordion.spec.tsx
  src/components/ErrorBoundary/ErrorBoundary.spec.tsx
  src/components/FirstComment/FirstComment.spec.tsx
  src/setupTests.js
  src/setupTests.ts
  vite.config.ts
  vitest.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: change process to import.meta
  src/App.tsx
  src/env.d.ts
Due: eslint --fix, prettier --write

fix: remove unused eslint directive
  vite.config.ts
Due: eslint --fix, prettier --write

Corrige os erros causados pelo migração para o vite (#239)
  package.json
  src/App.tsx
  src/components/Accordion/Accordion.spec.tsx
  src/components/ErrorBoundary/ErrorBoundary.spec.tsx
  src/components/FirstComment/FirstComment.spec.tsx
  src/env.d.ts
  src/setupTests.js
  src/setupTests.ts
  vite.config.ts
  vitest.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Chore: Code of Conduct updated
  CODE_OF_CONDUCT.md
Due: none

Chore: Code of Conduct updated (#248)
  CODE_OF_CONDUCT.md
Due: none

feat: create Tabber Component
  src/components/Tabber/Tabber.module.scss
  src/components/Tabber/Tabber.spec.tsx
  src/components/Tabber/Tabber.stories.tsx
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabber.types.tsx
  src/components/Tabber/Tabs/Tabs.module.scss
  src/components/Tabber/Tabs/Tabs.tsx
  src/components/Tabber/Tabs/Tabs.types.ts
  src/components/Tabber/components/TabberCompose/RenderNetwork.tsx
  src/components/Tabber/components/Tabs/TabsTabber.module.scss
  src/components/Tabber/components/Tabs/TabsTabber.tsx
  src/components/Tabber/components/TextAreaTabber/TextAreaTabber.module.scss
  src/components/Tabber/components/TextAreaTabber/TextAreaTabber.tsx
  src/components/Tabber/components/TextAreaTabber/TextAreaTabber.types.ts
  src/components/Tabber/networkListMock.ts
  src/components/Tabber/stores/useSocialNetworkStore.tsx
  src/components/Tabber/stores/useSocialNetworkStore.types.ts
  src/modules/example-module1/postModes/story.tsx
  src/modules/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add BreakPoint
  src/components/MainComposer/MainComposer.module.scss
  src/styles/global.scss
Due: prettier --write, stylelint --fix

Chore: change yarn to pnpm and remove deprecated dependencies
  package.json
  pnpm-lock.yaml
Due: none

Doc: Correcting the doc to pnpm comands and change org to devhatt
  README.md
Due: none

Doc: add .git to repository link
  README.md
Due: none

Chore: change yarn to pnpm on actions and dependabot
  .github/dependabot.yml
  .github/workflows/main.yml
Due: none

Chore: apply cache in actions and install pnpm on the machine
  .github/workflows/main.yml
Due: none

Chore: remove the cache from node setup
  .github/workflows/main.yml
Due: none

Fix: change watch for silent in vitest
  .github/workflows/main.yml
Due: none

Fix: forgot to add the word dependencies
  .github/workflows/main.yml
Due: none

Chore: update lock file
  pnpm-lock.yaml
Due: none

feat: Incorporate inputMedia into mainComposer (#185)
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.spec.ct.tsx
  src/components/MainComposer/MainComposer.tsx
  src/components/MediaInputs/MediaInput.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: just code style
  src/components/AccordionTab/AccordionTab.tsx
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: Change to reduce complexity of Tabber Component
  src/components/Tabber/PostModes/PostModes.module.scss
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/PostModes/PostModes.types.ts
  src/components/Tabber/Preview/Preview.tsx
  src/components/Tabber/Preview/Preview.types.ts
  src/components/Tabber/Tabber.module.scss
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: Remove Tabber from home
  src/components/Tabber/PostModes/PostModes.module.scss
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/PostModes/PostModes.types.ts
  src/components/Tabber/Preview/Preview.tsx
  src/components/Tabber/Preview/Preview.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: update playwright to use tsconfigPaths
  playwright-ct.config.ts
Due: eslint --fix, prettier --write

fix: update playwright config
  playwright-ct.config.ts
Due: eslint --fix, prettier --write

Change pixel for rem, add variables and adjust breakpoint size
  src/components/MainComposer/MainComposer.module.scss
  src/components/SavBar/SavBar.module.scss
  src/pages/home/components/Header/Header.module.scss
  src/styles/global.scss
Due: prettier --write, stylelint --fix

Adiciona botão de adicionar nova conta (#228)
  playwright-ct.config.ts
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Accordion.stories.tsx
  src/components/Accordion/Accordion.tsx
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/AccordionTab/AccordionTab.spec.tsx
  src/components/AccordionTab/AccordionTab.stories.tsx
  src/components/AccordionTab/AccordionTab.tsx
  src/components/AccordionTab/AccordionTab.types.ts
  src/components/InputSearch/InputSearch.module.scss
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.tsx
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.spec.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

Change yarn to pnpm and remove deprecated dependencies (#245)
  .github/dependabot.yml
  .github/workflows/main.yml
  README.md
  package.json
  pnpm-lock.yaml
Due: none

refactor: Change some maps to clean the code
  src/components/Tabber/PostModes/PostModes.module.scss
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/Tabs/Tabs.module.scss
  src/components/Tabber/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: update husky packageManager
  .husky/commit-msg
Due: none

fix: remove nvmrc and add an npmrc
  .npmrc
  .nvmrc
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
