Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: fixing my engrish skills
  src/components/Tabber/Tabber.spec.tsx
Due: eslint --fix, prettier --write

feat: character limit for social networks
  src/components/CharacterLimit/CharacterLimit.module.scss
  src/components/CharacterLimit/CharacterLimit.spec.tsx
  src/components/CharacterLimit/CharacterLimit.tsx
  src/components/CharacterLimitMainText/CharacterLimit.module.scss
  src/components/CharacterLimitMainText/CharacterLimit.spec.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.types.ts
  src/components/CharacterLimitMainText/images/PlaceHolder.svg
  src/components/CharacterLimitMainText/networkListMock.ts
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: fixing some issues for character limit
  src/components/CharacterLimit/CharacterLimit.module.scss
  src/components/CharacterLimitMainText/CharacterLimit.module.scss
  src/components/ComposerEditor/ComposerEditor.module.scss
Due: prettier --write, stylelint --fix

fix: code standardization
  src/components/CharacterLimitMainText/CharacterLimit.spec.tsx
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

fix: fixing name
  src/components/CharacterLimitMainText/CharacterLimitMainText.tsx
Due: eslint --fix, prettier --write

fix: add test for tabbers (#155)
  src/components/Tabber/Tabber.spec.tsx
Due: eslint --fix, prettier --write

feat: Add Main Composer Container
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.stories.tsx
  src/components/MainComposer/MainComposer.tsx
  src/components/MainComposer/MainComposer.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fixing more bugs
  src/components/CharacterLimitMainText/CharacterLimit.module.scss
  src/components/CharacterLimitMainText/CharacterLimitMainText.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.types.ts
  src/components/CharacterLimitMainText/components/CharacterComp.module.scss
  src/components/CharacterLimitMainText/components/CharacterComp.tsx
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: rewriting some css
  src/components/CharacterLimitMainText/CharacterLimit.module.scss
  src/components/CharacterLimitMainText/components/CharacterComp.module.scss
Due: prettier --write, stylelint --fix

fix: bug on name
  src/components/CharacterLimitMainText/components/CharacterComp.tsx
Due: eslint --fix, prettier --write

fix: new name fix
  src/components/CharacterLimitMainText/components/CharacterComp.tsx
  src/components/CharacterLimitMainText/images/svgMock.svg
Due: eslint --fix, prettier --write

style: removed unnecessary styles and removed props destructuring
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: Edit padding title
  src/components/MainComposer/MainComposer.module.scss
Due: prettier --write, stylelint --fix

feat: Edit text area and remove comments.
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.tsx
  src/components/MainComposer/MainComposer.types.ts
  src/components/TextArea/TextArea.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: added button variations to ladle
  src/components/Button/Button.stories.tsx
  src/components/Button/icons/LocationIcon.jsx
Due: eslint --fix, prettier --write

style: Add Link
  CONTRIBUTING.md
Due: none

feat: create a inputSearch component
  .vscode/extensions.json
  package.json
  src/components/InputSearch/IInputProps.types.ts
  src/components/InputSearch/InputSearch.module.scss
  src/components/InputSearch/InputSearch.spec.tsx
  src/components/InputSearch/InputSearch.stories.tsx
  src/components/InputSearch/InputSearch.tsx
  src/components/InputSearch/assets/alertIcon.svg
  src/components/InputSearch/assets/leftIcon.svg
  src/components/InputSearch/assets/rightIcon.svg
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix a missing props in mock tests
  package.json
  src/components/InputSearch/InputSearch.spec.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: some unused prop types
  src/components/InputSearch/IInputProps.types.ts
  src/components/InputSearch/InputSearch.spec.tsx
  src/components/InputSearch/InputSearch.tsx
Due: eslint --fix, prettier --write

fix: inputElement.value needs to be a as htmlinputelement to have value
  .vscode/extensions.json
  src/components/InputSearch/InputSearch.spec.tsx
Due: eslint --fix, prettier --write

fix: fix lint
  src/components/InputSearch/InputSearch.tsx
Due: eslint --fix, prettier --write

fix: refactor a entire component
  src/components/CharacterLimit/CharacterLimit.module.scss
  src/components/CharacterLimit/CharacterLimit.spec.tsx
  src/components/CharacterLimit/CharacterLimit.tsx
  src/components/CharacterLimitMainText/CharacterLimit.module.scss
  src/components/CharacterLimitMainText/CharacterLimit.spec.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.spec.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.tsx
  src/components/CharacterLimitMainText/components/CharacterComp.module.scss
  src/components/CharacterLimitMainText/components/CharacterComp.tsx
  src/components/CharacterLimitMainText/components/CharacterComp/CharacterComp.tsx
  src/components/CharacterLimitMainText/components/CharacterComp/CharacterLimit/CharacterLimit.module.scss
  src/components/CharacterLimitMainText/components/CharacterComp/CharacterLimit/CharacterLimit.spec.tsx
  src/components/CharacterLimitMainText/components/CharacterComp/CharacterLimit/CharacterLimit.stories.tsx
  src/components/CharacterLimitMainText/components/CharacterComp/CharacterLimit/CharacterLimit.tsx
  src/components/CharacterLimitMainText/components/CharacterComp/CharacterLimit/CharacterLimit.types.ts
  src/components/CharacterLimitMainText/components/CharacterComp/CharacterLimit/images/FacebookSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComp/CharacterLimit/images/GithubSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComp/CharacterLimit/images/InstagramSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComp/CharacterLimit/images/LinkedinSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComp/CharacterLimit/images/ThreadsSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComp/CharacterLimit/images/TwitterSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComp/CharacterLimit/images/exports.tsx
  src/components/CharacterLimitMainText/images/svgMock.svg
  src/components/CharacterLimitMainText/networkListMock.ts
  src/components/ComposerEditor/ComposeEditor.spec.tsx
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/Tabber/components/TextAreaTabber/TextAreaTabber.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: Add flowIssues (#156)
  CONTRIBUTING.md
  FLOWISSUE.md
Due: none

fix: change px to rem
  src/components/InputSearch/InputSearch.module.scss
Due: prettier --write, stylelint --fix

fix: switch test model to our styleguide
  src/components/InputSearch/InputSearch.spec.tsx
Due: eslint --fix, prettier --write

fix: fixed issues
  src/components/CharacterLimitMainText/CharacterLimitMainText.spec.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterComposition.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/CharacterLimit.module.scss
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/CharacterLimit.spec.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/CharacterLimit.stories.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/CharacterLimit.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/CharacterLimit.types.ts
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/images/FacebookSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/images/GithubSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/images/InstagramSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/images/LinkedinSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/images/ThreadsSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/images/TwitterSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/images/exports.tsx
  src/components/ComposerEditor/ComposerEditor.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: creating module way
  src/enums/httpStatusCodes.ts
  src/interfaces/module.ts
  src/services/mock-module.tsx
  src/types/object.ts
Due: eslint --fix, prettier --write

feat: Add className and Sort the hierarchy
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: all PR change reviews
  src/components/InputSearch/IInputProps.types.ts
  src/components/InputSearch/InputSearch.module.scss
  src/components/InputSearch/InputSearch.spec.tsx
  src/components/InputSearch/InputSearch.stories.tsx
  src/components/InputSearch/InputSearch.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: first mock module for testing
  src/modules/example-module1/example-module1.tsx
  src/modules/example-module1/postModes/story.tsx
  src/modules/example-module1/service/service.ts
  src/modules/example-module1/widgets/location.tsx
  src/modules/index.ts
  src/modules/types.ts
  src/services/mock-module.tsx
Due: eslint --fix, prettier --write

fix: eslint error
  src/components/InputSearch/IInputProps.types.ts
  src/components/InputSearch/InputSearch.tsx
Due: eslint --fix, prettier --write

feat: Fix the position
  src/components/MainComposer/MainComposer.module.scss
Due: prettier --write, stylelint --fix

fix: fix lint and types
  src/components/InputSearch/IInputProps.types.ts
  src/components/InputSearch/InputSearch.tsx
Due: eslint --fix, prettier --write

refactor: change some ternary operators to short-circuit evalutions
  src/components/Button/Button.tsx
Due: eslint --fix, prettier --write

refactor: change deprecated syntax @import to @use
  src/components/Button/Button.module.scss
Due: prettier --write, stylelint --fix

refactor: refacot 90% of the code
  src/components/CharacterLimitMainText/CharacterLimitMainText.spec.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.types.ts
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterComposition.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/CharacterLimit.spec.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/CharacterLimit.stories.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/CharacterLimit.types.ts
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/images/FacebookSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/images/GithubSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/images/InstagramSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/images/LinkedinSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/images/ThreadsSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/images/TwitterSVG.tsx
  src/components/CharacterLimitMainText/components/CharacterComposition/CharacterLimit/images/exports.tsx
  src/components/CharacterLimitMainText/components/CharacterLimit.module.scss
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
  src/components/CharacterLimitMainText/networkListMock.ts
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: update error code
  src/modules/example-module1/example-module1.tsx
  src/modules/example-module1/postModes/story.tsx
Due: eslint --fix, prettier --write

fix: fixing bugs
  src/components/CharacterLimitMainText/CharacterLimitMainText.module.scss
  src/components/CharacterLimitMainText/CharacterLimitMainText.spec.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.types.ts
  src/components/CharacterLimitMainText/components/CharacterLimit.module.scss
  src/components/CharacterLimitMainText/components/CharacterLimit.spec.tsx
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
  src/components/ComposerEditor/ComposerEditor.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: Add Main Composer Container (#161)
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.stories.tsx
  src/components/MainComposer/MainComposer.tsx
  src/components/TextArea/TextArea.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: fixed tests
  src/components/CharacterLimitMainText/CharacterLimitMainText.spec.tsx
  src/components/CharacterLimitMainText/components/CharacterLimit.spec.tsx
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
