Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

fix: eslint fix
  mock-api.json
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

fix: onchange composerEditor fixed
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
Due: eslint --fix, prettier --write

chore: adapt the content editor to receive the error
  mock-api.json
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
Due: eslint --fix, prettier --write

chore: add new env VITE_ENVIRONMENT
  .env.example
  src/env.d.ts
Due: eslint --fix, prettier --write

chore: add @redux-devtools/extension to use with zustand
  package.json
  pnpm-lock.yaml
Due: none

feat: add devtools to zustand
  src/stores/useError/useError.ts
  src/stores/usePostsStore.ts
  src/stores/zustand.ts
Due: eslint --fix, prettier --write

fix: imput media group arch fixed
  src/components/ComposerEditor/ComposerEditor.types.ts
  src/components/ContentEditor/ContentEditor.module.scss
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.ct.spec.tsx
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.module.scss
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.spec.tsx
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.stories.tsx
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.tsx
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.type.ts
  src/components/MainComposer/components/InputMediaGroup/components/InputMedia/InputMedia.ct.spec.tsx
  src/components/MainComposer/components/InputMediaGroup/components/InputMedia/InputMedia.mock.tsx
  src/components/MainComposer/components/InputMediaGroup/components/InputMedia/InputMedia.module.scss
  src/components/MainComposer/components/InputMediaGroup/components/InputMedia/InputMedia.spec.tsx
  src/components/MainComposer/components/InputMediaGroup/components/InputMedia/InputMedia.stories.tsx
  src/components/MainComposer/components/InputMediaGroup/components/InputMedia/InputMedia.tsx
  src/components/MainComposer/components/InputMediaGroup/components/InputMedia/InputMedia.types.ts
  src/components/MainComposer/components/InputMediaGroup/components/InputMedia/assets/imageEmptyGray.svg
  src/components/MainComposer/components/InputMediaGroup/components/MediaPreview/MediaPreview.tsx
  src/components/MainComposer/components/InputMediaGroup/components/MediaPreview/MediaPreview.types.ts
  src/components/MainComposer/components/InputMediaGroup/utils/fileValidator/fileValidator.ts
  src/components/MainComposer/components/InputMediaGroup/utils/fileValidator/fileValidator.types.ts
  src/components/MainComposer/components/InputMediaGroup/utils/mediaValidator/imageValidator/imageData.type.ts
  src/components/MainComposer/components/InputMediaGroup/utils/mediaValidator/imageValidator/imageValidator.spec.ts
  src/components/MainComposer/components/InputMediaGroup/utils/mediaValidator/imageValidator/imageValidator.ts
  src/components/MainComposer/components/InputMediaGroup/utils/mediaValidator/interfaces/fileValidator.types.ts
  src/components/MainComposer/components/InputMediaGroup/utils/mediaValidator/mediaValidator.spec.ts
  src/components/MainComposer/components/InputMediaGroup/utils/mediaValidator/mediaValidators.ts
  src/components/MainComposer/components/InputMediaGroup/utils/mediaValidator/utils/getAspectRatio.ts
  src/components/MainComposer/components/InputMediaGroup/utils/mediaValidator/videoValidator/videoData.type.ts
  src/components/MainComposer/components/InputMediaGroup/utils/mediaValidator/videoValidator/videoValidator.spec.ts
  src/components/MainComposer/components/InputMediaGroup/utils/mediaValidator/videoValidator/videoValidator.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
  src/components/MainComposer/components/MediaInputs/MediaGroup/MediaGroup.types.ts
  src/components/MainComposer/components/MediaInputs/MediaInput.stories.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: composer editor test fixed
  src/components/MainComposer/components/ComposerEditor/ComposeEditor.spec.tsx
Due: eslint --fix, prettier --write

fix: remove preview and adjustments to the preview component
  src/components/ComponentPreview/PreviewContainer.spec.tsx
  src/components/ComponentPreview/PreviewContainer.stories.tsx
  src/components/ComponentPreview/PreviewContainer.tsx
  src/components/ComponentPreview/PreviewContainer.types.ts
  src/components/Preview/Preview.module.scss
  src/components/Preview/Preview.spec.tsx
  src/components/Preview/Preview.stories.tsx
  src/components/Preview/Preview.tsx
  src/components/Preview/Preview.types.ts
  src/components/Tabber/Tabber.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: tabber fix
  src/components/Tabber/Tabber.tsx
Due: eslint --fix, prettier --write

fix: preview props type
  src/components/Preview/Preview.tsx
  src/components/Preview/Preview.types.ts
Due: eslint --fix, prettier --write

fix: portuguese text
  src/components/Preview/Preview.spec.tsx
Due: eslint --fix, prettier --write

fix: remove I from type name
  src/components/Preview/Preview.tsx
  src/components/Preview/Preview.types.ts
Due: eslint --fix, prettier --write

fix: remove preview and adjustments to the preview component (#537)
  src/components/ComponentPreview/PreviewContainer.spec.tsx
  src/components/ComponentPreview/PreviewContainer.stories.tsx
  src/components/ComponentPreview/PreviewContainer.tsx
  src/components/ComponentPreview/PreviewContainer.types.ts
  src/components/Preview/Preview.module.scss
  src/components/Preview/Preview.spec.tsx
  src/components/Preview/Preview.stories.tsx
  src/components/Preview/Preview.tsx
  src/components/Preview/Preview.types.ts
  src/components/Tabber/Tabber.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Adiciona redux devtools para simplificar o desenvolvimento com zustand. (#538)
  .env.example
  package.json
  pnpm-lock.yaml
  src/env.d.ts
  src/stores/useError/useError.ts
  src/stores/usePostsStore.ts
  src/stores/zustand.ts
Due: eslint --fix, prettier --write

test: fix broken tests
  eslint.config.mjs
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/stores/__mocks__/useSocialMediaStore.mock.ts
Due: eslint --fix, prettier --write

feat: selection input for add social media
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

refactor: change folder for Sidebar/components
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.types.ts
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaList.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: types and config props modal component
  src/components/AccountCard/AccountCard.tsx
  src/components/SocialMediaForm/SocialMediaForm.tsx
  src/components/SocialMediaForm/SocialMediaForm.types.ts
  src/components/SocialMediaForm/SocialMediaList.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: make options for select social media
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaList.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add style for social grid
  public/social-github.svg
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaList.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: add button component
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
Due: eslint --fix, prettier --write

fix: resize width modal content
  src/components/Modal/Modal.module.scss
Due: prettier --write, stylelint --fix

refactor: set icons social medias
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaList.module.scss
  src/pages/home/components/Sidebar/components/SocialMediaForm/images/facebook.svg
  src/pages/home/components/Sidebar/components/SocialMediaForm/images/instagram.svg
  src/pages/home/components/Sidebar/components/SocialMediaForm/images/tiktok.svg
  src/pages/home/components/Sidebar/components/SocialMediaForm/images/twitter.svg
Due: eslint --fix, prettier --write, stylelint --fix

fix: reset scrollbar
  src/components/Modal/Modal.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaList.module.scss
  src/styles/base.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: style align social media form
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
Due: eslint --fix, prettier --write

refactor: atualização do projeto com feats novas
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.types.ts
Due: eslint --fix, prettier --write

refactor: estilos comentados e evento de click para fechar modal
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaList.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: add input affixes
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
  src/components/Icon/Icon.types.ts
  src/components/Icon/icon.stories.tsx
  src/components/InputSearch/InputSearch.module.scss
  src/components/InputSearch/InputSearch.stories.tsx
  src/components/InputSearch/InputSearch.tsx
  src/components/InputSearch/InputSearch.types.ts
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: adjust use social media store logic & create its test
  .vscode/settings.json
  package.json
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabs/Tabs.tsx
  src/components/Tabber/utils.ts
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/AddAccount/AddAccount.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.stories.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/mocksMidiaData.ts
  src/pages/home/home.tsx
  src/services/api/accounts/accounts.types.ts
  src/stores/usePostsStore.spec.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.spec.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: remove and fix conflicts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write

chore: update the store explain comment
  src/stores/useSocialMediaStore/useSocialMediaStore.spec.ts
Due: eslint --fix, prettier --write

chore: update the side bar logic based on the store changes & adjust the test
  package.json
Due: none

chore: adjust home logic, gitignore & test comment
  .gitignore
  src/pages/home/home.tsx
  src/stores/useSocialMediaStore/useSocialMediaStore.spec.ts
Due: eslint --fix, prettier --write

chore: add changes on getignore
  .gitignore
Due: none

chore: add change in gitignore
  .gitignore
Due: none

chore: delete vscode folder from pull request
  .vscode/settings.json
Due: none

chore: adjust conficts changes after second formatting
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write

chore: adjust the tsconfig conflict reported by xulia
  tsconfig.json
Due: none
