Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

Issue 429 (#450)
  src/components/Button/Button.module.scss
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  src/components/SubmitButton/SubmitButton.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Update README.md
  README.md
Due: none

refactor: use mock data for social accordion rendering
  pnpm-lock.yaml
  src/components/AccountCard/AccountCard.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/mocksMidiaData.ts
Due: eslint --fix, prettier --write

fix: content not displaying on sidebar
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

style: simple settings
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write, stylelint --fix

style: simple settings
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
Due: prettier --write, stylelint --fix

fix: lint return rule
  src/hooks/useMediaQuery/useMediaQuery.ts
Due: eslint --fix, prettier --write

style: simple settings
  pnpm-lock.yaml
  src/components/AccountCard/AccountCard.tsx
Due: eslint --fix, prettier --write

fix: social accordion, sidebar and social card
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Accordion.tsx
  src/components/AccountCard/AccountCard.module.scss
  src/components/AccountCard/AccountCard.tsx
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.stories.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
Due: eslint --fix, prettier --write, stylelint --fix

Adjust social accordion#365 (#473)
  pnpm-lock.yaml
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Accordion.tsx
  src/components/AccountCard/AccountCard.module.scss
  src/components/AccountCard/AccountCard.spec.tsx
  src/components/AccountCard/AccountCard.tsx
  src/components/AccountCard/AccountCard.types.ts
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.stories.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/assets/instagram.svg
  src/pages/home/components/Sidebar/components/SocialAccordion/assets/x.svg
  src/pages/home/components/Sidebar/components/SocialAccordion/mocksMidiaData.ts
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: refactored page and header scss, also remove duplicity on App and home scss
  src/App.module.scss
  src/components/ActionBar/ActionBar.module.scss
  src/components/ActionBar/ActionBar.tsx
  src/components/Tabber/Tabber.tsx
  src/constants/social-medias.ts
  src/pages/home/components/ActionBar/ActionBar.module.scss
  src/pages/home/components/ActionBar/ActionBar.tsx
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/components/Header/Header.spec.tsx
  src/pages/home/components/Header/Header.tsx
  src/pages/home/components/Header/images/instagram.svg
  src/pages/home/components/Header/images/octopost.svg
  src/pages/home/components/Header/images/tiktok.svg
  src/pages/home/components/Header/images/twitter.svg
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: make button stick to the right
  src/pages/home/components/ActionBar/ActionBar.module.scss
  src/pages/home/components/ActionBar/ActionBar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: create style in mobile screan and create initial test hook
  src/components/Tabber/Tabber.tsx
  src/hooks/useMediaQuery/useMediaQuery.spec.ts
  src/hooks/useMediaQuery/useMediaQuery.ts
  src/styles/breakpoints.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: deleted unknowledge file
  FETCH_HEAD
Due: none

feat: make account card be a hibrid component
  src/components/AccountCard/AccountCard.spec.tsx
  src/components/AccountCard/AccountCard.tsx
Due: eslint --fix, prettier --write

refactor: refactor the test for the use of roles
  src/components/CharacterLimitMainText/CharacterLimitMainText.spec.tsx
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
Due: eslint --fix, prettier --write

fix: remove comments
  src/components/CharacterLimitMainText/CharacterLimitMainText.spec.tsx
Due: eslint --fix, prettier --write

refactor: change role for getAllByText with regex
  src/components/CharacterLimitMainText/CharacterLimitMainText.spec.tsx
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
Due: eslint --fix, prettier --write

revert: firstComment Component
  src/components/FirstComment/FirstComment.module.scss
  src/components/FirstComment/FirstComment.spec.tsx
  src/components/FirstComment/FirstComment.stories.tsx
  src/components/FirstComment/FirstComment.tsx
  src/components/FirstComment/FirstComment.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

revert: firstComment Component (#524)
  src/components/FirstComment/FirstComment.module.scss
  src/components/FirstComment/FirstComment.spec.tsx
  src/components/FirstComment/FirstComment.stories.tsx
  src/components/FirstComment/FirstComment.tsx
  src/components/FirstComment/FirstComment.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: update eslint config
  eslint.config.mjs
Due: none

chore: bupdate eslint.config
  eslint.config.mjs
  src/App.tsx
Due: eslint --fix, prettier --write

Alvarogfn/issue nao sei o numero (#525)
  eslint.config.mjs
  src/App.tsx
Due: eslint --fix, prettier --write

chore: add eslint lint rule no-console off for electron and services
  eslint.config.mjs
  src/App.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write

refactor the test for the use of getAllByText (#522)
  src/components/CharacterLimitMainText/CharacterLimitMainText.spec.tsx
Due: eslint --fix, prettier --write

fix: images grid sizing and scroll overflow
  src/components/ContentEditor/ContentEditor.module.scss
  src/components/InputMedia/InputMedia.module.scss
  src/components/MediaInputs/MediaInput.module.scss
Due: prettier --write, stylelint --fix

fix: remove comments and adjust destructure ident
  src/hooks/useMediaQuery/useMediaQuery.spec.ts
  src/hooks/useMediaQuery/useMediaQuery.ts
Due: eslint --fix, prettier --write

feat: sidebar input search and tests
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

feat: input search
  package.json
  pnpm-lock.yaml
  src/components/InputSearch/InputSearch.types.ts
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/setupTests.ts
Due: eslint --fix, prettier --write

test: fix mock and debounce issues
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

fix: sidebar and tests
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

fix: devDependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: order in sidebar tests
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
Due: eslint --fix, prettier --write

fix: tests sidebar and message for no results
  package.json
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/setupTests.ts
Due: eslint --fix, prettier --write

fix: function name
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

fix: button margin
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

fix: eof
  src/styles/breakpoints.module.scss
Due: prettier --write, stylelint --fix

fix: variable name
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

Issue 465 - Filtro do inputsearch do sidebar (#523)
  package.json
  pnpm-lock.yaml
  src/components/InputSearch/InputSearch.types.ts
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/setupTests.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: home mobile layout
  src/components/AccordionTab/AccordionTab.module.scss
  src/pages/home/home.module.scss
Due: prettier --write, stylelint --fix
