Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

style: resolve code style
  src/stores/useModulesStore.types.ts
Due: eslint --fix, prettier --write

saving steps
  .eslintrc.cjs
  electron-builder.json
  packages/module-manager/package.json
  packages/module-manager/src/index.ts
  packages/module-manager/src/lib/addon.ts
  packages/module-manager/src/lib/context.ts
  packages/module-manager/src/lib/provider.tsx
  packages/module-manager/src/modules/addon.ts
  packages/module-manager/src/typings.d.ts
  packages/module-manager/tsconfig.json
  packages/module-manager/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/env.d.ts
  src/globals.d.ts
  src/utils/test.ts
  tsconfig.json
  vite.config.ts
  vite.electron.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

Issue 373 (#441)
  .eslintrc.cjs
  electron/main.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: minor changes after review
  src/components/Tabber/Tabs/Tabs.module.scss
  src/components/Tabber/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: removing unused code, which was inserted into the rebase
  src/components/Tabber/Tabber.tsx
Due: eslint --fix, prettier --write

fix: removing unused code, which was inserted into the rebase
  src/components/Tabber/Tabber.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write

chore: install eslint-plugin-write-good-comments to fix commit-err
  package.json
  pnpm-lock.yaml
Due: none

fix: input media composer styles fixed
  src/components/InputMediaComposer/InputMediaButton/InputMediaButton.stories.tsx
  src/components/InputMediaComposer/InputMediaComposer.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: adding .idea folder
  .gitignore
Due: none

refactor: removing the ErrorBoundary component
  src/components/ErrorBoundary/ErrorBoundary.spec.tsx
  src/components/ErrorBoundary/ErrorBoundary.stories.tsx
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/ErrorBoundary/ErrorBoundary.types.ts
Due: eslint --fix, prettier --write

refactor: adding the ErrorBoundary from Sentry
  src/App.tsx
Due: eslint --fix, prettier --write

refactor: removing write-good-comments from plugins
  .eslintrc.cjs
Due: none

feat: inplenets new styles to components button
  src/components/Button/Button.module.scss
  src/components/Button/Button.stories.tsx
  src/components/SubmitButton/SubmitButton.module.scss
  src/components/SubmitButton/SubmitButton.tsx
Due: eslint --fix, prettier --write, stylelint --fix

add eof .gitignore
  .gitignore
Due: none

fix: some stuffs
  src/components/CustomInput/CustomInput.module.scss
  src/components/CustomInput/CustomInput.spec.tsx
  src/components/CustomInput/CustomInput.stories.tsx
  src/components/CustomInput/CustomInput.tsx
  src/components/CustomInput/CustomInput.types.ts
  src/components/CustomInput/assets/alertIcon.svg
  src/components/CustomInput/assets/leftIcon.svg
  src/components/CustomInput/assets/rightIcon.svg
  src/components/InputSearch/InputSearch.types.ts
  src/components/SearchClue/SearchClue.types.ts
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/stores/usePostsStore.ts
  src/types/object.ts
Due: eslint --fix, prettier --write, stylelint --fix

Error Boundary - Issue 383 (#449)
  .eslintrc.cjs
  .gitignore
  src/App.tsx
  src/components/ErrorBoundary/ErrorBoundary.spec.tsx
  src/components/ErrorBoundary/ErrorBoundary.stories.tsx
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/ErrorBoundary/ErrorBoundary.types.ts
Due: eslint --fix, prettier --write

feat: update after review
  src/components/Tabber/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write

refactor: some changes to match the design
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/Modal.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: fixing the border radius
  src/components/Modal/Modal.module.scss
Due: prettier --write, stylelint --fix

feat: add module mocking across the project
  .eslintrc.cjs
  packages/module-manager/src/types/Widget.ts
  src/App.tsx
  src/components/Head/Head.tsx
  src/contexts/ModuleContext.tsx
  src/contexts/ModuleContext.types.ts
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/AddAccount/AddAccount.tsx
  src/pages/home/components/Sidebar/components/AddAccount/AddAccount.types.ts
  src/pages/home/home.tsx
  src/services/addons/addon/OctoModule.ts
  src/services/addons/addon/PostModes.ts
  src/services/addons/addon/Service.ts
  src/services/addons/addon/Validators.ts
  src/services/addons/addon/Widget.ts
  src/services/addons/addon/mods.ts
  src/services/addons/authentication/authentication.ts
  src/services/axios/modules.ts
  src/services/fetchModules/fetchModules.ts
  src/services/fetchModules/fetchModules.types.ts
  src/stores/useModulesStore.ts
  src/stores/useModulesStore.types.ts
Due: eslint --fix, prettier --write

fix: corrected name
  src/components/Tabber/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write

fix: archives input media names changed
  .eslintrc.cjs
  src/components/ContentEditor/ContentEditor.tsx
  src/components/InputMediaComposer/InputMediaButton/InputMediaButton.mock.tsx
  src/components/InputMediaComposer/InputMediaButton/InputMediaButton.spec.ct.tsx
  src/components/InputMediaComposer/InputMediaComposer.stories.tsx
  src/components/InputMediaGroup/InputMedia/InputMedia.ct.spec.tsx
  src/components/InputMediaGroup/InputMedia/InputMedia.mock.tsx
  src/components/InputMediaGroup/InputMedia/InputMedia.module.scss
  src/components/InputMediaGroup/InputMedia/InputMedia.spec.tsx
  src/components/InputMediaGroup/InputMedia/InputMedia.tsx
  src/components/InputMediaGroup/InputMedia/InputMedia.types.ts
  src/components/InputMediaGroup/InputMedia/assets/imageEmptyGray.svg
  src/components/InputMediaGroup/InputMediaGroup.ct.spec.tsx
  src/components/InputMediaGroup/InputMediaGroup.module.scss
  src/components/InputMediaGroup/InputMediaGroup.spec.tsx
  src/components/InputMediaGroup/InputMediaGroup.stories.tsx
  src/components/InputMediaGroup/InputMediaGroup.tsx
  src/components/InputMediaGroup/MediaPreview/MediaPreview.tsx
  src/components/InputMediaGroup/MediaPreview/MediaPreview.types.ts
  src/components/MainComposer/MainComposer.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: removing comments
  src/components/Modal/Modal.module.scss
Due: prettier --write, stylelint --fix

Issue 428 - Ajuste do Modal segundo o design do figma (#452)
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/Modal.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: turning into a hybrid component (controlled and uncontrolled)
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.tsx
Due: eslint --fix, prettier --write

feat: turning into a hybrid component (controlled and uncontrolled) (#455)
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.tsx
Due: eslint --fix, prettier --write

fix: prettier code style issue
  src/components/Tabber/Tabber.types.ts
  src/components/Tabber/Tabs/Tabs.module.scss
  src/components/Tabber/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: delete unnecessary thing and add plugin
  package.json
  pnpm-lock.yaml
Due: none

chore: adjust in the eslint
  package.json
Due: none

chore: adjust the logic of feedbackerror and useerror hook
  src/components/FeedbackError/FeedbackError.stories.tsx
  src/components/FeedbackError/FeedbackError.tsx
  src/stores/useError/useError.spec.ts
  src/stores/useError/useError.ts
  src/stores/useError/useError.types.ts
Due: eslint --fix, prettier --write

chore: replace a div with a button & change use state logic
  src/components/FeedbackError/FeedbackError.module.scss
  src/components/FeedbackError/FeedbackError.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: adjust on styles & conditional logic
  src/components/FeedbackError/FeedbackError.module.scss
  src/components/FeedbackError/FeedbackError.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: add the feedbackerror new test
  src/components/FeedbackError/FeedbackError.spec.tsx
Due: eslint --fix, prettier --write

chore: replace ternario operator to &&
  src/components/FeedbackError/FeedbackError.tsx
Due: eslint --fix, prettier --write

chore: add a bold style
  src/components/FeedbackError/FeedbackError.module.scss
  src/components/FeedbackError/FeedbackError.stories.tsx
  src/components/FeedbackError/FeedbackError.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: adjust the conditional logic & animation
  src/components/FeedbackError/FeedbackError.data.ts
  src/components/FeedbackError/FeedbackError.tsx
Due: eslint --fix, prettier --write
