Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

fix: socialmedia favorites
  src/pages/home/components/Sidebar/Sidebar.components.tsx
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
Due: eslint --fix, prettier --write

fix: remove state
  src/components/AccountCard/AccountCard.tsx
Due: eslint --fix, prettier --write

fix: patch in favorite accounts
  src/services/api/accounts/accounts.ts
Due: eslint --fix, prettier --write

feat: favorite accounts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.stories.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
Due: eslint --fix, prettier --write

fix: pr comments
  src/components/AccountCard/AccountCard.tsx
  src/pages/home/components/Sidebar/Sidebar.components.tsx
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/stores/__mocks__/useSocialMediaStore.mock.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
Due: eslint --fix, prettier --write

fix: pt-br to eng
  src/pages/home/components/Sidebar/Sidebar.components.tsx
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/stores/__mocks__/useSocialMediaStore.mock.ts
Due: eslint --fix, prettier --write

fix: tests
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/stores/__mocks__/useSocialMediaStore.mock.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.spec.ts
Due: eslint --fix, prettier --write

fix: rebase
  src/components/AccountCard/AccountCard.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write

fix: differents accordions to favorite accounts
  src/components/AccountCard/AccountCard.tsx
  src/pages/home/components/Sidebar/Sidebar.components.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.stories.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/stores/__mocks__/useSocialMediaStore.mock.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
Due: eslint --fix, prettier --write

fix: warning of skip test
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
Due: eslint --fix, prettier --write

fix: tests
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/stores/__mocks__/useSocialMediaStore.mock.ts
Due: eslint --fix, prettier --write

fix: improve tests
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
Due: eslint --fix, prettier --write

fix: remove only
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
Due: eslint --fix, prettier --write

fix: tests favorite and rename favorite
  src/pages/home/components/Sidebar/Sidebar.components.tsx
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/stores/__mocks__/useSocialMediaStore.mock.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
Due: eslint --fix, prettier --write

fix: tab gap
  src/components/Tabber/Tabs/Tabs.module.scss
Due: prettier --write, stylelint --fix

issue-470 - favoritar contas (#575)
  mock-api.json
  src/components/AccountCard/AccountCard.tsx
  src/pages/home/components/Sidebar/Sidebar.components.tsx
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.stories.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/services/api/accounts/accounts.ts
  src/services/api/accounts/accounts.types.ts
  src/stores/__mocks__/useSocialMediaStore.mock.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
Due: eslint --fix, prettier --write

fix: cr issues
  src/pages/home/components/ActionBar/ActionBar.module.scss
  src/pages/home/components/ActionBar/ActionBar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: only allow action bar button when at least one account is selected (#619)
  src/pages/home/components/ActionBar/ActionBar.module.scss
  src/pages/home/components/ActionBar/ActionBar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: show social media icon on tab (#620)
  src/components/Tabber/Tabs/Tabs.module.scss
  src/components/Tabber/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: sidebar mobile buttonand sidebar style
  src/components/AccountCard/AccountCard.module.scss
  src/components/InputSearch/InputSearch.module.scss
  src/components/InputSearch/InputSearch.tsx
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.components.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: post mode identifier
  src/components/Icon/icons/mobile.svg
  src/pages/home/components/Tabber/PostModes/PostModes.module.scss
  src/pages/home/components/Tabber/PostModes/PostModes.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: types
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/PostModes/PostModes.types.ts
Due: eslint --fix, prettier --write

fix: adicionado cor no global
  src/pages/home/components/Tabber/PostModes/PostModes.module.scss
  src/styles/global.scss
Due: prettier --write, stylelint --fix

fix: conflitos no git
  src/components/Tabber/PostModes/PostModes.tsx
Due: eslint --fix, prettier --write

fix: trocado set por array
  src/components/Tabber/PostModes/PostModes.tsx
Due: eslint --fix, prettier --write

fix: post mode identifier
  src/components/Tabber/PostModes/PostModes.tsx
Due: eslint --fix, prettier --write

feat: stories
  src/components/Tabber/PostModes/PostModes.stories.tsx
Due: eslint --fix, prettier --write

fix: bug ao marcar postmode em outras contas
  src/components/Tabber/PostModes/PostModes.tsx
Due: eslint --fix, prettier --write

feat: testes
  src/components/Tabber/PostModes/PostModes.spec.tsx
  src/components/Tabber/PostModes/PostModes.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: erro no typescript
  src/components/Tabber/PostModes/PostModes.tsx
Due: eslint --fix, prettier --write

fix: post mode identifier
  src/components/Tabber/PostModes/PostModes.module.scss
  src/components/Tabber/PostModes/PostModes.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: adicionado cor no global
  src/components/Tabber/PostModes/PostModes.module.scss
Due: prettier --write, stylelint --fix

feat: testes
  src/components/Tabber/PostModes/PostModes.module.scss
Due: prettier --write, stylelint --fix

fix: responsivo
  src/components/Tabber/PostModes/PostModes.module.scss
Due: prettier --write, stylelint --fix

refactor: postMode component
  src/components/Tabber/PostModes/PostModes.components.tsx
  src/components/Tabber/PostModes/PostModes.module.scss
  src/components/Tabber/PostModes/PostModes.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: removido throw error nos testes
  src/components/Tabber/PostModes/PostModes.spec.tsx
Due: eslint --fix, prettier --write

refactor: ajustes com o novo tabber
  src/components/Icon/data.ts
  src/components/Tabber/PostModes/PostModes.module.scss
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/PostModes/PostModes.components.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.module.scss
  src/pages/home/components/Tabber/PostModes/PostModes.spec.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.stories.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: scroll
  src/pages/home/components/Tabber/PostModes/PostModes.components.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.module.scss
  src/pages/home/components/Tabber/PostModes/PostModes.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: post mode design
  src/pages/home/components/Tabber/PostModes/PostModes.module.scss
Due: prettier --write, stylelint --fix
