Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: adjust composer editor and input media composer error emiter
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.tsx
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.type.ts
  src/components/MainComposer/components/InputMediaGroup/utils/fileValidator/fileValidator.ts
  src/components/MainComposer/components/InputMediaGroup/utils/fileValidator/fileValidator.types.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
  src/stores/useError/useError.ts
  src/stores/useError/useError.types.ts
Due: eslint --fix, prettier --write

Character limit no MainComposer do Tabber (#570)
  src/components/CharacterLimitMainText/CharacterLimit.module.scss
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
  src/components/Tabber/Tabber.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: script created
  package.json
  setup.mjs
Due: none

feat: disable console log rule
  setup.mjs
Due: none

feat: insert no-console off on eslint rules for js and mjs files
  eslint.config.mjs
  setup.mjs
Due: none

fix: ajust prettier erros
  setup.mjs
Due: none

fix: ajust the rule to ignore src and electron folders
  eslint.config.mjs
Due: none

chore: fix prettier errors
  eslint.config.mjs
Due: none

fix: ajust the rule to only js files in the root
  eslint.config.mjs
Due: none

refactor: tests for social media components
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.types.ts
Due: eslint --fix, prettier --write

Tabber scroll - issue 532 (#561)
  package.json
  pnpm-lock.yaml
  src/components/Tabber/Tabber.module.scss
  src/components/Tabber/Tabs/Tabs.module.scss
  src/components/Tabber/Tabs/Tabs.tsx
  src/hooks/useHorizontalScroll/useHorizontalScroll.ts
  src/pages/home/home.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: add correct icon & adjust name
  src/components/FeedbackError/FeedbackError.tsx
  src/components/Icon/data.ts
  src/components/Icon/icons/TriangleLeftArrow.svg
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write

chore: adjust the icon naming conventions
  src/components/FeedbackError/FeedbackError.tsx
  src/components/Icon/data.ts
  src/pages/home/components/ActionBar/ActionBar.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write

refactor: refactor useSocialMediaStore
  mock-api.json
  src/components/SocialMediaList/SocialMediaList.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/home.tsx
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
  src/utils/isEmpty/isEmpty.spec.ts
  src/utils/isEmpty/isEmpty.ts
  src/utils/multimap/multimap.spec.ts
  src/utils/multimap/multimap.ts
Due: eslint --fix, prettier --write

refactor: function props handle modal
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
Due: eslint --fix, prettier --write

test: function props handle modal and promise userEvent fix
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.spec.tsx
Due: eslint --fix, prettier --write

fix: render button disabled dynamic
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/data.ts
Due: eslint --fix, prettier --write

style: render button disabled dynamic
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaList.module.scss
Due: prettier --write, stylelint --fix

chore: add correct icon & adjust name (#574)
  src/components/FeedbackError/FeedbackError.tsx
  src/components/Icon/data.ts
  src/components/Icon/icons/TriangleLeftArrow.svg
  src/pages/home/components/ActionBar/ActionBar.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write

Script to create .env (#571)
  eslint.config.mjs
  package.json
  setup.mjs
Due: none

refactor: remove eslint rule and refactor siderbar
  eslint.config.mjs
  package.json
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/Sidebar.types.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
Due: eslint --fix, prettier --write

refactor: remove if length zero
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

fix: colocado icones no componente de limite de caracteres
  mock-api.json
  src/components/CharacterLimitMainText/CharacterLimit.spec.tsx
  src/components/CharacterLimitMainText/CharacterLimit.tsx
  src/components/CharacterLimitMainText/CharacterLimit.types.ts
  src/components/Icon/data.ts
  src/components/Icon/icons/discord.svg
  src/components/Icon/icons/facebook.svg
  src/components/Icon/icons/instagram.svg
  src/components/Icon/icons/tiktok.svg
  src/components/Icon/icons/twitter.svg
  src/services/api/social-media/social-media.types.ts
  src/stores/__mocks__/useSocialMediaStore.mock.ts
Due: eslint --fix, prettier --write

chore: remove media errors in use error
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.tsx
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.type.ts
  src/components/MainComposer/components/InputMediaGroup/utils/fileValidator/fileValidator.ts
Due: eslint --fix, prettier --write

refactor: add a new text
  src/components/FeedbackError/FeedbackError.tsx
Due: eslint --fix, prettier --write

refactor: mock-api refactor
  mock-api.json
Due: none

refactor: apagado comentario
  src/components/CharacterLimitMainText/CharacterLimit.types.ts
Due: eslint --fix, prettier --write

fix: icons error
  src/components/CharacterLimitMainText/CharacterLimit.spec.tsx
  src/components/CharacterLimitMainText/CharacterLimit.tsx
Due: eslint --fix, prettier --write

refactor: add EOF and change letter
  mock-api.json
  package.json
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/Sidebar.types.ts
Due: eslint --fix, prettier --write

chore: refactor validators type
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.tsx
  src/components/MainComposer/components/InputMediaGroup/utils/fileValidator/fileValidator.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
  src/services/api/social-media/social-media.types.ts
Due: eslint --fix, prettier --write

fix: fix name add error function in main composer
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
Due: eslint --fix, prettier --write

fix: fix tabber errors from validator text
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
  src/components/Tabber/Tabber.tsx
Due: eslint --fix, prettier --write

fix: pretier fix
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

fix: imput media test fixed
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.tsx
Due: eslint --fix, prettier --write

refactor: substituído o nome svg por icon e removido o undefined
  src/components/CharacterLimitMainText/CharacterLimit.spec.tsx
  src/components/CharacterLimitMainText/CharacterLimit.tsx
  src/components/CharacterLimitMainText/CharacterLimit.types.ts
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

refactor: change my code for style guide
  src/pages/home/components/Sidebar/Sidebar.components.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/Sidebar.types.ts
Due: eslint --fix, prettier --write

fix: accumulation of errors in ladle
  src/components/FeedbackError/FeedbackError.stories.tsx
  src/components/FeedbackError/components/FeedbackErrorMobile.stories.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

fix: remove state unnecessary
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.stories.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.types.ts
Due: eslint --fix, prettier --write

test: remove state unnecessary and rename button test
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.spec.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
