Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: stylelint
  src/pages/home/components/Tabber/PostModes/PostModes.module.scss
Due: prettier --write, stylelint --fix

fix: post mode identifier (#601)
  src/components/Icon/data.ts
  src/components/Icon/icons/mobile.svg
  src/pages/home/components/Tabber/PostModes/PostModes.components.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.module.scss
  src/pages/home/components/Tabber/PostModes/PostModes.spec.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.stories.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/styles/global.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix(): adjust tests to new logic in accordion component
  src/components/Accordion/Accordion.spec.tsx
  src/components/Accordion/Accordion.tsx
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write

feat: add preview of each device to postModes in mock api
  mock-api.json
Due: none

fix: adjusts in accordion
  src/components/Accordion/Accordion.spec.tsx
  src/components/Accordion/Accordion.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
