Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor: adjust home containers and remove borders
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: create header
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/components/Header/Header.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: create sidebar container
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: add style for sidebar
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/images/dot.svg
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove border-box
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

feat: create the theme configuration
  public/index.html
  src/styles/base.scss
  src/styles/global.scss
Due: prettier --write, stylelint --fix

feat: InputImage task
  src/components/InputImage/InputImage.module.scss
  src/components/InputImage/InputImage.spec.tsx
  src/components/InputImage/InputImage.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: fixing a bug on commit
  src/components/InputImage/InputImage.module.scss
Due: prettier --write, stylelint --fix

Input image (#141)
  src/components/InputImage/InputImage.module.scss
  src/components/InputImage/InputImage.spec.tsx
  src/components/InputImage/InputImage.tsx
Due: eslint --fix, prettier --write, stylelint --fix

docs: add ladle storie for header and sidebar
  src/pages/home/components/Header/Header.stories.tsx
  src/pages/home/components/Sidebar/Sidebar.stories.tsx
Due: eslint --fix, prettier --write

feat: create the ComposerEditor Ladle
  src/components/ComposerEditor/ComposerEditor.stories.tsx
Due: eslint --fix, prettier --write

fix: fix component name
  src/components/ComposerEditor/ComposerEditor.stories.tsx
Due: eslint --fix, prettier --write

feat: create the ComposerEditor Ladle (#129)
  src/components/ComposerEditor/ComposerEditor.stories.tsx
Due: eslint --fix, prettier --write

Feat side bar/#114 (#136)
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/components/Header/Header.stories.tsx
  src/pages/home/components/Header/Header.tsx
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.stories.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/images/dot.svg
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: create the theme configuration (#143)
  public/index.html
  src/styles/base.scss
  src/styles/global.scss
Due: prettier --write, stylelint --fix

style: edit variables from colors and font
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

feat: edit main content and text area component
  src/components/CharacterLimit/CharacterLimit.module.scss
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/TextArea/TextArea.module.scss
  src/components/TextArea/TextArea.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: Tabber Tabs for viewing selected networks
  src/components/Tabber/Tabber.module.scss
  src/components/Tabber/Tabber.spec.tsx
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabber.types.tsx
  src/components/Tabber/components/Tabs/TabsTabber.module.scss
  src/components/Tabber/components/Tabs/TabsTabber.tsx
  src/components/Tabber/components/TextAreaTabber/TextAreaTabber.module.scss
  src/components/Tabber/components/TextAreaTabber/TextAreaTabber.tsx
  src/components/Tabber/components/TextAreaTabber/TextAreaTabber.types.ts
  src/components/Tabber/networkListMock.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fixing bugs
  jest.config.js
  src/components/Tabber/Tabber.module.scss
  src/components/Tabber/Tabber.stories.tsx
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/components/TabberCompose/RenderNetwork.tsx
  src/components/Tabber/components/Tabs/TabsTabber.module.scss
  src/components/Tabber/components/Tabs/TabsTabber.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: fixing ci
  src/components/Tabber/Tabber.module.scss
  src/components/Tabber/components/Tabs/TabsTabber.module.scss
Due: prettier --write, stylelint --fix

fix: fixing ci
  jest.config.js
  src/components/Tabber/Tabber.spec.tsx
  src/components/Tabber/components/Tabs/TabsTabber.tsx
Due: eslint --fix, prettier --write

feat: correct size of containers and remove font from scss
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/TextArea/TextArea.module.scss
  src/pages/home/home.module.scss
Due: prettier --write, stylelint --fix

feat: edit characterLimit position
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/pages/home/home.module.scss
Due: prettier --write, stylelint --fix

fix: adjust position from characterLimit for px
  src/components/ComposerEditor/ComposerEditor.module.scss
Due: prettier --write, stylelint --fix

feat: Tabber Tabs for viewing selected networks (#138)
  src/components/Tabber/Tabber.module.scss
  src/components/Tabber/Tabber.stories.tsx
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabber.types.tsx
  src/components/Tabber/components/TabberCompose/RenderNetwork.tsx
  src/components/Tabber/components/Tabs/TabsTabber.module.scss
  src/components/Tabber/components/Tabs/TabsTabber.tsx
  src/components/Tabber/components/TextAreaTabber/TextAreaTabber.module.scss
  src/components/Tabber/components/TextAreaTabber/TextAreaTabber.tsx
  src/components/Tabber/components/TextAreaTabber/TextAreaTabber.types.ts
  src/components/Tabber/networkListMock.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: create character limit stories
  src/components/CharacterLimit/CharacterLimit.stories.tsx
Due: eslint --fix, prettier --write

feat: create a short test to component
  src/components/CharacterLimit/CharacterLimit.spec.tsx
Due: eslint --fix, prettier --write

feat: create a short test to component (#147)
  src/components/CharacterLimit/CharacterLimit.spec.tsx
Due: eslint --fix, prettier --write

feat: create character limit stories (#146)
  src/components/CharacterLimit/CharacterLimit.stories.tsx
Due: eslint --fix, prettier --write

fix: update jest config to module alias be resolved for jest
  package.json
Due: none

feat: create composer editor test
  src/components/ComposerEditor/ComposeEditor.spec.tsx
Due: eslint --fix, prettier --write

feat: add border-box to base.scss
  src/components/TextArea/TextArea.module.scss
  src/styles/base.scss
Due: prettier --write, stylelint --fix

chore: update package json folders aliases
  package.json
Due: none

feat: wo feature
  assets/checkIcon.svg
  assets/disableIcon.svg
  src/components/Switch/Switch.module.scss
Due: prettier --write, stylelint --fix

fix: fix character error
  src/components/Switch/Switch.tsx
Due: eslint --fix, prettier --write

feat: Att the switch components style
  package.json
  src/components/Switch/Switch.module.scss
  src/components/Switch/Switch.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix some path
  src/components/Switch/Switch.module.scss
  src/components/Switch/assets/checkIcon.svg
  src/components/Switch/assets/disableIcon.svg
Due: prettier --write, stylelint --fix

Att switch (#145)
  package.json
  src/components/Switch/Switch.module.scss
  src/components/Switch/Switch.tsx
  src/components/Switch/assets/checkIcon.svg
  src/components/Switch/assets/disableIcon.svg
Due: eslint --fix, prettier --write, stylelint --fix

Create composer base test and fix path alias on jest (#148)
  package.json
  src/components/ComposerEditor/ComposeEditor.spec.tsx
Due: eslint --fix, prettier --write

Feat/main text#131 (#144)
  src/components/CharacterLimit/CharacterLimit.module.scss
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/TextArea/TextArea.module.scss
  src/components/TextArea/TextArea.tsx
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/home.tsx
  src/styles/base.scss
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
