Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

docs: update autoAssign guidelines docs
  .github/workflows/autoMilestone.yml
Due: none

refactor: remove snippets
  .vscode/snippets.code-snippets
Due: none

🧹 Ajustes nas documentações, prettier e outras pequenas coisas 🧹 (#293)
  .changeset/pre.json
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/autoAssigned.yml
  .github/workflows/autoMilestone.yml
  .github/workflows/createBranchAssign.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/unassignIssue.yml
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  .stylelintignore
  .stylelintrc
  .vscode/desc.code-snippets
  .vscode/functionComponent.code-snippets
  .vscode/functionComponentWithProps.code-snippets
  .vscode/interface.code-snippets
  .vscode/it.code-snippets
  .vscode/ita.code-snippets
  .vscode/landle.code-snippets
  .vscode/landleComponent.code-snippets
  .vscode/settings.json
  .vscode/test.code-snippets
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/FLOWISSUE.md
  docs/STYLEGUIDE.md
  e2e-testing/example.spec.ts
  package.json
  playwright/index.html
  public/index.html
  tests-examples/demo-todo-app.ct.spec.ts
  vite.config.ts
Due: eslint --fix, prettier --write

style: just prettier
  pnpm-workspace.yaml
  tsconfig.json
Due: none

style: array-func
  src/components/MediaInputs/MediaInput.tsx
Due: eslint --fix, prettier --write

feat: integrate the express with the app
  electron/main.ts
  package.json
  packages/module-manager/src/manager/Manager.ts
  pnpm-lock.yaml
  src/components/Head/Head.tsx
  src/contexts/ModuleContext.tsx
  src/pages/home/home.tsx
  src/services/axios/modules.ts
Due: eslint --fix, prettier --write

feat: create event notification when all modules is load
  src/contexts/ModuleContext.tsx
Due: eslint --fix, prettier --write

chore: add prittier in stylelint
  .stylelintrc
  package.json
  pnpm-lock.yaml
Due: none

chore: install dependecies
  pnpm-lock.yaml
Due: none

Fix prittier error
  .stylelintrc
Due: none

chore: prittier error fixed
  src/components/Accordion/Accordion.module.scss
Due: prettier --write, stylelint --fix

chore: fixed tested changes
  src/components/Accordion/Accordion.module.scss
Due: prettier --write, stylelint --fix

Add prettier extension to integrate with stylelint (#286)
  .stylelintrc
  package.json
  pnpm-lock.yaml
Due: none

feat: enhance mobile responsiveness & remove MainComposer module redundancies
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.tsx
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  src/styles/breakpoints.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: change the changeset summary
  .changeset/tender-boxes-knock.md
Due: none

chore: add path alias and changeset, delete unnecessary things
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.tsx
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/home.module.scss
  src/styles/breakpoints.scss
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: enhance mobile responsiveness & remove MainComposer module redundancies
  src/components/AccordionTab/AccordionTab.module.scss
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/home.module.scss
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

chore: add path alias in home module
  src/pages/home/home.module.scss
Due: prettier --write, stylelint --fix

docs: add changeset feature
  .changeset/fresh-apricots-drive.md
Due: none

chore: add path alias and changeset, delete unnecessary things
  src/components/AccordionTab/AccordionTab.module.scss
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/home.module.scss
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

Feat: implement the initial design of modal
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

Chore: minor changes waiting design
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

Feat: implement of the design of modal
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove unecessary any and add no console exception rule
  .eslintrc.cjs
  src/contexts/ModuleContext.tsx
Due: eslint --fix, prettier --write

refactor: separate the context types in another file
  src/contexts/ModuleContext.tsx
  src/contexts/ModuleContext.types.ts
Due: eslint --fix, prettier --write

refactor: separate the fetch body
  src/contexts/ModuleContext.tsx
  src/enums/fetchMethods.ts
Due: eslint --fix, prettier --write

emit event when all modules is load
  src/contexts/ModuleContext.tsx
Due: eslint --fix, prettier --write

Fix: update some points on css and modal
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Style: some adjusts in css
  src/components/Modal/Modal.module.scss
Due: prettier --write, stylelint --fix

Style: Removing unecessary css
  src/components/Modal/Modal.module.scss
Due: prettier --write, stylelint --fix

refactor: add all http methods to enum and rename it
  src/enums/HttpMethods.ts
  src/enums/fetchMethods.ts
Due: eslint --fix, prettier --write

refactor: fix bad json returning string
  electron/main.ts
Due: eslint --fix, prettier --write

Style: turn some colors to variables of global config
  src/components/Modal/Modal.module.scss
Due: prettier --write, stylelint --fix

Refact: import ReactNode from react
  src/components/Modal/Modal.types.ts
Due: eslint --fix, prettier --write

refactor: extract modules fetch logic to a hook
  .eslintrc.cjs
  electron/main.ts
  packages/module-manager/package.json
  packages/module-manager/src/types/index.ts
  pnpm-lock.yaml
  src/contexts/ModuleContext.tsx
  src/services/fetchModules/fetchModules.ts
  src/services/fetchModules/fetchModules.types.ts
Due: eslint --fix, prettier --write

Issue 251 - Criação de Modal conforme design (#304)
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/Modal.types.ts
Due: eslint --fix, prettier --write, stylelint --fix
