Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

refactor: refactory
  src/components/Preview/Preview.module.scss
  src/components/Preview/Preview.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.module.scss
  src/components/Tabber/Tabber.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: resize icon from 50 to 48
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.components.tsx
Due: eslint --fix, prettier --write

feat: preview mode selector #589 (#594)
  src/components/Icon/data.ts
  src/components/Icon/icons/Mobile.svg
  src/components/Icon/icons/Pc.svg
  src/components/Icon/icons/Tablet.svg
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/Preview/Preview.module.scss
  src/components/Preview/Preview.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.components.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.module.scss
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.spec.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.stories.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.types.ts
  src/components/Tabber/Tabber.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add text input
  package.json
  pnpm-lock.yaml
  src/components/TextInput/TextInput.module.scss
  src/components/TextInput/TextInput.spec.tsx
  src/components/TextInput/TextInput.stories.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInput.types.ts
  src/components/TextInput/assets/alertIcon.svg
Due: eslint --fix, prettier --write, stylelint --fix

feat: add mobile register screen
  package.json
  pnpm-lock.yaml
  src/components/Icon/data.ts
  src/components/Icon/icons/blind-eye.svg
  src/components/Icon/icons/instagram.svg
  src/components/Icon/icons/letter.svg
  src/components/Icon/icons/tiktok.svg
  src/components/Icon/icons/twitter.svg
  src/pages/register/components/Footer/Footer.module.scss
  src/pages/register/components/Footer/Footer.spec.tsx
  src/pages/register/components/Footer/Footer.stories.tsx
  src/pages/register/components/Footer/Footer.tsx
  src/pages/register/components/Form/Form.tsx
  src/pages/register/components/Form/Hero.module.scss
  src/pages/register/components/Form/Hero.spec.tsx
  src/pages/register/components/Form/Hero.stories.tsx
  src/pages/register/components/Form/images/octo.svg
  src/pages/register/components/Form/images/octopost.svg
  src/pages/register/components/Hero/Hero.module.scss
  src/pages/register/components/Hero/Hero.tsx
  src/pages/register/components/SocialLogin/SocialLogin.module.scss
  src/pages/register/components/SocialLogin/SocialLogin.spec.tsx
  src/pages/register/components/SocialLogin/SocialLogin.stories.tsx
  src/pages/register/components/SocialLogin/SocialLogin.tsx
  src/pages/register/home.module.scss
  src/pages/register/register.module.scss
  src/pages/register/register.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: add hasPostMode variable in MainComposerBase component
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/ComposerEditor/utils/textValidator/textValidator.ts
  src/components/MainComposer/components/InputMediaGroup/utils/fileValidator/fileValidator.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
Due: eslint --fix, prettier --write

refactor: input text
  src/components/TextInput/TextInput.module.scss
  src/components/TextInput/TextInput.spec.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInput.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: sign up form
  src/pages/register/components/Form/Form.module.scss
  src/pages/register/components/Form/Form.spec.tsx
  src/pages/register/components/Form/Form.stories.tsx
  src/pages/register/components/Form/Form.tsx
  src/pages/register/components/Form/Hero.spec.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: add desktop hero section
  src/pages/register/components/DesktopHero/Hero.module.scss
  src/pages/register/components/DesktopHero/Hero.spec.tsx
  src/pages/register/components/DesktopHero/Hero.stories.tsx
  src/pages/register/components/DesktopHero/Hero.tsx
  src/pages/register/components/DesktopHero/images/octo.svg
  src/pages/register/components/DesktopHero/images/octopost.svg
  src/pages/register/components/MobileHero/Hero.module.scss
  src/pages/register/components/MobileHero/Hero.spec.tsx
  src/pages/register/components/MobileHero/Hero.stories.tsx
  src/pages/register/components/MobileHero/Hero.tsx
  src/pages/register/components/MobileHero/images/octo.svg
  src/pages/register/components/MobileHero/images/octopost.svg
  src/pages/register/register.module.scss
  src/pages/register/register.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: improvements to form inputs
  src/components/TextInput/TextInput.module.scss
  src/pages/register/components/Form/Form.module.scss
Due: prettier --write, stylelint --fix

feat: add last desktop parts on register screen
  src/pages/register/components/DesktopHeader/DesktopHeader.module.scss
  src/pages/register/components/DesktopHeader/DesktopHeader.spec.tsx
  src/pages/register/components/DesktopHeader/DesktopHeader.stories.tsx
  src/pages/register/components/DesktopHeader/DesktopHeader.tsx
  src/pages/register/components/DesktopHeader/images/octopost.svg
  src/pages/register/components/DesktopHero/Hero.module.scss
  src/pages/register/components/DesktopHero/Hero.tsx
  src/pages/register/components/Footer/Footer.module.scss
  src/pages/register/components/Form/Form.module.scss
  src/pages/register/components/MobileHero/Hero.module.scss
  src/pages/register/components/MobileHero/Hero.tsx
  src/pages/register/components/SignUpPromotion/SignUpPromotion.module.scss
  src/pages/register/components/SignUpPromotion/SignUpPromotion.stories.tsx
  src/pages/register/components/SignUpPromotion/SignUpPromotion.tsx
  src/pages/register/components/SignUpPromotion/SignUpPromotionl.spec.tsx
  src/pages/register/register.module.scss
  src/pages/register/register.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: mobile hero octopost icon
  src/pages/register/components/MobileHero/Hero.module.scss
  src/pages/register/components/MobileHero/images/octo.svg
Due: prettier --write, stylelint --fix

refactor: refactor img in avatar
  src/components/Avatar/Avatar.tsx
Due: eslint --fix, prettier --write

refactor: refactor style in sideBar
  src/components/AccountCard/AccountCard.module.scss
  src/components/AccountCard/AccountCard.tsx
  src/components/Avatar/Avatar.tsx
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: adjust header padding
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/AccountCard/AccountCard.module.scss
Due: prettier --write, stylelint --fix

fix: corrected header and accordion container
  mock-api.json
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/AccountCard/AccountCard.module.scss
  src/components/AccountCard/AccountCard.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: prettier error
  mock-api.json
Due: none

fix: actually fixes mobile hero octopost icon
  src/pages/register/components/DesktopHero/Hero.module.scss
  src/pages/register/components/DesktopHero/Hero.tsx
  src/pages/register/components/MobileHero/Hero.module.scss
  src/pages/register/components/MobileHero/Hero.tsx
Due: eslint --fix, prettier --write, stylelint --fix

test: fix regsiter screen tests
  src/pages/register/components/DesktopHeader/DesktopHeader.spec.tsx
  src/pages/register/components/DesktopHero/Hero.spec.tsx
  src/pages/register/components/SocialLogin/SocialLogin.tsx
Due: eslint --fix, prettier --write

feat: add login screen for mobile version
  package.json
  pnpm-lock.yaml
  src/components/Icon/data.ts
  src/components/Icon/icons/email.svg
  src/components/Icon/icons/hidden.svg
  src/pages/home/home.tsx
  src/pages/login/assets/OctopusImg.svg
  src/pages/login/assets/logo.svg
  src/pages/login/login.module.scss
  src/pages/login/login.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add input right icon action
  src/components/TextInput/TextInput.module.scss
  src/components/TextInput/TextInput.spec.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInput.types.ts
  src/pages/register/components/Form/Form.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: icons in socialAccordion dynamics
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/assets/discord.svg
Due: eslint --fix, prettier --write

feat: postmode changes current postmode
  src/components/Testinho/Testinho.spec.tsx
  src/components/Testinho/Testinho.stories.tsx
  src/components/Testinho/Testinho.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/stores/usePostsStore.spec.ts
  src/stores/usePostsStore.ts
  src/stores/usePostsStore.types.ts
  src/stores/usePostsStore/usePostsStore.spec.ts
  src/stores/usePostsStore/usePostsStore.ts
  src/stores/usePostsStore/usePostsStore.types.ts
Due: eslint --fix, prettier --write

chore: post mode refactor
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/components/Tabber/Tabs/Tabs.types.ts
Due: eslint --fix, prettier --write

refactor: refactor post store
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/stores/usePost/usePost.ts
  src/stores/usePost/usePost.types.ts
Due: eslint --fix, prettier --write

chore: n fiz nada
  src/pages/home/components/Tabber/PostModes/PostModes.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
Due: eslint --fix, prettier --write

feat: move tabber to home components
  src/pages/home/components/Tabber/PostModes/PostModes.module.scss
  src/pages/home/components/Tabber/PostModes/PostModes.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.module.scss
  src/pages/home/components/Tabber/Tabber.stories.tsx
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/pages/home/components/Tabber/Tabs/Tabs.module.scss
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/components/Tabber/Tabs/Tabs.types.ts
  src/pages/home/components/Tabber/utils.ts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: use effect tabber
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/components/Tabber/Tabs/Tabs.types.ts
  src/stores/usePost/usePost.ts
  src/stores/usePost/usePost.types.ts
Due: eslint --fix, prettier --write

chore: create useSyncTabsWithPosts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/components/Tabber/Tabs/Tabs.types.ts
  src/pages/home/components/Tabber/hooks/useSyncTabsWithPosts.ts
  src/stores/usePost/usePost.ts
  src/stores/usePost/usePost.types.ts
Due: eslint --fix, prettier --write

refactor: refactor Post Modes component
  mock-api.json
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/pages/home/components/Tabber/hooks/useSyncTabsWithPosts.ts
  src/stores/usePost/usePost.ts
Due: eslint --fix, prettier --write

chore: creat updateText in post store
  package.json
  pnpm-lock.yaml
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/stores/usePost/usePost.ts
  src/stores/usePost/usePost.types.ts
Due: eslint --fix, prettier --write

fix: updateMainContent parameters
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.tsx
  src/pages/home/components/Tabber/Tabber.tsx
  src/stores/__mocks__/usePostStore.mock.ts
  src/stores/usePost/usePost.spec.ts
  src/stores/usePost/usePost.types.ts
Due: eslint --fix, prettier --write

fix: remove usepoststore
  src/stores/usePostsStore/usePostsStore.spec.ts
  src/stores/usePostsStore/usePostsStore.ts
  src/stores/usePostsStore/usePostsStore.types.ts
Due: eslint --fix, prettier --write

fix: wilson ;)
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.type.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/components/Tabber/Tabs/Tabs.types.ts
  src/pages/home/components/Tabber/hooks/useSyncTabsWithPosts.ts
  src/stores/usePost/usePost.ts
Due: eslint --fix, prettier --write

feat: remove testinhos
  src/components/Testinho/Container.ct.spec.tsx
  src/components/Testinho/Container.module.scss
  src/components/Testinho/Container.stories.tsx
  src/components/Testinho/Container.tsx
  src/components/Testinho/Testinho.spec.tsx
  src/components/Testinho/Testinho.stories.tsx
  src/components/Testinho/Testinho.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: eslint errors
  src/components/MainComposer/components/InputMediaGroup/utils/fileValidator/fileValidator.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/utils.ts
Due: eslint --fix, prettier --write

fix: remove accountstore unused and double _
  mock-api.json
  src/stores/useAccountStore/useAccountStore.ts
  src/stores/useAccountStore/useAccountStore.types.ts
Due: eslint --fix, prettier --write

refactor: refactor main composer base
  package.json
  pnpm-lock.yaml
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.tsx
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.type.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/components/Tabber/Tabs/Tabs.types.ts
  src/pages/home/components/Tabber/hooks/useSyncTabsWithPosts.ts
  src/stores/usePost/usePost.ts
Due: eslint --fix, prettier --write

fix: fixed tabber and zustand create
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/stores/usePost/usePost.spec.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
Due: eslint --fix, prettier --write

fix: stores names
  src/components/FeedbackError/FeedbackError.spec.tsx
  src/components/FeedbackError/FeedbackError.stories.tsx
  src/components/FeedbackError/FeedbackError.tsx
  src/components/FeedbackError/components/FeedbackErrorMobile.spec.tsx
  src/components/FeedbackError/components/FeedbackErrorMobile.stories.tsx
  src/components/FeedbackError/components/FeedbackErrorMobile.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/components/Tabber/hooks/useSyncTabsWithPosts.ts
  src/stores/__mocks__/usePostStore.mock.ts
  src/stores/useErrorStore/useErrorStore.spec.ts
  src/stores/useErrorStore/useErrorStore.ts
  src/stores/useErrorStore/useErrorStore.types.ts
  src/stores/usePostStore/usePostStore.spec.ts
  src/stores/usePostStore/usePostStore.ts
  src/stores/usePostStore/usePostStore.types.ts
Due: eslint --fix, prettier --write
