Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

feat: Create new component - `ErrorBoundary`
  src/components/ErrorBoundary/ErrorBoundary.tsx
Due: eslint --fix, prettier --write

refactor: Ajust unitary test and change preview property to children
  src/components/ComponentPreview/PreviewContainer.spec.tsx
  src/components/ComponentPreview/PreviewContainer.stories.tsx
  src/components/ComponentPreview/PreviewContainer.tsx
  src/components/ComponentPreview/PreviewContainer.types.ts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write

refactor: change section tag to div
  src/components/ComponentPreview/PreviewContainer.tsx
Due: eslint --fix, prettier --write

refactor: fixed how children is passed in components
  src/components/ComponentPreview/PreviewContainer.spec.tsx
  src/components/ComponentPreview/PreviewContainer.stories.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write

refactor: fix children in `preview`
  src/components/ComponentPreview/PreviewContainer.stories.tsx
Due: eslint --fix, prettier --write

refactor: Remove `Preview Container` from `Home`
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: insert `PreviewContainer` on `Tabber`
  src/components/Tabber/Tabber.module.scss
  src/components/Tabber/Tabber.tsx
  src/pages/home/home.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: ajust Tabber scss
  src/components/Tabber/Tabber.module.scss
Due: prettier --write, stylelint --fix

Componente de preview (#182)
  src/components/ComponentPreview/PreviewContainer.module.scss
  src/components/ComponentPreview/PreviewContainer.spec.tsx
  src/components/ComponentPreview/PreviewContainer.stories.tsx
  src/components/ComponentPreview/PreviewContainer.tsx
  src/components/ComponentPreview/PreviewContainer.types.ts
  src/components/Tabber/Tabber.module.scss
  src/components/Tabber/Tabber.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: add checkbox component
  src/components/FirstComment/FirstComment.module.scss
  src/components/FirstComment/FirstComment.tsx
  src/components/FirstComment/FirstComment.types.ts
  src/components/FirstComment/assets/check.svg
  src/components/FirstComment/index.ts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: change FirstComment to Checkbox and add variants
  src/components/Checkbox/Checkbox.module.scss
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/Checkbox.types.ts
  src/components/Checkbox/assets/check.svg
  src/components/Checkbox/index.ts
  src/components/FirstComment/FirstComment.tsx
  src/components/FirstComment/index.ts
  src/pages/home/home.tsx
  src/utils/ifProp.ts
Due: eslint --fix, prettier --write, stylelint --fix

Create autoAssigned.yml
  .github/workflows/.github/workflows/autoAssigned.yml
Due: none

Delete .github/workflows/.github/workflows directory
  .github/workflows/.github/workflows/autoAssigned.yml
Due: none

Create autoAssigned.yml
  .github/workflows/autoAssigned.yml
Due: none

Create autoMilestone.yml
  .github/workflows/autoMilestone.yml
Due: none

Create autoUnassign.yml
  .github/workflows/autoUnassign.yml
Due: none

Workflows (#195)
  .github/workflows/autoAssigned.yml
  .github/workflows/autoMilestone.yml
  .github/workflows/autoUnassign.yml
Due: none

Update autoMilestone.yml
  .github/workflows/autoMilestone.yml
Due: none

Delete .github/workflows/autoUnassign.yml
  .github/workflows/autoUnassign.yml
Due: none

docs: update issues template
  .github/workflows/ISSUE_TEMPLATE/bug-report.md
  .github/workflows/ISSUE_TEMPLATE/feature-request.md
Due: none

docs: update issue template
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

feat: create ErrorBoundary component with tests and storys
  src/components/ErrorBoundary/ErrorBoundary.spec.tsx
  src/components/ErrorBoundary/ErrorBoundary.stories.tsx
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/ErrorBoundary/ErrorBoundary.types.ts
Due: eslint --fix, prettier --write

refactor: Removing commented code
  src/components/ErrorBoundary/ErrorBoundary.spec.tsx
Due: eslint --fix, prettier --write

refactor: add correct type to the TErrorBoundaryState.error
  src/components/ErrorBoundary/ErrorBoundary.types.ts
Due: eslint --fix, prettier --write

refactor: refact the tests to use react testing library
  src/components/ErrorBoundary/ErrorBoundary.spec.tsx
Due: eslint --fix, prettier --write

feat: changes in checkbox component
  src/components/Checkbox/Checkbox.module.scss
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/Checkbox.types.ts
  src/utils/ifProp.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix the mainComponent (make responsive)
  src/components/MediaInputs/MediaInput.module.scss
Due: prettier --write, stylelint --fix

feat: add accordion component
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Accordion.tsx
  src/components/Accordion/Accordion.types.ts
  src/components/Accordion/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: add unit tests for checkbox component
  src/components/Checkbox/Checkbox.spec.tsx
Due: eslint --fix, prettier --write

test: add tests for accordion component
  src/components/Accordion/Accordion.spec.tsx
Due: eslint --fix, prettier --write

feat: add first comment component
  src/components/FirstComment/FirstComment.module.scss
  src/components/FirstComment/FirstComment.spec.tsx
  src/components/FirstComment/FirstComment.tsx
  src/components/FirstComment/FirstComment.types.ts
  src/components/FirstComment/index.ts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

docs: add docs for new components checkbox, accordion and firstComment
  src/components/Accordion/Accordion.stories.tsx
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/FirstComment/FirstComment.stories.tsx
Due: eslint --fix, prettier --write

refactor: removing useless comments
  src/components/ErrorBoundary/ErrorBoundary.spec.tsx
  src/components/ErrorBoundary/ErrorBoundary.tsx
Due: eslint --fix, prettier --write

test: change get to find
  src/components/Accordion/Accordion.spec.tsx
Due: eslint --fix, prettier --write

feat: change render to pass element directly
  src/components/Accordion/Accordion.stories.tsx
  src/components/Accordion/Accordion.tsx
  src/components/Accordion/Accordion.types.ts
  src/components/FirstComment/FirstComment.tsx
Due: eslint --fix, prettier --write

refactor: remove barrels imports
  src/components/Accordion/index.ts
  src/components/Checkbox/index.ts
  src/components/FirstComment/index.ts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write

refactor: externalize accordion functionality
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: remove functionalities of checkbox
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/Checkbox.types.ts
Due: eslint --fix, prettier --write

feat: remove optional props in checkbox
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/Checkbox.types.ts
Due: eslint --fix, prettier --write

feat: update checkbox styles from px to rem
  src/components/Checkbox/Checkbox.module.scss
Due: prettier --write, stylelint --fix
