Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

docs: add changeset feature
  .changeset/fresh-apricots-drive.md
Due: none

chore: change the changeset summary
  .changeset/tender-boxes-knock.md
Due: none

chore: replace from pixel and percentage to rem
  src/pages/home/home.module.scss
Due: prettier --write, stylelint --fix

feat: enhance mobile responsiveness & remove MainComposer module redundancies
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.tsx
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  src/styles/breakpoints.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: add path alias and changeset, delete unnecessary things
  src/components/AccordionTab/AccordionTab.module.scss
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/home.module.scss
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

chore: add path alias in home module
  src/pages/home/home.module.scss
Due: prettier --write, stylelint --fix

refactor: fix lint on object
  src/services/fetchModules/fetchModules.ts
Due: eslint --fix, prettier --write

feat: enhance mobile responsiveness & remove MainComposer module redu… (#288)
  .changeset/fresh-apricots-drive.md
  .changeset/tender-boxes-knock.md
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.tsx
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add changing text between module tabs
  .eslintrc.js
  src/components/Tabber/Tabber.tsx
  src/modules/types.tsx
Due: eslint --fix, prettier --write

refactor: turn back MediaInput
  src/components/MediaInputs/MediaInput.tsx
Due: eslint --fix, prettier --write

chore: update lint-staged
  package.json
Due: none

chore: update pipeline to run code-style only in changed files
  .github/workflows/main.yml
Due: none

chore: update eslint testing library rules
  .eslintrc.js
  tsconfig.node.json
Due: none

chore: update pipeline to fix wrong settings
  .github/workflows/main.yml
Due: none

chore: compact code style pipeline settings
  .github/workflows/main.yml
Due: none

refactor: testing pipeline
  src/App.module.scss
  src/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Revert "refactor: testing pipeline"
  src/App.module.scss
  src/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: reorder pipeline scripts
  .github/workflows/main.yml
Due: none

chore: update pipeline to fix wrong settings
  .github/workflows/code-style.yml
  .github/workflows/main.yml
Due: none

chore: update pipeline to fix wrong settings
  .github/workflows/code-style.yml
Due: none

chore: add more eslint rules
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: none

chore: update pipeline
  .github/workflows/code-style.yml
Due: none

chore: update pnpm lock file
  pnpm-lock.yaml
Due: none

chore: fix stylelint ignore that was firing on js and ts files
  .stylelintrc
Due: none

chore: update jest dom version
  package.json
  pnpm-lock.yaml
Due: none

Revert "chore: update jest dom version"
  package.json
  pnpm-lock.yaml
Due: none

chore: trigger pipeline
  .github/workflows/code-style.yml
Due: none

chore: trigger pipeline
  .github/workflows/code-style.yml
  .github/workflows/install-deps.yml
  .github/workflows/main.yml
Due: none

chore: trigger pipeline
  .github/workflows/code-style.yml
  .github/workflows/install-deps.yml
Due: none

chore: trigger pipeline
  .github/workflows/code-style.yml
  .github/workflows/main.yml
Due: none

chore: setup composite action to share install dep configuration
  .github/actions/install-deps/action.yml
  .github/workflows/code-style.yml
  .github/workflows/install-deps.yml
  .github/workflows/main.yml
Due: none

chore: add action checkout before use install deps
  .github/workflows/code-style.yml
  .github/workflows/main.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
