Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor: adjust alt from images and tests
  src/components/InputMedia/InputMedia.mock.tsx
  src/components/InputMedia/InputMedia.tsx
  src/components/ManyInputMedias/ManyInputs.mock.tsx
  src/components/ManyInputMedias/ManyInputs.module.scss
  src/components/ManyInputMedias/ManyInputs.spec.ct.tsx
  src/components/ManyInputMedias/MediaGroup/MediaGroup.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: change manyMediaInputs to MediaInput
  src/components/ManyInputMedias/ManyInputs.module.scss
Due: prettier --write, stylelint --fix

refactor: change manyMediaInputs to MediaInput
  src/components/MediaInputs/MediaGroup/MediaGroup.tsx
  src/components/MediaInputs/MediaGroup/MediaGroup.types.ts
  src/components/MediaInputs/MediaInput.module.scss
  src/components/MediaInputs/MediaInput.spec.ct.tsx
  src/components/MediaInputs/MediaInput.spec.tsx
  src/components/MediaInputs/MediaInput.stories.tsx
  src/components/MediaInputs/MediaInput.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix tests from inputMedia and MediaInputs
  src/components/InputMedia/InputMedia.spec.tsx
  src/components/MediaInputs/MediaInput.spec.tsx
Due: eslint --fix, prettier --write

Input media (#167)
  .eslintrc.json
  .nvmrc
  package.json
  playwright-ct.config.ts
  src/assets/imagetest.jpg
  src/components/InputImage/InputImage.module.scss
  src/components/InputImage/InputImage.tsx
  src/components/InputMedia/InputMedia.mock.tsx
  src/components/InputMedia/InputMedia.module.scss
  src/components/InputMedia/InputMedia.spec.ct.tsx
  src/components/InputMedia/InputMedia.spec.tsx
  src/components/InputMedia/InputMedia.stories.tsx
  src/components/InputMedia/InputMedia.tsx
  src/components/InputMedia/InputMedia.types.ts
  src/components/InputMedia/assets/imageEmptyGray.svg
  src/components/MediaInputs/MediaGroup/MediaGroup.tsx
  src/components/MediaInputs/MediaGroup/MediaGroup.types.ts
  src/components/MediaInputs/MediaInput.module.scss
  src/components/MediaInputs/MediaInput.spec.ct.tsx
  src/components/MediaInputs/MediaInput.spec.tsx
  src/components/MediaInputs/MediaInput.stories.tsx
  src/components/MediaInputs/MediaInput.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  src/styles/base.scss
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

feat: fix mediaInput test
  src/components/MediaInputs/MediaInput.spec.ct.tsx
Due: eslint --fix, prettier --write

docs: edit playwright test component
  .github/workflows/playwright.yml
Due: none

style: edit component test from playwright
  .github/workflows/playwright.yml
Due: none

fix: fix playwright component test
  .github/workflows/playwright.yml
Due: none

feat: Add internationalization
  package.json
  src/components/MainComposer/MainComposer.tsx
  src/i18n/index.tsx
  src/i18n/locales/en/en-us.json
  src/i18n/locales/pt/pt-br.json
  src/pages/home/home.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: Merge and fix the SearchClue and inputSearch on sidebar
  src/components/InputSearch/IInputProps.types.ts
  src/components/InputSearch/InputSearch.module.scss
  src/components/InputSearch/InputSearch.spec.tsx
  src/components/InputSearch/InputSearch.tsx
  src/components/SearchClue/SearchClue.spec.tsx
  src/components/SearchClue/SearchClue.tsx
  src/components/SearchClue/SearchClue.types.ts
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: width before left
  src/components/InputSearch/InputSearch.module.scss
Due: prettier --write, stylelint --fix

fix: fix eslint
  .stylelintrc
  src/components/InputSearch/InputSearch.module.scss
  src/components/SearchClue/SearchClue.module.scss
Due: prettier --write, stylelint --fix

feat: rightIcon conditional render
  src/components/InputSearch/InputSearch.tsx
Due: eslint --fix, prettier --write

fix: some issues
  src/components/InputSearch/IInputProps.types.ts
  src/components/InputSearch/InputSearch.module.scss
  src/components/InputSearch/InputSearch.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove comments
  src/components/InputSearch/InputSearch.tsx
Due: eslint --fix, prettier --write

fix: fix some bugs
  src/components/InputSearch/InputSearch.stories.tsx
  src/components/InputSearch/InputSearch.tsx
  src/components/SearchClue/SearchClue.tsx
  src/components/SearchClue/SearchClue.types.ts
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

fix: fix
  src/components/InputSearch/InputSearch.module.scss
  src/components/InputSearch/InputSearch.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: solve all changes
  src/components/SearchClue/SearchClue.types.ts
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

fix: fix some stuff
  .vscode/extensions.json
  src/components/InputSearch/IInputProps.types.ts
  src/components/InputSearch/InputSearch.stories.tsx
  src/components/InputSearch/InputSearch.tsx
  src/components/InputSearch/InputSearch.types.ts
  src/components/SearchClue/SearchClue.types.ts
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

fix: fix some test issues
  src/components/InputSearch/InputSearch.spec.tsx
Due: eslint --fix, prettier --write

feat: fix mediaInput test (#173)
  .github/workflows/playwright.yml
  src/components/MediaInputs/MediaInput.spec.ct.tsx
Due: eslint --fix, prettier --write

feat: Add internationalization (#175)
  package.json
  src/components/MainComposer/MainComposer.tsx
  src/i18n/index.tsx
  src/i18n/locales/en/en-us.json
  src/i18n/locales/pt/pt-br.json
  src/pages/home/home.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: remove missed push file
  .vscode/extensions.json
Due: none

fix: done some request changes
  src/components/InputSearch/InputSearch.spec.tsx
  src/components/InputSearch/InputSearch.tsx
Due: eslint --fix, prettier --write

feat: Merge and fix the SearchClue and inputSearch on sidebar (#171)
  .stylelintrc
  src/components/InputSearch/IInputProps.types.ts
  src/components/InputSearch/InputSearch.module.scss
  src/components/InputSearch/InputSearch.spec.tsx
  src/components/InputSearch/InputSearch.stories.tsx
  src/components/InputSearch/InputSearch.tsx
  src/components/InputSearch/InputSearch.types.ts
  src/components/SearchClue/SearchClue.module.scss
  src/components/SearchClue/SearchClue.spec.tsx
  src/components/SearchClue/SearchClue.tsx
  src/components/SearchClue/SearchClue.types.ts
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: Create Component PreviewContainer
  src/components/ComponentPreview/PreviewContainer.module.scss
  src/components/ComponentPreview/PreviewContainer.stories.tsx
  src/components/ComponentPreview/PreviewContainer.tsx
  src/components/ComponentPreview/PreviewContainer.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

style: format `PreviewContainer.module.scss`
  src/components/ComponentPreview/PreviewContainer.module.scss
Due: prettier --write, stylelint --fix

feat: start building twitter api fetch
  electron/main.ts
  package.json
  src/electron/main.ts
  src/electron/preload.ts
  src/electron/renderer.ts
  src/electron/tsconfig.json
  src/modules/example-module1/service/service.ts
  src/modules/twitter/service/service.ts
  src/modules/types.ts
  src/pages/home/home.tsx
  src/types/window.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

refactor: Change component name
  src/components/ComponentPreview/PreviewContainer.tsx
Due: eslint --fix, prettier --write

refactor: Remove h1 stylization
  src/components/ComponentPreview/PreviewContainer.module.scss
Due: prettier --write, stylelint --fix

test: Add missing unitary test
  src/components/ComponentPreview/PreviewContainer.spec.tsx
Due: eslint --fix, prettier --write

refactor: Interface name changed to match the component name
  src/components/ComponentPreview/PreviewContainer.tsx
  src/components/ComponentPreview/PreviewContainer.types.ts
Due: eslint --fix, prettier --write

refactor: Ajust width & height values
  src/components/ComponentPreview/PreviewContainer.module.scss
Due: prettier --write, stylelint --fix

refactor: Update component name and add preview property
  src/components/ComponentPreview/PreviewContainer.stories.tsx
Due: eslint --fix, prettier --write

feat: Add PreviewContainer and Preview component on home screen
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: `ComposerEditor` removed from `home.tsx`
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: move preview to correct side
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

style: eslint ajust on `home.module.scss`
  src/pages/home/home.module.scss
Due: prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
