Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: add usepoststore
  src/stores/usePost/usePost.spec.ts
  src/stores/usePost/usePost.ts
  src/stores/usePost/usePost.types.ts
Due: eslint --fix, prettier --write

feat: add scroll to sidebar
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: lint
  src/pages/home/components/Tabber/hooks/useSyncTabsWithPosts.ts
Due: eslint --fix, prettier --write

fix: code review on register screen
  src/components/TextInput/TextInput.components.tsx
  src/components/TextInput/TextInput.module.scss
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInput.types.ts
  src/pages/register/components/Footer/Footer.module.scss
  src/pages/register/components/Footer/Footer.tsx
  src/pages/register/components/Form/Form.tsx
  src/pages/register/components/Form/FormSchema.ts
  src/pages/register/components/MobileHero/Hero.tsx
  src/pages/register/components/SignUpPromotion/SignUpPromotion.module.scss
  src/pages/register/components/SignUpPromotion/SignUpPromotion.tsx
  src/pages/register/components/SocialLogin/SocialLogin.tsx
  src/pages/register/register.module.scss
  src/pages/register/register.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove eslint_report.json
  eslint_report.json
Due: none

fix: rem calculation
  src/components/TextInput/TextInput.module.scss
  src/pages/register/components/DesktopHeader/DesktopHeader.module.scss
  src/pages/register/components/DesktopHero/Hero.module.scss
  src/pages/register/components/Footer/Footer.module.scss
  src/pages/register/components/Form/Form.module.scss
  src/pages/register/components/MobileHero/Hero.module.scss
  src/pages/register/components/SignUpPromotion/SignUpPromotion.module.scss
  src/pages/register/components/SocialLogin/SocialLogin.module.scss
  src/pages/register/register.module.scss
Due: prettier --write, stylelint --fix

fix: desktop register spacings
  src/components/Icon/icons/instagram.svg
  src/components/Icon/icons/tiktok.svg
  src/components/Icon/icons/twitter.svg
  src/components/TextInput/TextInput.module.scss
  src/pages/register/components/DesktopHero/Hero.module.scss
  src/pages/register/components/SocialLogin/SocialLogin.module.scss
  src/pages/register/components/SocialLogin/SocialLogin.tsx
  src/pages/register/register.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: react router
  src/App.tsx
Due: eslint --fix, prettier --write

fix: register screen svgs
  src/pages/register/components/Form/images/octo.svg
  src/pages/register/components/MobileHero/images/octo.svg
Due: none

fix: footer name on register screen
  src/pages/register/components/Footer/Footer.module.scss
  src/pages/register/components/Footer/Footer.spec.tsx
  src/pages/register/components/Footer/Footer.stories.tsx
  src/pages/register/components/Footer/Footer.tsx
  src/pages/register/components/MobileHero/Hero.module.scss
  src/pages/register/components/MobileHero/images/octo.svg
  src/pages/register/register.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: prettier fix
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

fix: prettier fix
  src/components/Preview/Preview.module.scss
Due: prettier --write, stylelint --fix

feat: add already have an account to mobile screens
  src/pages/register/components/AlreadyHaveAnAccount/AlreadyHaveAnAccount.module.scss
  src/pages/register/components/AlreadyHaveAnAccount/AlreadyHaveAnAccount.spec.tsx
  src/pages/register/components/AlreadyHaveAnAccount/AlreadyHaveAnAccount.stories.tsx
  src/pages/register/components/AlreadyHaveAnAccount/AlreadyHaveAnAccount.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: ale code review
  src/components/Button/Button.module.scss
  src/components/Button/Button.types.ts
  src/pages/register/components/DesktopHero/Hero.module.scss
  src/pages/register/components/DesktopHero/Hero.tsx
  src/pages/register/components/MobileHero/Hero.module.scss
  src/pages/register/components/MobileHero/Hero.tsx
  src/pages/register/components/SocialLogin/SocialLogin.module.scss
  src/pages/register/components/SocialLogin/SocialLogin.tsx
  src/pages/register/register.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: sign up promotion letter spacing
  src/pages/register/components/SignUpPromotion/SignUpPromotion.module.scss
Due: prettier --write, stylelint --fix

Ajuste no useError e emissão dos errors de mídia e texto. (#573)
  src/components/FeedbackError/FeedbackError.stories.tsx
  src/components/FeedbackError/FeedbackError.tsx
  src/components/FeedbackError/components/FeedbackErrorMobile.stories.tsx
  src/components/MainComposer/components/ComposerEditor/ComposeEditor.spec.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/components/ComposerEditor/utils/textValidator/textValidator.ts
  src/components/MainComposer/components/ComposerEditor/utils/textValidator/textValidator.types.ts
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.tsx
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.type.ts
  src/components/MainComposer/components/InputMediaGroup/utils/fileValidator/fileValidator.ts
  src/components/MainComposer/components/InputMediaGroup/utils/fileValidator/fileValidator.types.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.components.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
  src/components/Preview/Preview.module.scss
  src/components/Tabber/Tabber.tsx
  src/services/api/social-media/social-media.types.ts
  src/stores/useError/useError.spec.ts
  src/stores/useError/useError.ts
  src/stores/useError/useError.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: social login title on desktop
  src/pages/register/components/Form/images/octo.svg
  src/pages/register/components/SocialLogin/SocialLogin.module.scss
  src/pages/register/components/SocialLogin/SocialLogin.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: showing already have an account componente on desktop
  src/pages/register/components/AlreadyHaveAnAccount/AlreadyHaveAnAccount.module.scss
Due: prettier --write, stylelint --fix

fix: update mobile hero svg positioning excuse comment
  src/pages/register/components/MobileHero/Hero.module.scss
Due: prettier --write, stylelint --fix

refactor: fix scroll bar spacing
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

refactor: change heroes stories name
  src/pages/register/components/DesktopHero/Hero.stories.tsx
  src/pages/register/components/MobileHero/Hero.stories.tsx
Due: eslint --fix, prettier --write

fix: collapse main composer
  src/components/Accordion/Accordion.tsx
  src/components/MainComposer/MainComposer.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: duplicate media query on register module
  src/pages/register/register.module.scss
Due: prettier --write, stylelint --fix

refactor: readjust tabber responsive
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.module.scss
  src/components/Preview/Preview.module.scss
  src/components/Tabber/PostModes/PostModes.module.scss
Due: prettier --write, stylelint --fix

refactor: code style
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

refactor: readjust tabber responsive (#616)
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.module.scss
  src/components/Preview/Preview.module.scss
  src/components/Tabber/PostModes/PostModes.module.scss
Due: prettier --write, stylelint --fix

Adiconar scroll na side bar (#606)
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: create Tab component
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/components/Tabber/Tabs/components/Tab.tsx
  src/pages/home/components/Tabber/Tabs/components/Tab.types.ts
  src/pages/home/home.tsx
  src/stores/__mocks__/usePostStore.mock.ts
  src/stores/useErrorStore/useErrorStore.ts
  src/stores/useErrorStore/useErrorStore.types.ts
  src/stores/usePostStore/usePostStore.spec.ts
Due: eslint --fix, prettier --write

fix: only allow action bar button when at least one account is selected
  src/pages/home/components/ActionBar/ActionBar.module.scss
  src/pages/home/components/ActionBar/ActionBar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: action bar styles
  src/pages/home/components/ActionBar/ActionBar.module.scss
Due: prettier --write, stylelint --fix

feat: show social media icon on tab
  src/components/Tabber/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write

feat: favorite account
  src/components/AccountCard/AccountCard.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write

fix: sidebar tests
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/stores/__mocks__/useSocialMediaStore.mock.ts
Due: eslint --fix, prettier --write

fix: store errors
  src/components/AccountCard/AccountCard.tsx
  src/pages/home/components/Sidebar/Sidebar.components.tsx
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.stories.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/services/api/accounts/accounts.ts
  src/stores/__mocks__/useSocialMediaStore.mock.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
Due: eslint --fix, prettier --write

fix: favorite social media
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
Due: eslint --fix, prettier --write

fix: tests
  src/stores/useSocialMediaStore/useSocialMediaStore.spec.ts
Due: eslint --fix, prettier --write

fix: socialaccordion tests
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
Due: eslint --fix, prettier --write

fix: favorites in accounts object
  src/pages/home/components/Sidebar/Sidebar.components.tsx
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
Due: eslint --fix, prettier --write

feat: update accounts
  mock-api.json
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.stories.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/services/api/accounts/accounts.ts
  src/services/api/accounts/accounts.types.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
