Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

fix: replace tag button with button component
  src/components/SavBar/SavBar.tsx
Due: eslint --fix, prettier --write

chore: adjust import error
  src/components/SavBar/SavBar.tsx
Due: eslint --fix, prettier --write

chore: adjust build conflict
  src/components/ActionBar/ActionBar.module.scss
  src/components/ActionBar/ActionBar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: adjust build conflict yet
  src/components/ActionBar/ActionBar.module.scss
Due: prettier --write, stylelint --fix

chore: adjust build conflict yett
  src/components/ActionBar/ActionBar.module.scss
  src/components/ActionBar/ActionBar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: postmode state
  src/components/Tabber/Tabber.tsx
Due: eslint --fix, prettier --write

chore: rename names & add new buttons
  src/components/ActionBar/ActionBar.module.scss
  src/components/ActionBar/ActionBar.tsx
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: fixing the overflow of containers to show correctly inside the screen
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: adding the new Icon component
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

refactor: deleting PlusIcon component
  src/pages/home/components/Sidebar/components/PlusIcon.tsx
Due: eslint --fix, prettier --write

chore: removing eslint leaked rulle
  .eslintrc.cjs
Due: none

refactor: removing ternary to use and operator
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

refactor: importing entire namespace of breakpoints
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

chore: adjust in scss properties
  src/components/ActionBar/ActionBar.module.scss
Due: prettier --write, stylelint --fix

fix: PostMode state fixed
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabber.types.ts
Due: eslint --fix, prettier --write

refactor: removing useless properties
  src/components/AccordionTab/AccordionTab.module.scss
Due: prettier --write, stylelint --fix

chore: PostMode state in Tabber Component (#427)
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabber.types.ts
Due: eslint --fix, prettier --write

refactor: using a better way to update state using the prev state
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

chore: refactor searchclue render logic
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

chore: add error
  src/components/CharacterLimitMainText/CharacterLimitMainText.types.ts
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: remove error
  src/components/ComposerEditor/ComposerEditor.module.scss
Due: prettier --write, stylelint --fix

fix: replace tag button with button component (#423)
  src/components/ActionBar/ActionBar.module.scss
  src/components/ActionBar/ActionBar.tsx
  src/components/SavBar/SavBar.module.scss
  src/components/SavBar/SavBar.tsx
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: removing height from newAccountButtonMobile, is not necessary
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

fix: removing the issue_template file, its identical to bug-report
  .github/ISSUE_TEMPLATE/issue_template.md
Due: none

refactor: refactoring the bug and feature templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

refactor: using min-width in newAccountButtonMobile
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

refactor: running prettier:fix
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

Issue 258 - Social Media Selector Mobile (#341)
  .eslintrc.cjs
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/Button/Button.module.scss
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/assets/plusIcon.svg
Due: eslint --fix, prettier --write, stylelint --fix

Issue 432 - Ajustar o template de Issue (#435)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/issue_template.md
Due: none

fix: fixing the Tabber component, the basic to show in the ladle
  src/components/Tabber/Tabber.tsx
Due: eslint --fix, prettier --write

fix: fixing the props of ComposerEditor story
  src/components/ComposerEditor/ComposerEditor.stories.tsx
Due: eslint --fix, prettier --write

fix: fixing the Icon on FeedbackError component
  src/components/FeedbackError/FeedbackError.module.scss
  src/components/FeedbackError/FeedbackError.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: adjusts in Tabber.types.ts
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabber.types.ts
Due: eslint --fix, prettier --write

fix: fixing the button stories with the new icon component
  src/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write

chore: remove eslint role and fix the conditional render
  .eslintrc.cjs
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

refactor: change px to rem
  src/components/FeedbackError/FeedbackError.module.scss
Due: prettier --write, stylelint --fix

refactor: removing comment
  src/components/Tabber/Tabber.tsx
Due: eslint --fix, prettier --write

refactor: using different stories to button text and button circle
  src/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write
