Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

fix: change type
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
Due: eslint --fix, prettier --write

fix: change type
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
Due: eslint --fix, prettier --write

refactor: redo tabber composition
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/Sidebar.types.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/pages/home/components/Tabber/PostModes/PostModes.module.scss
  src/pages/home/components/Tabber/PostModes/PostModes.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.module.scss
  src/pages/home/components/Tabber/Tabber.stories.tsx
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/pages/home/components/Tabber/Tabs/Tabs.module.scss
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/components/Tabber/Tabs/Tabs.types.ts
  src/pages/home/components/Tabber/utils.ts
  src/pages/home/home.tsx
  src/pages/home/home.types.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
  src/utils/isEmpty/isEmpty.spec.ts
  src/utils/isEmpty/isEmpty.ts
Due: eslint --fix, prettier --write, stylelint --fix

style: fix structure style social card
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaList.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: add name for html element & add plus icon
  src/pages/home/components/ActionBar/ActionBar.module.scss
  src/pages/home/components/ActionBar/ActionBar.tsx
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: adjust side bar after plus icon component
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
Due: eslint --fix, prettier --write

fix: type for data structure
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaList.module.scss
  src/pages/home/components/Sidebar/components/SocialMediaForm/data.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: add storie for socialmediaform
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.stories.tsx
Due: eslint --fix, prettier --write

Mobile home structure/#533 (#566)
  src/components/Icon/data.ts
  src/components/Icon/icons/arrow-right.svg
  src/components/InputSearch/InputSearch.module.scss
  src/components/Preview/Preview.module.scss
  src/components/Tabber/Tabber.module.scss
  src/pages/home/components/ActionBar/ActionBar.module.scss
  src/pages/home/components/ActionBar/ActionBar.tsx
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/components/Header/Header.tsx
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Update README.md
  README.md
Due: none

Update README.md (#572)
  README.md
Due: none

feat: refactor useSocialMediaStore
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/home.tsx
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
  src/utils/multimap/multimap.ts
Due: eslint --fix, prettier --write

test: ensure render component
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.spec.tsx
Due: eslint --fix, prettier --write

chore: adjust useError and emit ccorrectly errors
  src/components/FeedbackError/FeedbackError.stories.tsx
  src/components/FeedbackError/FeedbackError.tsx
  src/components/FeedbackError/components/FeedbackErrorMobile.stories.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.tsx
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.type.ts
  src/components/MainComposer/components/InputMediaGroup/utils/fileValidator/fileValidator.ts
  src/components/MainComposer/components/InputMediaGroup/utils/fileValidator/fileValidator.types.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
  src/stores/useError/useError.spec.ts
  src/stores/useError/useError.ts
  src/stores/useError/useError.types.ts
Due: eslint --fix, prettier --write

test: ensure renders successfully
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.spec.tsx
Due: eslint --fix, prettier --write

fix: fix useError test and ComposerEditor test
  src/components/MainComposer/components/ComposerEditor/ComposeEditor.spec.tsx
  src/stores/useError/useError.spec.ts
Due: eslint --fix, prettier --write

feat: scroll in tabber and remove height and width fix
  src/components/Tabber/Tabs/Tabs.module.scss
  src/pages/home/home.module.scss
Due: prettier --write, stylelint --fix

feat: create the base test
  src/hooks/useHorizontalScroll/useHorizontalScroll.spec.ts
Due: eslint --fix, prettier --write

feat: boolean of hasMoreOnLeft or hasMoreOnRight
  src/hooks/useHorizontalScroll/useHorizontalScroll.ts
Due: eslint --fix, prettier --write

fix: imports desnececssary
  src/hooks/useHorizontalScroll/useHorizontalScroll.ts
Due: eslint --fix, prettier --write

fix: increase opacity
  src/components/Tabber/Tabs/Tabs.module.scss
Due: prettier --write, stylelint --fix

fix: consistency of scrollToElement
  src/hooks/useHorizontalScroll/useHorizontalScroll.ts
Due: eslint --fix, prettier --write

fix: gradient
  src/components/Tabber/Tabber.module.scss
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabs/Tabs.module.scss
  src/components/Tabber/Tabs/Tabs.tsx
  src/hooks/useHorizontalScroll/useHorizontalScroll.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: scrollbar hidden and fade effect
  src/components/Tabber/Tabs/Tabs.module.scss
  src/pages/home/home.module.scss
Due: prettier --write, stylelint --fix

fix: scrolltoelemnt comportament and fix gradient
  src/components/Tabber/Tabs/Tabs.module.scss
  src/hooks/useHorizontalScroll/useHorizontalScroll.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove horizontalscrollhook tests
  src/hooks/useHorizontalScroll/useHorizontalScroll.spec.ts
Due: eslint --fix, prettier --write

fix: scrollto animation
  src/hooks/useHorizontalScroll/useHorizontalScroll.ts
Due: eslint --fix, prettier --write

fix: remove desnecessary states
  src/hooks/useHorizontalScroll/useHorizontalScroll.ts
Due: eslint --fix, prettier --write

fix: gradient color
  src/components/Tabber/Tabs/Tabs.module.scss
Due: prettier --write, stylelint --fix

fix: scroll with gsap
  package.json
  pnpm-lock.yaml
  src/components/Tabber/Tabs/Tabs.module.scss
  src/components/Tabber/Tabs/Tabs.tsx
  src/hooks/useHorizontalScroll/useHorizontalScroll.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: height and alias
  src/components/Tabber/Tabber.module.scss
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabs/Tabs.module.scss
  src/components/Tabber/Tabs/Tabs.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: removing limits from others socials
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

fix: characterlimit doesnt showing in general
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

refactor: func to get current max limits and pass as props
  src/components/Tabber/Tabber.tsx
Due: eslint --fix, prettier --write

refactor: improving the reading of code
  src/components/Tabber/Tabber.tsx
Due: eslint --fix, prettier --write

refactor: add currentMaxLimit props
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
Due: eslint --fix, prettier --write

refactor: add new props and fix the value on Character Limit
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
Due: eslint --fix, prettier --write

fix: paint the svh with red when pass the limit
  src/components/CharacterLimitMainText/CharacterLimit.module.scss
Due: prettier --write, stylelint --fix
