Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: remove search clue component and its logic (#474)
  src/components/InputSearch/InputSearch.types.ts
  src/components/SearchClue/SearchClue.module.scss
  src/components/SearchClue/SearchClue.spec.tsx
  src/components/SearchClue/SearchClue.tsx
  src/components/SearchClue/SearchClue.types.ts
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: show feedback error default state
  src/components/FeedbackError/FeedbackError.tsx
Due: eslint --fix, prettier --write

integrate service and store with core components
  .eslintrc.cjs
  mock-api.json
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/AccountCard/AccountCard.module.scss
  src/components/AccountCard/AccountCard.tsx
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/PostModes/PostModes.types.ts
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabber.types.ts
  src/components/Tabber/Tabs/Tabs.tsx
  src/components/Tabber/Tabs/Tabs.types.ts
  src/components/Tabber/stores/useSocialNetworkStore.tsx
  src/components/Tabber/stores/useSocialNetworkStore.types.ts
  src/components/Tabber/utils.ts
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/AddAccount/AddAccount.tsx
  src/pages/home/components/Sidebar/components/AddAccount/AddAccount.types.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.stories.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/pages/home/home.tsx
  src/services/account-database/account-database.ts
  src/services/addons/addon/OctoModule.ts
  src/services/addons/addon/PostModes.ts
  src/services/addons/addon/Service.ts
  src/services/addons/addon/Widget.ts
  src/services/addons/addon/mods.ts
  src/services/api/accounts/accounts.ts
  src/services/api/accounts/accounts.types.ts
  src/services/api/social-media/social-media.ts
  src/services/api/social-media/social-media.types.ts
  src/stores/useModulesStore.ts
  src/stores/useModulesStore.types.ts
  src/stores/usePostsStore.ts
  src/stores/useSocialMediaStore.ts
  src/stores/useSocialMediaStore.types.ts
  src/utils/multimap/multimap.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update README.md (#485)
  README.md
  docs/img/banner.png
Due: none

test: ensure components are rendered with the correct links
  pnpm-lock.yaml
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/components/Header/Header.spec.tsx
  src/pages/home/components/Header/Header.tsx
  src/pages/home/components/Header/components/InstagramIcon.tsx
  src/pages/home/components/Header/components/OctopostLogo.tsx
  src/pages/home/components/Header/components/TikTokIcon.tsx
  src/pages/home/components/Header/components/TwitterIcon.tsx
  src/pages/home/components/Header/links/links.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add full integration with component, orchestrator and services
  mock-api.json
  src/components/SubmitButton/SubmitButton.tsx
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabber.types.ts
  src/components/Tabber/utils.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/services/api/index.ts
  src/services/api/social-media/social-media.ts
  src/services/api/social-media/social-media.types.ts
  src/stores/useSocialMediaStore.ts
  src/stores/useSocialMediaStore.types.ts
  src/types/object.ts
Due: eslint --fix, prettier --write

style: many lint adjusts
  .eslintrc.cjs
  electron/electron-env.d.ts
  electron/main.ts
  electron/preload.ts
  electron/tsconfig.json
Due: eslint --fix, prettier --write

style: lint fixes
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/components/MediaInputs/MediaInput.ct.spec.tsx
  src/components/MediaInputs/MediaInput.tsx
  src/stores/__mocks__/zunstandMock.ts
Due: eslint --fix, prettier --write

style: fix 4k lint errors literally
  .eslintrc.cjs
  .npmrc
  commitlint.config.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/stores/useSocialMediaStore.ts
Due: eslint --fix, prettier --write

style: fix and todoed all lint errors
  .ladle/components.tsx
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  public/expose-module-manager.js
  public/react-as-es-module.js
  public/react-jsx-runtime.js
  src/components/Accordion/Accordion.spec.tsx
  src/components/Button/Button.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.spec.tsx
  src/components/CharacterLimitMainText/components/CharacterLimit.spec.tsx
  src/components/InputMedia/InputMedia.ct.spec.tsx
  src/components/Testinho/Container.ct.spec.tsx
  src/hooks/useKeyPress/useKeyPress.ts
  src/stores/useSocialMediaStore.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

chore: remove -r from pnpm commands
  package.json
Due: none

build: remove -r from build
  .github/actions/install-deps/action.yml
Due: none

chore: fix tests, build and some package.json scripts
  .npmrc
  electron/preload.ts
  package.json
  playwright-ct.config.mts
  pnpm-lock.yaml
  src/components/AccordionTab/AccordionTab.spec.tsx
  src/components/FeedbackError/FeedbackError.tsx
  src/components/Icon/data.ts
  src/components/MediaInputs/MediaInput.ct.spec.tsx
  src/components/Modal/Modal.tsx
  src/components/SearchClue/SearchClue.spec.tsx
  src/components/SearchClue/SearchClue.tsx
  src/components/SearchClue/SearchClue.types.ts
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  tsconfig.node.json
  vite.electron.config.ts
Due: eslint --fix, prettier --write

style: prettier fix
  mock-api.json
  src/components/Button/Button.types.ts
  src/components/CharacterLimitMainText/CharacterLimitMainText.types.ts
  src/components/ComponentPreview/PreviewContainer.stories.tsx
  src/components/ComponentPreview/PreviewContainer.types.ts
  src/components/ContentEditor/ContentEditor.types.ts
  src/components/FirstComment/FirstComment.stories.tsx
  src/components/Icon/Icon.tsx
  src/components/InputMedia/InputMedia.stories.tsx
  src/components/InputMedia/InputMedia.tsx
  src/components/InputMedia/InputMedia.types.ts
  src/components/MediaInputs/MediaGroup/MediaGroup.tsx
  src/components/MediaInputs/MediaGroup/MediaGroup.types.ts
  src/components/Preview/Preview.types.ts
  src/components/SentrySetup/SentrySetup.tsx
  src/i18n/index.ts
  src/stores/usePostsStore.spec.ts
  src/stores/usePostsStore.types.ts
Due: eslint --fix, prettier --write

style: add eof
  .npmrc
Due: none

style: remove comment
  eslint.config.mjs
Due: none

fix: adjust some comment callouts
  src/components/Button/Button.module.scss
  src/components/Tabber/Tabs/Tabs.tsx
  src/components/Tabber/Tabs/Tabs.types.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write, stylelint --fix

style: remove comment
  electron/main.ts
Due: eslint --fix, prettier --write

refactor: change import of svgs so they are rendered directly as components
  src/constants/social-medias.ts
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/components/Header/Header.spec.tsx
  src/pages/home/components/Header/Header.tsx
  src/pages/home/components/Header/components/InstagramIcon.tsx
  src/pages/home/components/Header/components/OctopostLogo.tsx
  src/pages/home/components/Header/components/TikTokIcon.tsx
  src/pages/home/components/Header/components/TwitterIcon.tsx
  src/pages/home/components/Header/images/instagram.svg
  src/pages/home/components/Header/images/octopost.svg
  src/pages/home/components/Header/images/tiktok.svg
  src/pages/home/components/Header/images/twitter.svg
  src/pages/home/components/Header/links/links.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: update social media import and variable home
  src/constants/social-medias.ts
  src/pages/home/components/Header/Header.spec.tsx
Due: eslint --fix, prettier --write

fix: tests and component render
  src/components/FeedbackError/components/FeedbackErrorMobile.module.scss
  src/components/FeedbackError/components/FeedbackErrorMobile.spec.tsx
  src/components/FeedbackError/components/FeedbackErrorMobile.stories.tsx
  src/components/FeedbackError/components/FeedbackErrorMobile.tsx
  src/components/FeedbackError/mobile/FeedbackErrorMobile.stories.tsx
  src/components/FeedbackError/mobile/FeedbackErrorMobile.tsx
  src/components/FeedbackError/mobile/FeedbackErrorMobile.type.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove css unnecessary and use Empty function
  src/components/FeedbackError/components/FeedbackErrorMobile.module.scss
  src/components/FeedbackError/components/FeedbackErrorMobile.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: inplenets new styles to components button
  src/components/Button/Button.module.scss
  src/components/Button/Button.stories.tsx
  src/components/SubmitButton/SubmitButton.module.scss
  src/components/SubmitButton/SubmitButton.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: apagando comentario
  src/components/SubmitButton/SubmitButton.tsx
Due: eslint --fix, prettier --write

fix: finalizando ajuste visual no componente
  src/components/Button/Button.module.scss
  src/components/Button/Button.stories.tsx
  src/components/SubmitButton/SubmitButton.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: import alias padrão do octo e ajuste na borda do componente
  src/components/Button/Button.module.scss
  src/components/SubmitButton/SubmitButton.module.scss
Due: prettier --write, stylelint --fix

fix: remove height and rename class name
  src/components/Button/Button.module.scss
  src/components/SubmitButton/SubmitButton.module.scss
  src/components/SubmitButton/SubmitButton.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: <FirstComment />
  FETCH_HEAD
  src/components/FirstComment/FirstComment.module.scss
  src/components/FirstComment/FirstComment.spec.tsx
  src/components/FirstComment/FirstComment.stories.tsx
  src/components/FirstComment/FirstComment.tsx
  src/components/FirstComment/FirstComment.types.ts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: format code
  .changeset/tender-cows-allow.md
Due: none

chore: format code scss
  src/pages/home/components/Header/Header.module.scss
Due: prettier --write, stylelint --fix

fix: remove submitbutton and ajust alias in button
  src/components/Button/Button.module.scss
  src/components/SubmitButton/SubmitButton.module.scss
  src/components/SubmitButton/SubmitButton.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: install lodash.isEmpty for remove objectEntries
  package.json
  pnpm-lock.yaml
  src/components/FeedbackError/components/FeedbackErrorMobile.tsx
Due: eslint --fix, prettier --write

fix: ajust class button
  src/components/Button/Button.module.scss
Due: prettier --write, stylelint --fix

fix: social accordion
  src/components/AccountCard/AccountCard.module.scss
  src/components/AccountCard/AccountCard.spec.tsx
  src/components/AccountCard/AccountCard.tsx
  src/components/AccountCard/AccountCard.types.ts
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/assets/instagram.svg
  src/pages/home/components/Sidebar/components/SocialAccordion/assets/x.svg
  src/pages/home/components/Sidebar/components/SocialAccordion/mocksMidiaData.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: feedback error mobile (#490)
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/components/FeedbackError/components/FeedbackErrorMobile.module.scss
  src/components/FeedbackError/components/FeedbackErrorMobile.spec.tsx
  src/components/FeedbackError/components/FeedbackErrorMobile.stories.tsx
  src/components/FeedbackError/components/FeedbackErrorMobile.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: class input missing in the component button
  src/components/Button/Button.tsx
Due: eslint --fix, prettier --write

feat: add navbar with octopost logo and social icons to header component (#482)
  .changeset/tender-cows-allow.md
  src/constants/social-medias.ts
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/components/Header/Header.spec.tsx
  src/pages/home/components/Header/Header.tsx
  src/pages/home/components/Header/images/instagram.svg
  src/pages/home/components/Header/images/octopost.svg
  src/pages/home/components/Header/images/tiktok.svg
  src/pages/home/components/Header/images/twitter.svg
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
