Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

test: add mock to scrollTo in accordionTab
  src/components/AccordionTab/AccordionTab.spec.tsx
Due: eslint --fix, prettier --write

feat: change MainComposer to initialize open
  src/components/MainComposer/MainComposer.tsx
Due: eslint --fix, prettier --write

refactor: change handleOpenModal to handleToggleModal
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

docs: update portal and accordion stories
  src/components/AccordionTab/AccordionTab.stories.tsx
  src/components/Portal/Portal.stories.tsx
Due: eslint --fix, prettier --write

feat: add plus symbol to new account button
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

fix: fix some code reviews requesteds
  src/components/Icon/Icon.tsx
  src/components/Icon/iconFont.module.scss
  src/components/Icon/iconFont.stories.tsx
  src/components/Icon/iconFont.types.ts
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix all requested review and tested
  src/components/Icon/Icon.spec.tsx
  src/components/Icon/Icon.tsx
  src/components/Icon/icon.module.scss
  src/components/Icon/icon.stories.tsx
  src/components/Icon/icon.types.ts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Base setup dependabot config
  .github/dependabot.yml
Due: none

chore: add vite
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .husky/prepare-commit-msg
  config-overrides.js
  dist-electron/main.js
  electron/main.ts
  index.html
  jest.config.js
  package.json
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/InputSearch/InputSearch.spec.tsx
  src/components/SearchClue/SearchClue.spec.tsx
  src/components/Switch/Switch.spec.tsx
  src/components/TextArea/TextArea.spec.tsx
  src/globals.d.ts
  src/index.tsx
  src/react-app-env.d.ts
  src/setupTests.js
  src/styles/base.scss
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

action para criar branch ao fazer assign
  .github/workflows/createBranchAssign.yml
Due: none

Add extra required configs
  .github/dependabot.yml
Due: none

fix: change browser router to hash router
  .gitignore
  src/App.tsx
Due: eslint --fix, prettier --write

refactor: remove dist electron
  dist-electron/main.js
Due: none

chore: update commitlint settings
  .czferc.js
  .czrc
  .husky/commit-msg
  .husky/prepare-commit-msg
  commitlint.config.js
  package.json
  yarn.lock
Due: none

fix: fix some issues
  src/components/Icon/Icon.tsx
  src/components/Icon/data.ts
  src/pages/home/home.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

Icon font (#207)
  src/components/Icon/Icon.spec.tsx
  src/components/Icon/Icon.tsx
  src/components/Icon/data.ts
  src/components/Icon/fonts/icomoon.eot
  src/components/Icon/fonts/icomoon.svg
  src/components/Icon/fonts/icomoon.ttf
  src/components/Icon/fonts/icomoon.woff
  src/components/Icon/icon.module.scss
  src/components/Icon/icon.stories.tsx
  src/components/Icon/icon.types.ts
  src/components/Icon/variables.scss
  src/pages/home/home.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

action para criar branch ao fazer assign (#215)
  .github/workflows/createBranchAssign.yml
Due: none

feat: remove scope question in commitlint
  commitlint.config.js
  package.json
  yarn.lock
Due: none

chore: add pre-commit husky for lint-staged
  .husky/pre-commit
Due: none

Base setup dependabot config (#214)
  .github/dependabot.yml
Due: none

chore: update vite config
  vite.config.ts
Due: eslint --fix, prettier --write

chore: update eslint config
  .eslintrc.js
Due: none

chore: move electron config from package.json to electron builder json
  electron-builder.json
  package.json
Due: none

chore: add electron base files
  electron/electron-env.d.ts
  electron/main.ts
  electron/preload.ts
Due: eslint --fix, prettier --write

chore: update setupTests.js
  src/setupTests.js
Due: none

style: eslint --fix
  src/components/Accordion/Accordion.spec.tsx
  src/components/CharacterLimitMainText/components/CharacterLimit.spec.tsx
  src/components/Checkbox/Checkbox.spec.tsx
  src/components/FirstComment/FirstComment.spec.tsx
  src/components/InputMedia/InputMedia.spec.tsx
  src/components/MediaInputs/MediaInput.spec.tsx
  src/components/Switch/Switch.spec.tsx
  src/index.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/stores/usePostsStore.spec.tsx
  tests-examples/demo-todo-app.ct.spec.ts
Due: eslint --fix, prettier --write

chore: update yarn lock
  yarn.lock
Due: none

chore: uncomment husky files
  .husky/prepare-commit-msg
Due: none

fix: add extension in home.module.scss
  src/pages/home/home.module.scss
Due: prettier --write, stylelint --fix

chore: Update main.yml
  .github/workflows/main.yml
Due: none

docs: update issue template
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

add permissions contents write
  .github/workflows/createBranchAssign.yml
Due: none

add permissions contents write (#225)
  .github/workflows/createBranchAssign.yml
Due: none

test: change classNameStrategy to non-scoped
  package.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

test: add mock to tests that are failing
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/stores/usePostsStore.spec.tsx
Due: eslint --fix, prettier --write

chore: update scss to prepend base css to all scss files
  vite.config.ts
Due: eslint --fix, prettier --write

fix: remove additionalData from scss
  vite.config.ts
Due: eslint --fix, prettier --write

fix: update electron dev script
  package.json
Due: none

docs: update issue template (#224)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

Fix: add the font family icomoon on icon story
  src/components/Icon/icon.stories.tsx
Due: eslint --fix, prettier --write
