Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor: ajust input media aesthetics details
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.module.scss
  src/components/MainComposer/components/InputMediaGroup/components/InputMedia/InputMedia.module.scss
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.module.scss
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.module.scss
Due: prettier --write, stylelint --fix

refactor: ajust from px to rem
  src/components/MainComposer/components/InputMediaGroup/components/InputMedia/InputMedia.module.scss
Due: prettier --write, stylelint --fix

refactor: adjust input media aesthetics details
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.module.scss
  src/components/MainComposer/components/InputMediaGroup/components/InputMedia/InputMedia.module.scss
Due: prettier --write, stylelint --fix

feat: move tabber to home components
  src/pages/home/components/Tabber/PostModes/PostModes.module.scss
  src/pages/home/components/Tabber/PostModes/PostModes.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.module.scss
  src/pages/home/components/Tabber/Tabber.stories.tsx
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/pages/home/components/Tabber/Tabs/Tabs.module.scss
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/components/Tabber/Tabs/Tabs.types.ts
  src/pages/home/components/Tabber/utils.ts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: postmode changes current postmode
  src/components/Testinho/Testinho.spec.tsx
  src/components/Testinho/Testinho.stories.tsx
  src/components/Testinho/Testinho.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/stores/usePostsStore.spec.ts
  src/stores/usePostsStore.ts
  src/stores/usePostsStore.types.ts
  src/stores/usePostsStore/usePostsStore.spec.ts
  src/stores/usePostsStore/usePostsStore.ts
  src/stores/usePostsStore/usePostsStore.types.ts
Due: eslint --fix, prettier --write

chore: n fiz nada
  src/pages/home/components/Tabber/PostModes/PostModes.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
Due: eslint --fix, prettier --write

refactor: refactor post store
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/stores/usePost/usePost.ts
  src/stores/usePost/usePost.types.ts
Due: eslint --fix, prettier --write

chore: post mode refactor
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/components/Tabber/Tabs/Tabs.types.ts
Due: eslint --fix, prettier --write

chore: use effect tabber
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/components/Tabber/Tabs/Tabs.types.ts
  src/stores/usePost/usePost.ts
  src/stores/usePost/usePost.types.ts
Due: eslint --fix, prettier --write

chore: create useSyncTabsWithPosts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/components/Tabber/Tabs/Tabs.types.ts
  src/pages/home/components/Tabber/hooks/useSyncTabsWithPosts.ts
  src/stores/usePost/usePost.ts
  src/stores/usePost/usePost.types.ts
Due: eslint --fix, prettier --write

refactor: refactor Post Modes component
  mock-api.json
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/pages/home/components/Tabber/hooks/useSyncTabsWithPosts.ts
  src/stores/usePost/usePost.ts
Due: eslint --fix, prettier --write

chore: creat updateText in post store
  package.json
  pnpm-lock.yaml
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/stores/usePost/usePost.ts
  src/stores/usePost/usePost.types.ts
Due: eslint --fix, prettier --write

refactor: refactor main composer base
  package.json
  pnpm-lock.yaml
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.tsx
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.type.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/components/Tabber/Tabs/Tabs.types.ts
  src/pages/home/components/Tabber/hooks/useSyncTabsWithPosts.ts
  src/stores/usePost/usePost.ts
Due: eslint --fix, prettier --write

fix: fixed tabber and zustand create
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/stores/usePost/usePost.spec.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
Due: eslint --fix, prettier --write

fix: remove usepoststore
  src/stores/usePostsStore/usePostsStore.spec.ts
  src/stores/usePostsStore/usePostsStore.ts
  src/stores/usePostsStore/usePostsStore.types.ts
Due: eslint --fix, prettier --write

feat: add usepoststore
  src/stores/usePost/usePost.spec.ts
  src/stores/usePost/usePost.ts
  src/stores/usePost/usePost.types.ts
Due: eslint --fix, prettier --write

fix: eslint errors
  src/components/MainComposer/components/InputMediaGroup/utils/fileValidator/fileValidator.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/utils.ts
Due: eslint --fix, prettier --write

fix: updateMainContent parameters
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.tsx
  src/pages/home/components/Tabber/Tabber.tsx
  src/stores/__mocks__/usePostStore.mock.ts
  src/stores/usePost/usePost.spec.ts
  src/stores/usePost/usePost.types.ts
Due: eslint --fix, prettier --write

fix: wilson ;)
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.type.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/components/Tabber/Tabs/Tabs.types.ts
  src/pages/home/components/Tabber/hooks/useSyncTabsWithPosts.ts
  src/stores/usePost/usePost.ts
Due: eslint --fix, prettier --write

refactor: adjust input media min size & hover
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.module.scss
  src/components/MainComposer/components/InputMediaGroup/components/InputMedia/InputMedia.module.scss
Due: prettier --write, stylelint --fix

fix: stores names
  src/components/FeedbackError/FeedbackError.spec.tsx
  src/components/FeedbackError/FeedbackError.stories.tsx
  src/components/FeedbackError/FeedbackError.tsx
  src/components/FeedbackError/components/FeedbackErrorMobile.spec.tsx
  src/components/FeedbackError/components/FeedbackErrorMobile.stories.tsx
  src/components/FeedbackError/components/FeedbackErrorMobile.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Tabber/PostModes/PostModes.types.ts
  src/pages/home/components/Tabber/Tabber.tsx
  src/pages/home/components/Tabber/Tabber.types.ts
  src/pages/home/components/Tabber/Tabs/Tabs.tsx
  src/pages/home/components/Tabber/hooks/useSyncTabsWithPosts.ts
  src/stores/__mocks__/usePostStore.mock.ts
  src/stores/useErrorStore/useErrorStore.spec.ts
  src/stores/useErrorStore/useErrorStore.ts
  src/stores/useErrorStore/useErrorStore.types.ts
  src/stores/usePostStore/usePostStore.spec.ts
  src/stores/usePostStore/usePostStore.ts
  src/stores/usePostStore/usePostStore.types.ts
Due: eslint --fix, prettier --write

refactor: refactor media functions
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/components/ComposerEditor/utils/textValidator/textValidator.ts
  src/components/MainComposer/components/ComposerEditor/utils/textValidator/textValidator.types.ts
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.tsx
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.type.ts
  src/components/MainComposer/components/InputMediaGroup/utils/fileValidator/fileValidator.ts
  src/components/MainComposer/components/InputMediaGroup/utils/fileValidator/fileValidator.types.ts
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
Due: eslint --fix, prettier --write

feat: remove testinhos
  src/components/Testinho/Container.ct.spec.tsx
  src/components/Testinho/Container.module.scss
  src/components/Testinho/Container.stories.tsx
  src/components/Testinho/Container.tsx
  src/components/Testinho/Testinho.spec.tsx
  src/components/Testinho/Testinho.stories.tsx
  src/components/Testinho/Testinho.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: base for e2e
  e2e/example.spec.ts
Due: eslint --fix, prettier --write

fix: change code owners
  .github/CODEOWNERS
Due: none

add adms on codeowners
  .github/CODEOWNERS
Due: none

add hatters on code owners
  .github/CODEOWNERS
Due: none

fix: change code owners (#602)
  .github/CODEOWNERS
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

feat: add register hero section
  src/App.tsx
  src/pages/register/components/Hero/Hero.module.scss
  src/pages/register/components/Hero/Hero.spec.tsx
  src/pages/register/components/Hero/Hero.stories.tsx
  src/pages/register/components/Hero/Hero.tsx
  src/pages/register/components/Hero/images/octo.svg
  src/pages/register/components/Hero/images/octopost.svg
  src/pages/register/home.module.scss
  src/pages/register/register.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: create PostModeInputMediaGroup component
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.components.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.type.ts
Due: eslint --fix, prettier --write

refactor: adjust input media aesthetics details (#599)
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.module.scss
  src/components/MainComposer/components/InputMediaGroup/components/InputMedia/InputMedia.module.scss
Due: prettier --write, stylelint --fix

feat: add icons in CharacterLimit component (#592)
  mock-api.json
  src/components/Icon/data.ts
  src/components/Icon/icon.stories.tsx
  src/components/Icon/icons/discord.svg
  src/components/Icon/icons/facebook.svg
  src/components/Icon/icons/instagram.svg
  src/components/Icon/icons/tiktok.svg
  src/components/Icon/icons/twitter.svg
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/services/api/social-media/social-media.types.ts
  src/stores/__mocks__/useSocialMediaStore.mock.ts
Due: eslint --fix, prettier --write

feat: preview mode selector
  src/components/Icon/data.ts
  src/components/Icon/icons/Mobile.svg
  src/components/Icon/icons/Pc.svg
  src/components/Icon/icons/Tablet.svg
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/Preview/Preview.module.scss
  src/components/Preview/Preview.tsx
  src/components/Tabber/PreviewModeSelector/Icons/Mobile.svg
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.components.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.module.scss
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.stories.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.type.ts
  src/components/Tabber/Tabber.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: test
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.module.scss
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.spec.tsx
Due: eslint --fix, prettier --write, stylelint --fix

style: scss updated
  src/components/Preview/Preview.module.scss
  src/components/Preview/Preview.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.module.scss
  src/components/Tabber/Tabber.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: scss
  src/components/Tabber/Tabber.module.scss
Due: prettier --write, stylelint --fix

refactor: update accessibility settings and return value
  src/components/Tabber/PreviewModeSelector/Icons/Mobile.svg
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.components.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.spec.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.stories.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.types.ts
  src/components/Tabber/utils.ts
Due: eslint --fix, prettier --write

refactor: preview receives values from inputs
  src/components/Preview/Preview.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.spec.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.stories.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.types.ts
  src/components/Tabber/utils.ts
Due: eslint --fix, prettier --write

refactor: refactory err lint
  src/components/Tabber/Tabber.module.scss
Due: prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
