Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

feat: a custom hook to listen to key presses
  src/components/useKeyPress/useKeyPress.tsx
Due: eslint --fix, prettier --write

add example tests for unit testing and playwright component testing
  playwright-ct.config.ts
  pnpm-lock.yaml
  src/components/Testinho/Container.ct.spec.tsx
  src/components/Testinho/Container.module.scss
  src/components/Testinho/Container.stories.tsx
  src/components/Testinho/Container.tsx
  src/utils/test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: tests name pattern conflicts, commands and create tests examples for each layer as reference
  e2e/example.spec.ts
  index.html
  package.json
  playwright.config.ts
  tsconfig.json
  vite.config.ts
  vite.electron.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

Criação do componente SentryRoutes (#386)
  src/App.tsx
  src/components/SentrySetup/SentrySetup.tsx
Due: eslint --fix, prettier --write

chore: changed useKeyPress to a more aproprietade folder
  src/hooks/useKeyPress/useKeyPress.ts
Due: eslint --fix, prettier --write

feat: add tests for useKeyPress
  src/hooks/useKeyPress/useKeyPress.spec.ts
Due: eslint --fix, prettier --write

chore: install @types/react in the project
  package.json
  pnpm-lock.yaml
Due: none

chore: install @types/react in the project (#397)
  package.json
  pnpm-lock.yaml
Due: none

refactor: reducing redundancies in code
  src/hooks/useKeyPress/useKeyPress.spec.ts
Due: eslint --fix, prettier --write

chore: saving steps
  packages/module-manager/package.json
  packages/module-manager/src/lib/addon.ts
  packages/module-manager/src/lib/context.ts
  packages/module-manager/src/lib/provider.tsx
  packages/module-manager/src/modules/addon.ts
  packages/module-manager/src/register.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: saving steps
  .husky/pre-commit
  packages/module-manager/tsconfig.json
  packages/module-manager/tsup.config.ts
Due: eslint --fix, prettier --write

feat: saving steps
  package.json
  pnpm-lock.yaml
Due: none

chore: configure ui library
  .eslintrc.cjs
  packages/ui/.eslintrc.cjs
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/src/setupTests.ts
  packages/ui/tsconfig.build.json
  packages/ui/tsconfig.json
  packages/ui/typings.d.ts
  packages/ui/vite.config.ts
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write

feat: update accordion
  packages/ui/src/components/Accordion/Accordion.module.scss
  packages/ui/src/components/Accordion/Accordion.spec.tsx
  packages/ui/src/components/Accordion/Accordion.stories.tsx
  packages/ui/src/components/Accordion/Accordion.tsx
  packages/ui/src/components/Accordion/Accordion.types.ts
  packages/ui/src/components/Accordion/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: update accordionTab
  packages/ui/src/components/AccordionTab/AccordionTab.module.scss
  packages/ui/src/components/AccordionTab/AccordionTab.spec.tsx
  packages/ui/src/components/AccordionTab/AccordionTab.stories.tsx
  packages/ui/src/components/AccordionTab/AccordionTab.tsx
  packages/ui/src/components/AccordionTab/AccordionTab.types.ts
  packages/ui/src/components/AccordionTab/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: a custom hook to listen to key presses (#391)
  src/hooks/useKeyPress/useKeyPress.spec.ts
  src/hooks/useKeyPress/useKeyPress.ts
Due: eslint --fix, prettier --write

fix: all code reviews and refactore some logics
  .eslintrc.cjs
  package.json
  src/components/Icon/Icon.tsx
  src/components/Icon/icon.stories.tsx
  src/components/Icon/icon.types.ts
Due: eslint --fix, prettier --write

AccordionTab TextArea Adjustment (#388)
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
  src/components/MainComposer/MainComposer.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: remove eslint rule
  .eslintrc.cjs
Due: none

refactor: modal types
  src/components/Modal/Modal.types.ts
Due: eslint --fix, prettier --write

feat: add the useKeyPress hook on modal
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

feat: adjust accordion
  .eslintrc.cjs
  packages/ui/src/components/Accordion/Accordion.module.scss
  packages/ui/src/components/Accordion/Accordion.spec.tsx
  packages/ui/src/components/Accordion/Accordion.stories.tsx
  packages/ui/src/components/Accordion/Accordion.tsx
  packages/ui/src/components/Accordion/Accordion.types.ts
  packages/ui/src/components/Accordion/index.ts
  packages/ui/src/components/AccordionTab/AccordionTab.module.scss
  packages/ui/src/components/AccordionTab/AccordionTab.spec.tsx
  packages/ui/src/components/AccordionTab/AccordionTab.stories.tsx
  packages/ui/src/components/AccordionTab/AccordionTab.tsx
  packages/ui/src/components/AccordionTab/AccordionTab.types.ts
  packages/ui/src/components/AccordionTab/index.ts
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useHelloWorld/index.ts
  packages/ui/src/styles/base.scss
  packages/ui/src/styles/breakpoints.scss
  packages/ui/src/styles/global.scss
  src/App.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: remove eslint rule (#403)
  .eslintrc.cjs
Due: none

Use useKeyPressHook on our modal component (#404)
  src/components/Modal/Modal.types.ts
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

add example tests for unit testing and playwright component testing
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: remove duplicate command no package.json
  package.json
Due: none

style: lint fixes
  package.json
  playwright-ct.config.ts
  pnpm-lock.yaml
  src/components/Tabber/Tabber.tsx
  src/utils/test.ts
Due: eslint --fix, prettier --write

feat: create ui package
  packages/ui/.eslintrc.cjs
  packages/ui/.ladle/styles.scss
  packages/ui/package.json
  packages/ui/src/components/Example/Example.module.scss
  packages/ui/src/components/Example/Example.tsx
  packages/ui/tsconfig.json
  packages/ui/vite.config.ts
  packages/ui/vitest.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove duplicated exclude parameter
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write

style: remove all guide comments on playwright-ct config
  playwright-ct.config.ts
Due: eslint --fix, prettier --write

chore: remove ts from config files
  .eslintrc.cjs
  package.json
  playwright-ct.config.js
  playwright.config.js
  playwright.config.ts
  src/components/Testinho/Container.tsx
  tsconfig.json
  tsconfig.node.json
  vite.config.js
  vite.electron.config.js
  vitest.config.js
Due: eslint --fix, prettier --write

chore: change .ts to .js on package json command for electron
  package.json
Due: none

chore: downgrade vite-plugin-electron to 0.15.6 to fix errors between vite and electron
  package.json
  pnpm-lock.yaml
Due: none

Testing strategies (#395)
  .eslintrc.cjs
  e2e/example.spec.ts
  index.html
  package.json
  playwright-ct.config.js
  playwright-ct.config.ts
  playwright.config.js
  playwright.config.ts
  pnpm-lock.yaml
  src/components/Tabber/Tabber.tsx
  src/components/Testinho/Container.ct.spec.tsx
  src/components/Testinho/Container.module.scss
  src/components/Testinho/Container.stories.tsx
  src/components/Testinho/Container.tsx
  src/utils/test.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.js
  vite.electron.config.js
  vitest.config.js
Due: eslint --fix, prettier --write, stylelint --fix

chore: fix config files to be ts and remove typescript errors
  .eslintrc.cjs
  package.json
  playwright-ct.config.ts
  playwright.config.ts
  pnpm-lock.yaml
  tsconfig.node.json
  vite.config.ts
  vite.electron.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: add react hooks eslint rules
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: none
