Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor: fix typescript errors
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
  src/components/ComposerEditor/ComposerEditor.stories.tsx
  src/components/ContentEditor/ContentEditor.stories.tsx
Due: eslint --fix, prettier --write

refactor: update main electron typescript errors
  electron/main.ts
Due: eslint --fix, prettier --write

refactor: pre-commit
  .husky/pre-commit
Due: none

refactor: add typecheck
  package.json
  packages/module-manager/package.json
Due: none

chore: add eof
  .husky/pre-commit
Due: none

chore: update coverage config
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: update eslint config
  .eslintrc.cjs
Due: none

refactor: update checkbox
  src/components/Checkbox/Checkbox.module.scss
  src/components/Checkbox/Checkbox.spec.tsx
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/Checkbox.types.ts
  src/components/FirstComment/FirstComment.tsx
Due: eslint --fix, prettier --write, stylelint --fix

test: add checkbox test
  src/components/Checkbox/Checkbox.spec.tsx
  src/components/Checkbox/Checkbox.types.ts
Due: eslint --fix, prettier --write

refactor: update switch component
  src/components/Switch/Switch.module.scss
  src/components/Switch/Switch.spec.tsx
  src/components/Switch/Switch.stories.tsx
  src/components/Switch/Switch.tsx
  src/components/Switch/Switch.types.ts
  src/components/ToggleSocialMedia/ToggleSocialMedia.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: update describes and its
  src/components/Checkbox/Checkbox.spec.tsx
Due: eslint --fix, prettier --write

refactor: update describes and its
  src/components/Switch/Switch.spec.tsx
Due: eslint --fix, prettier --write

chore: update style import name
  src/components/Checkbox/Checkbox.tsx
Due: eslint --fix, prettier --write

refactor: checkbox (#413)
  .eslintrc.cjs
  src/components/Checkbox/Checkbox.module.scss
  src/components/Checkbox/Checkbox.spec.tsx
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/Checkbox.types.ts
  src/components/FirstComment/FirstComment.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: switch (#415)
  src/components/Switch/Switch.module.scss
  src/components/Switch/Switch.spec.tsx
  src/components/Switch/Switch.stories.tsx
  src/components/Switch/Switch.tsx
  src/components/Switch/Switch.types.ts
  src/components/ToggleSocialMedia/ToggleSocialMedia.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: update eslint rules
  .eslintrc.cjs
Due: none

feat: create Avatar component
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.spec.tsx
  src/components/Avatar/Avatar.stories.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/Avatar.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: add eof and delete .vscode folder
  .gitignore
  .prettierignore
  .vscode/settings.json
Due: none

chore: adjust eslint requirements
  src/components/SocialMediaList/SocialMediaList.tsx
  src/components/SocialMediaList/SocialMediaList.type.ts
Due: eslint --fix, prettier --write

chore: adjust eslint rules yet
  src/components/SocialMediaList/SocialMediaList.tsx
Due: eslint --fix, prettier --write

chore: adjust conflicts in eslint
  .eslintrc.cjs
  .vscode/settings.json
  src/styles/base.scss
  src/styles/breakpoints.scss
  src/styles/global.scss
Due: prettier --write, stylelint --fix

chore: add jest test, remove some unnecessary funtion
  src/components/SocialMediaList/SocialMediaList.spec.tsx
  src/components/SocialMediaList/SocialMediaList.tsx
  src/components/SocialMediaList/SocialMediaList.type.ts
Due: eslint --fix, prettier --write

chore: remove unnecessary breakpoin and solve use state type
  src/components/FeedbackError/FeedbackError.module.scss
  src/components/SocialMediaList/SocialMediaList.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: adjust eslint rules yettt
  pnpm-lock.yaml
  src/components/SocialMediaList/SocialMediaList.tsx
Due: eslint --fix, prettier --write

chore: adjust eslint rules
  src/components/SocialMediaList/SocialMediaList.spec.tsx
  src/components/SocialMediaList/SocialMediaList.tsx
Due: eslint --fix, prettier --write

chore: update path alias
  src/components/SocialMediaList/SocialMediaList.module.scss
Due: prettier --write, stylelint --fix

chore: add arrow function, photos and breakpoint outside selector
  package.json
  src/components/SocialMediaList/SocialMediaList.module.scss
  src/components/SocialMediaList/SocialMediaList.tsx
  src/components/SocialMediaList/assets/plusIcon.svg
  src/components/SocialMediaList/assets/xIcon.svg
Due: eslint --fix, prettier --write, stylelint --fix

chore: delete some styles and add isempty function
  .prettierignore
  package.json
  src/components/SocialMediaList/SocialMediaList.module.scss
  src/components/SocialMediaList/SocialMediaList.tsx
  src/components/SocialMediaList/utils/isEmpty.ts
  src/stores/styles/base.scss
  src/stores/styles/breakpoints.scss
  src/stores/styles/global.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: adjsut eslint conflicts
  .eslintrc.cjs
Due: none

chore: update github requires
  src/components/SocialMediaList/SocialMediaList.module.scss
Due: prettier --write, stylelint --fix

chore: solve build conflicts
  package.json
  pnpm-lock.yaml
Due: none

chore: adjust types with type script
  src/components/SocialMediaList/SocialMediaList.tsx
  src/components/SocialMediaList/SocialMediaList.type.ts
Due: eslint --fix, prettier --write

chore: remove unnecessary state
  src/components/SocialMediaList/SocialMediaList.tsx
Due: eslint --fix, prettier --write

chore: adjust eslint rules yett
  src/components/SocialMediaList/SocialMediaList.tsx
Due: eslint --fix, prettier --write

chore: adjust the png photo, padding and img class
  src/components/SocialMediaList/SocialMediaList.module.scss
  src/components/SocialMediaList/SocialMediaList.tsx
  src/components/SocialMediaList/assets/xIcon.svg
Due: eslint --fix, prettier --write, stylelint --fix

chore: adjust conflicts
  src/App.tsx
Due: eslint --fix, prettier --write

chore: adjust conflicts with path
  src/components/SocialMediaList/SocialMediaList.module.scss
Due: prettier --write, stylelint --fix

chore: adjust eslint requirements yet
  src/components/SocialMediaList/SocialMediaList.tsx
Due: eslint --fix, prettier --write

chore: add lodash
  package.json
  pnpm-lock.yaml
  src/components/SocialMediaList/SocialMediaList.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
