Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor: add file validation to only images and videos
  src/components/InputImage/InputImage.tsx
  src/components/InputMedia/InputMedia.module.scss
  src/components/InputMedia/InputMedia.spec.tsx
  src/components/InputMedia/InputMedia.tsx
Due: eslint --fix, prettier --write, stylelint --fix

docs: add input media to ladle
  src/components/InputMedia/InputMedia.stories.tsx
Due: eslint --fix, prettier --write

feat: add image preview
  src/components/InputMedia/InputMedia.module.scss
  src/components/InputMedia/InputMedia.stories.tsx
  src/components/InputMedia/InputMedia.tsx
  src/components/InputMedia/InputMedia.types.ts
  src/components/InputMedia/assets/imageEmptyGray.svg
  src/components/InputMedia/assets/imageEmptyPurple.svg
  src/styles/base.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add video preview
  src/components/InputMedia/InputMedia.module.scss
  src/components/InputMedia/InputMedia.tsx
  src/styles/base.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: changes variant when image is selected
  src/components/InputMedia/InputMedia.module.scss
  src/components/InputMedia/InputMedia.stories.tsx
  src/components/InputMedia/InputMedia.tsx
  src/components/InputMedia/InputMedia.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: add tests with playwright to InputMedia
  playwright-ct.config.ts
  src/components/InputMedia/InputMedia.ct.spec.tsx
  src/components/InputMedia/InputMedia.module.scss
  src/components/InputMedia/InputMedia.tsx
  src/components/InputMedia/assets/imageEmptyPurple.svg
Due: eslint --fix, prettier --write, stylelint --fix

test: fix jest failing test
  src/components/InputMedia/InputMedia.ct.spec.tsx
  src/components/InputMedia/InputMedia.spec.tsx
  src/components/InputMedia/InputMedia.tsx
Due: eslint --fix, prettier --write

refactor: change how the selected image full the container
  src/components/InputMedia/InputMedia.module.scss
  src/components/InputMedia/InputMedia.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: little changes
  src/components/InputSearch/IInputProps.types.ts
  src/components/InputSearch/InputSearch.module.scss
  src/components/InputSearch/InputSearch.stories.tsx
  src/components/InputSearch/InputSearch.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: last changes
  src/components/InputSearch/InputSearch.spec.tsx
Due: eslint --fix, prettier --write

refactor: add onChange props
  src/components/InputMedia/InputMedia.stories.tsx
  src/components/InputMedia/InputMedia.tsx
  src/components/InputMedia/InputMedia.types.ts
Due: eslint --fix, prettier --write

fix: jest now exclude playwright tests
  playwright-ct.config.ts
  src/components/InputMedia/InputMedia.spec.ct.tsx
Due: eslint --fix, prettier --write

fix: mock window.scrollTo
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
Due: eslint --fix, prettier --write

test: add onChange prop for tests
  src/components/InputMedia/InputMedia.spec.ct.tsx
  src/components/InputMedia/InputMedia.spec.tsx
Due: eslint --fix, prettier --write

refactor: change @import from @use on scss module
  src/components/InputMedia/InputMedia.module.scss
Due: prettier --write, stylelint --fix

test: add mock for test image selected
  src/components/InputMedia/InputMedia.mock.tsx
  src/components/InputMedia/InputMedia.spec.ct.tsx
  src/components/InputMedia/InputMedia.types.ts
Due: eslint --fix, prettier --write

feat: update the type for customOpts
  src/modules/example-module1/service/service.ts
  src/modules/types.ts
Due: eslint --fix, prettier --write

Character limit tabber (#158)
  src/components/CharacterLimit/CharacterLimit.module.scss
  src/components/CharacterLimit/CharacterLimit.spec.tsx
  src/components/CharacterLimit/CharacterLimit.stories.tsx
  src/components/CharacterLimit/CharacterLimit.tsx
  src/components/CharacterLimit/CharacterLimit.types.ts
  src/components/CharacterLimitMainText/CharacterLimitMainText.module.scss
  src/components/CharacterLimitMainText/CharacterLimitMainText.spec.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.types.ts
  src/components/CharacterLimitMainText/components/CharacterLimit.module.scss
  src/components/CharacterLimitMainText/components/CharacterLimit.spec.tsx
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
  src/components/ComposerEditor/ComposeEditor.spec.tsx
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/ComposerEditor/ComposerEditor.tsx
  src/components/Tabber/components/TextAreaTabber/TextAreaTabber.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: Add button component (#157)
  src/components/Button/Button.module.scss
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  src/components/Button/Button.types.ts
  src/components/Button/icons/LocationIcon.jsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: many media inputs
  .eslintrc.json
  .nvmrc
  package.json
  src/components/InputMedia/InputMedia.module.scss
  src/components/InputMedia/InputMedia.spec.tsx
  src/components/InputMedia/InputMedia.stories.tsx
  src/components/InputMedia/InputMedia.tsx
  src/components/InputMedia/InputMedia.types.ts
  src/components/ManyInputMedias/ManyInputs.module.scss
  src/components/ManyInputMedias/ManyInputs.spec.tsx
  src/components/ManyInputMedias/ManyInputs.stories.tsx
  src/components/ManyInputMedias/ManyInputs.tsx
  src/components/ManyInputMedias/MediaGroup/MediaGroup.tsx
  src/components/ManyInputMedias/MediaGroup/MediaGroup.types.ts
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

Feat/services archtecture (#165)
  src/enums/httpStatusCodes.ts
  src/modules/example-module1/example-module1.tsx
  src/modules/example-module1/postModes/story.tsx
  src/modules/example-module1/service/service.ts
  src/modules/example-module1/widgets/location.tsx
  src/modules/index.ts
  src/modules/types.ts
  src/types/object.ts
Due: eslint --fix, prettier --write

refactor: refactor a codeblock that aply styles
  src/components/InputSearch/InputSearch.module.scss
  src/components/InputSearch/InputSearch.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: create a inputSearch component (#163)
  package.json
  src/components/InputSearch/IInputProps.types.ts
  src/components/InputSearch/InputSearch.module.scss
  src/components/InputSearch/InputSearch.spec.tsx
  src/components/InputSearch/InputSearch.stories.tsx
  src/components/InputSearch/InputSearch.tsx
  src/components/InputSearch/assets/alertIcon.svg
  src/components/InputSearch/assets/leftIcon.svg
  src/components/InputSearch/assets/rightIcon.svg
Due: eslint --fix, prettier --write, stylelint --fix

feat: Edit padding title
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.tsx
  src/components/SubmitButton/SubmitButton.module.scss
  src/components/SubmitButton/SubmitButton.stories.tsx
  src/components/SubmitButton/SubmitButton.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: Add Submit Button
  src/components/MainComposer/MainComposer.tsx
  src/components/SaveBar/SaveBar.module.scss
  src/components/SaveBar/SaveBar.tsx
  src/components/SubmitButton/SubmitButton.module.scss
  src/components/SubmitButton/SubmitButton.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: Sort folder and file name and css rules
  src/components/SavBar/SavBar.module.scss
  src/components/SavBar/SavBar.tsx
  src/components/SaveBar/SaveBar.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Submit button/#17 (#170)
  src/components/MainComposer/MainComposer.module.scss
  src/components/SavBar/SavBar.module.scss
  src/components/SavBar/SavBar.tsx
  src/components/SubmitButton/SubmitButton.module.scss
  src/components/SubmitButton/SubmitButton.stories.tsx
  src/components/SubmitButton/SubmitButton.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: add file validation to only images and videos
  playwright-ct.config.ts
  src/components/InputImage/InputImage.module.scss
  src/components/InputImage/InputImage.tsx
  src/components/InputMedia/InputMedia.mock.tsx
  src/components/InputMedia/InputMedia.module.scss
  src/components/InputMedia/InputMedia.spec.ct.tsx
  src/components/InputMedia/InputMedia.spec.tsx
  src/components/InputMedia/InputMedia.stories.tsx
  src/components/InputMedia/InputMedia.tsx
  src/components/InputMedia/InputMedia.types.ts
  src/components/InputMedia/assets/imageEmptyGray.svg
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/styles/base.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: many media inputs
  .eslintrc.json
  .nvmrc
  package.json
  src/components/InputMedia/InputMedia.module.scss
  src/components/InputMedia/InputMedia.tsx
  src/components/InputMedia/InputMedia.types.ts
  src/components/ManyInputMedias/ManyInputs.module.scss
  src/components/ManyInputMedias/ManyInputs.spec.tsx
  src/components/ManyInputMedias/ManyInputs.stories.tsx
  src/components/ManyInputMedias/ManyInputs.tsx
  src/components/ManyInputMedias/MediaGroup/MediaGroup.tsx
  src/components/ManyInputMedias/MediaGroup/MediaGroup.types.ts
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

feat: inputMedia component and manyInput
  src/components/InputMedia/InputMedia.mock.tsx
  src/components/InputMedia/InputMedia.module.scss
  src/components/InputMedia/InputMedia.spec.ct.tsx
  src/components/InputMedia/InputMedia.stories.tsx
  src/components/InputMedia/InputMedia.tsx
  src/components/InputMedia/InputMedia.types.ts
  src/components/InputMedia/assets/imageEmptyGray.svg
Due: eslint --fix, prettier --write, stylelint --fix

test: add tests for manyinputs components
  src/assets/imagetest.jpg
  src/components/ManyInputMedias/ManyInputs.mock.tsx
  src/components/ManyInputMedias/ManyInputs.spec.ct.tsx
  src/components/ManyInputMedias/ManyInputs.spec.tsx
Due: eslint --fix, prettier --write

refactor: refactor manyinputs and inputmedia
  src/components/InputMedia/InputMedia.module.scss
  src/components/InputMedia/InputMedia.tsx
  src/components/InputMedia/InputMedia.types.ts
  src/components/ManyInputMedias/ManyInputs.module.scss
  src/components/ManyInputMedias/MediaGroup/MediaGroup.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
