Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

feat: Add Sentry integration
  src/App.tsx
Due: eslint --fix, prettier --write

chore: fix `package.json`, updated `.gitignore`
  .gitignore
  .yarnrc
  package.json
  yarn.lock
Due: none

chore: update pipeline
  .github/workflows/main.yml
Due: none

chore: update css module vitest resolution
  vite.config.ts
Due: eslint --fix, prettier --write

test: update usePostsStore mock
  src/stores/usePostsStore.spec.tsx
Due: eslint --fix, prettier --write

chore: Remove yarnrc
  .gitignore
  .yarnrc
Due: none

refactor: move sentry key to .env
  .env.example
  src/App.tsx
Due: eslint --fix, prettier --write

Refact: Add a new stylesheet to the ladle config
  .ladle/components.tsx
  .ladle/laddle.scss
  src/components/Icon/icon.stories.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Refact: Add a empty line at the end of components.tsx
  .ladle/components.tsx
Due: eslint --fix, prettier --write

style: just space
  tsconfig.json
Due: none

docs: update contributing docs
  CONTRIBUTING.md
Due: none

refactor: add blank line in `.env.example`
  .env.example
Due: none

Sentry Integration (#232)
  .env.example
  .gitignore
  package.json
  src/App.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Refact: change the import of normalize.css
  .ladle/laddle.scss
Due: prettier --write, stylelint --fix

style: just prettier
  electron-builder.json
  index.html
  tsconfig.node.json
Due: none

revert: update electron configuration
  electron/main.ts
Due: eslint --fix, prettier --write

Migra o bundler do projeto para utilizar o Vite (#231)
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .github/workflows/main.yml
  .gitignore
  CONTRIBUTING.md
  config-overrides.js
  electron-builder.json
  electron/electron-env.d.ts
  electron/main.ts
  electron/preload.ts
  index.html
  jest.config.js
  package.json
  src/App.tsx
  src/components/Accordion/Accordion.spec.tsx
  src/components/CharacterLimitMainText/components/CharacterLimit.spec.tsx
  src/components/Checkbox/Checkbox.spec.tsx
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/FirstComment/FirstComment.spec.tsx
  src/components/InputMedia/InputMedia.spec.tsx
  src/components/InputSearch/InputSearch.spec.tsx
  src/components/MediaInputs/MediaInput.spec.tsx
  src/components/SearchClue/SearchClue.spec.tsx
  src/components/Switch/Switch.spec.tsx
  src/components/TextArea/TextArea.spec.tsx
  src/globals.d.ts
  src/index.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/home.module.scss
  src/react-app-env.d.ts
  src/setupTests.js
  src/stores/usePostsStore.spec.tsx
  src/styles/base.scss
  tests-examples/demo-todo-app.ct.spec.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

fix: just update env variables from process to import.meta
  src/App.tsx
  src/env.d.ts
Due: eslint --fix, prettier --write

refactor: update search bar styles
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Refact: change the import to @use of normalize.css
  .ladle/laddle.scss
Due: prettier --write, stylelint --fix

fix: Correct imports
  src/components/MainComposer/MainComposer.spec.ct.tsx
Due: eslint --fix, prettier --write

fix: Remove monck in the test
  src/components/MediaInputs/MediaInput.spec.ct.tsx
Due: eslint --fix, prettier --write

feat: update AccordionTab
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/AccordionTab/AccordionTab.tsx
  src/components/AccordionTab/AccordionTab.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: update MainComposer to use new AccordionTab
  src/components/MainComposer/MainComposer.tsx
Due: eslint --fix, prettier --write

fix: Change css style
  .husky/prepare-commit-msg
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.tsx
  src/components/MediaInputs/MediaInput.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

Chore: comment the lint-staged
  .husky/prepare-commit-msg
Due: none

Chore: uncomment the lint-staged
  .husky/prepare-commit-msg
Due: none

refactor: update tests
  src/components/Portal/Portal.spec.tsx
Due: eslint --fix, prettier --write

fix: add isOpen to dependency Array
  src/components/Portal/Portal.tsx
Due: eslint --fix, prettier --write

refactor: update accordionTab tests
  src/components/AccordionTab/AccordionTab.spec.tsx
Due: eslint --fix, prettier --write

fix: update wrong dependencies
  package.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

test: update test
  src/components/AccordionTab/AccordionTab.spec.tsx
Due: eslint --fix, prettier --write

fix: update test
  src/components/AccordionTab/AccordionTab.spec.tsx
Due: eslint --fix, prettier --write

refactor: add issue in eslint disable
  src/components/AccordionTab/AccordionTab.spec.tsx
Due: eslint --fix, prettier --write

Fix: add the font family icomoon on icon story (#227)
  .ladle/components.tsx
  .ladle/laddle.scss
  src/components/Icon/icon.stories.tsx
Due: eslint --fix, prettier --write, stylelint --fix

docs: Change import order
  src/components/MainComposer/MainComposer.tsx
Due: eslint --fix, prettier --write

refactor: Change the imports
  src/components/MainComposer/MainComposer.tsx
Due: eslint --fix, prettier --write

refactor: Change the path alias
  src/components/MainComposer/MainComposer.tsx
Due: eslint --fix, prettier --write
