Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

feat: add checked type to checkbox
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/Checkbox.types.ts
Due: eslint --fix, prettier --write

test: update checkbox test
  src/components/Checkbox/Checkbox.spec.tsx
Due: eslint --fix, prettier --write

feat: change all px to rem
  src/components/FirstComment/FirstComment.module.scss
Due: prettier --write, stylelint --fix

refactor: remove accordion destructuring
  src/components/FirstComment/FirstComment.tsx
Due: eslint --fix, prettier --write

feat: update checkbox styles
  src/components/Checkbox/Checkbox.module.scss
Due: prettier --write, stylelint --fix

refactor: remove accordion spread
  src/components/Accordion/Accordion.tsx
Due: eslint --fix, prettier --write

style: stylelint
  src/components/Checkbox/Checkbox.module.scss
Due: prettier --write, stylelint --fix

feat: Insert new propertys in `package.json`
  package.json
Due: none

feat: Padronize node version in the project
  .nvmrc
  package.json
Due: none

tests: use nested describes instead it message
  src/components/Accordion/Accordion.spec.tsx
  src/components/Checkbox/Checkbox.spec.tsx
  src/components/FirstComment/FirstComment.spec.tsx
Due: eslint --fix, prettier --write

refactor: remove unused padding in checkbox
  src/components/Checkbox/Checkbox.module.scss
Due: prettier --write, stylelint --fix

refactor: checkbox stories
  src/components/Accordion/Accordion.stories.tsx
Due: eslint --fix, prettier --write

refactor: moving the creation of ThrowErrorComponent to the context where is used
  src/components/ErrorBoundary/ErrorBoundary.spec.tsx
Due: eslint --fix, prettier --write

feat: Resolve Ladle error
  .ladle/components.tsx
Due: eslint --fix, prettier --write

refactor: remove path alias and ajust proportion 1rem to 10px
  src/styles/base.scss
Due: prettier --write, stylelint --fix

refactor: Remove alias import
  src/components/CharacterLimitMainText/components/CharacterLimit.module.scss
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/MainComposer/MainComposer.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
  src/styles/base.scss
Due: prettier --write, stylelint --fix

feat: Insert new propertys in `package.json` (#206)
  .nvmrc
  package.json
Due: none

Ladle doesnt recognize the base scss style (#208)
  .ladle/components.tsx
  src/components/CharacterLimitMainText/components/CharacterLimit.module.scss
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/MainComposer/MainComposer.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
  src/styles/base.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix the mainComponent (make responsive) (#203)
  src/components/MediaInputs/MediaInput.module.scss
Due: prettier --write, stylelint --fix

177 error boundaries (#201)
  src/components/ErrorBoundary/ErrorBoundary.spec.tsx
  src/components/ErrorBoundary/ErrorBoundary.stories.tsx
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/ErrorBoundary/ErrorBoundary.types.ts
Due: eslint --fix, prettier --write

style: just stylelint
  src/components/Checkbox/Checkbox.module.scss
Due: prettier --write, stylelint --fix

docs: update readme file with roles from discord
  README.md
Due: none

Adiciona componente de primeiro comentário (#192)
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Accordion.spec.tsx
  src/components/Accordion/Accordion.stories.tsx
  src/components/Accordion/Accordion.tsx
  src/components/Accordion/Accordion.types.ts
  src/components/Checkbox/Checkbox.module.scss
  src/components/Checkbox/Checkbox.spec.tsx
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/Checkbox.types.ts
  src/components/Checkbox/assets/check.svg
  src/components/FirstComment/FirstComment.module.scss
  src/components/FirstComment/FirstComment.spec.tsx
  src/components/FirstComment/FirstComment.stories.tsx
  src/components/FirstComment/FirstComment.tsx
  src/components/FirstComment/FirstComment.types.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

docs: update readme file with roles from discord (#210)
  README.md
Due: none

feat: add portal component
  src/components/Portal/Portal.module.scss
  src/components/Portal/Portal.spec.tsx
  src/components/Portal/Portal.tsx
  src/components/Portal/Portal.types.ts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: create a iconFont
  src/components/Icon/IconFont.tsx
  src/components/Icon/fonts/icomoon.eot
  src/components/Icon/fonts/icomoon.svg
  src/components/Icon/fonts/icomoon.ttf
  src/components/Icon/fonts/icomoon.woff
  src/components/Icon/iconFont.module.scss
  src/components/Icon/iconFont.stories.tsx
  src/components/Icon/iconFont.types.ts
  src/components/Icon/variables.scss
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: fixed jest config
  jest.config.js
  package.json
Due: none

refactor: fixed imports
  src/components/CharacterLimitMainText/CharacterLimitMainText.tsx
  src/components/ComposerEditor/ComposerEditor.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write

Corrigir warnings do jest (#209)
  jest.config.js
  package.json
  src/components/CharacterLimitMainText/CharacterLimitMainText.tsx
  src/components/ComposerEditor/ComposerEditor.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write

feat: add overflow in accordion content
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Accordion.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: add AccordionTab component
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/AccordionTab/AccordionTab.tsx
  src/components/AccordionTab/AccordionTab.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: adjust InputSearch width
  src/components/InputSearch/InputSearch.module.scss
Due: prettier --write, stylelint --fix

feat: add new account button
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: remove portal from home
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write

style: just stylelint
  src/components/Portal/Portal.module.scss
Due: prettier --write, stylelint --fix

feat: externalize renderHeader to customize header tag
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/AccordionTab/AccordionTab.tsx
  src/components/AccordionTab/AccordionTab.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: change MainComposer to use AccordionTab
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.tsx
Due: eslint --fix, prettier --write, stylelint --fix

style: just stylelint
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/MainComposer/MainComposer.module.scss
Due: prettier --write, stylelint --fix

docs: add stories to AccordionTab
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/AccordionTab/AccordionTab.stories.tsx
Due: eslint --fix, prettier --write, stylelint --fix

test: add AccordionTab tests
  src/components/AccordionTab/AccordionTab.spec.tsx
Due: eslint --fix, prettier --write
