Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

refactor: false as default value in validation property in AccountCard
  src/components/AccountCard/AccountCard.tsx
Due: eslint --fix, prettier --write

refactor: number of accounts appearing in Social Accordion even if there are invalid accounts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write

feat: component AccountQuantity to show number of accounts in SocialAccordion
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.components.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
Due: eslint --fix, prettier --write

fix: fix input media group
  src/components/MainComposer/components/InputMediaGroup/InputMediaGroup.tsx
Due: eslint --fix, prettier --write

fix: composer editor
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

fix: code style
  eslint_report.json
Due: none

refactor: do not show the number of accounts on SocialAccordion if you have invalid accounts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write

style: remove margin of selectionGrid
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaList.module.scss
Due: prettier --write, stylelint --fix

fix: remove align unnecessary
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaList.module.scss
Due: prettier --write, stylelint --fix

style: removeclass unnecesary
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaList.module.scss
Due: prettier --write, stylelint --fix

fix: rename scss module
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.components.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.module.scss
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: style code in component
  src/components/AccountCard/AccountCard.tsx
Due: eslint --fix, prettier --write

refactor: all accounts true in useSocialMediaStore.mock
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/stores/__mocks__/useSocialMediaStore.mock.ts
Due: eslint --fix, prettier --write

feat: update workflows and actions
  .github/workflows/e2e.yml
  .github/workflows/main.yml
Due: none

fix: ajust action call
  .github/workflows/main.yml
Due: none

fix: rename prop function of modal
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.components.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.spec.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.stories.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.types.ts
Due: eslint --fix, prettier --write

fix: add disabled attribute into button has not account
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.components.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.spec.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.stories.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.types.ts
Due: eslint --fix, prettier --write

chore: delete actions redundant, ajust and insert new workflows
  .github/actions/install-deps/action.yml
  .github/workflows/autoAssigned.yml
  .github/workflows/base-workflows.yml
  .github/workflows/code-style.yml
Due: none

Issue 471 - New Account (#526)
  public/social-github.svg
  src/components/AccountCard/AccountCard.tsx
  src/components/Modal/Modal.module.scss
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.components.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.module.scss
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.spec.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.stories.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.types.ts
  src/pages/home/components/Sidebar/components/SocialMediaForm/data.ts
  src/pages/home/components/Sidebar/components/SocialMediaForm/images/facebook.svg
  src/pages/home/components/Sidebar/components/SocialMediaForm/images/instagram.svg
  src/pages/home/components/Sidebar/components/SocialMediaForm/images/tiktok.svg
  src/pages/home/components/Sidebar/components/SocialMediaForm/images/twitter.svg
  src/pages/home/components/Sidebar/components/SocialMediaForm/images/unknown.svg
  src/styles/base.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: update workflows and actions (#586)
  .github/actions/install-deps/action.yml
  .github/workflows/autoAssigned.yml
  .github/workflows/base-workflows.yml
  .github/workflows/code-style.yml
  .github/workflows/e2e.yml
  .github/workflows/main.yml
Due: none

refactor: style composer editor responsive (#585)
  src/components/Accordion/Accordion.module.scss
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.tsx
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.module.scss
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/components/MainComposerBase/MainComposerBase.module.scss
  src/components/Tabber/Tabber.module.scss
  src/components/Tabber/Tabber.tsx
Due: eslint --fix, prettier --write, stylelint --fix

revert: reverted commit all accounts true in useSocialMediaStore.mock
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/stores/__mocks__/useSocialMediaStore.mock.ts
Due: eslint --fix, prettier --write

feat: setting valid as true in reduce on useSocialMediaStore
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
Due: eslint --fix, prettier --write

refactor: invalid prop as optional in AccountCard.types
  src/components/AccountCard/AccountCard.types.ts
Due: eslint --fix, prettier --write

refactor: reduce extracted to a variable in SocialAccordion
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/stores/useSocialMediaStore/useSocialMediaStore.spec.ts
Due: eslint --fix, prettier --write

feat: preview mode selector
  src/components/Icon/data.ts
  src/components/Icon/icons/Mobile.svg
  src/components/Icon/icons/Pc.svg
  src/components/Icon/icons/Tablet.svg
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/Preview/Preview.module.scss
  src/components/Preview/Preview.tsx
  src/components/Tabber/PreviewModeSelector/Icons/Mobile.svg
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.components.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.module.scss
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.stories.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.type.ts
  src/components/Tabber/Tabber.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

unnecessary keys removed in SocialAccordion
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write

refactor: add the change accordion tab header icon
  src/components/AccordionTab/AccordionTab.tsx
Due: eslint --fix, prettier --write

refactor: adjust the accordio tab header
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/AccordionTab/AccordionTab.tsx
  src/components/Icon/data.ts
  src/components/Icon/icons/circle.svg
Due: eslint --fix, prettier --write, stylelint --fix

refactor: refactory
  src/components/Preview/Preview.module.scss
  src/components/Preview/Preview.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.module.scss
  src/components/Tabber/Tabber.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: refactory err lint
  src/components/Tabber/Tabber.module.scss
Due: prettier --write, stylelint --fix

refactor: scss
  src/components/Tabber/Tabber.module.scss
Due: prettier --write, stylelint --fix

refactor: adjust side paddings
  src/components/AccordionTab/AccordionTab.module.scss
Due: prettier --write, stylelint --fix

refactor: classNames of AccountCard extracted to variable
  src/components/AccountCard/AccountCard.tsx
Due: eslint --fix, prettier --write

style: prettier formatting in AccountCard
  src/components/AccountCard/AccountCard.tsx
Due: eslint --fix, prettier --write

Issue 546 - Adicionar ícone de erro no accordion (#584)
  src/components/AccountCard/AccountCard.module.scss
  src/components/AccountCard/AccountCard.spec.tsx
  src/components/AccountCard/AccountCard.tsx
  src/components/AccountCard/AccountCard.types.ts
  src/components/Switch/Switch.module.scss
  src/components/Switch/Switch.tsx
  src/components/Switch/Switch.types.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.components.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.module.scss
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.spec.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
Due: eslint --fix, prettier --write, stylelint --fix

style: scss updated
  src/components/Preview/Preview.module.scss
  src/components/Preview/Preview.tsx
  src/components/Tabber/PreviewModeSelector/PreviewModeSelector.module.scss
  src/components/Tabber/Tabber.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: adjust the accordio tab header (#590)
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/AccordionTab/AccordionTab.tsx
  src/components/Icon/data.ts
  src/components/Icon/icons/circle.svg
Due: eslint --fix, prettier --write, stylelint --fix

feat: add icons in CharacterLimit component
  mock-api.json
  src/components/Icon/data.ts
  src/components/Icon/icon.stories.tsx
  src/components/Icon/icons/discord.svg
  src/components/Icon/icons/facebook.svg
  src/components/Icon/icons/instagram.svg
  src/components/Icon/icons/tiktok.svg
  src/components/Icon/icons/twitter.svg
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/services/api/social-media/social-media.types.ts
  src/stores/__mocks__/useSocialMediaStore.mock.ts
Due: eslint --fix, prettier --write
