Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: adjust use social media store logic & create its test (#512)
  .gitignore
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabs/Tabs.tsx
  src/components/Tabber/utils.ts
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/AddAccount/AddAccount.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.stories.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/mocksMidiaData.ts
  src/pages/home/home.tsx
  src/services/api/accounts/accounts.types.ts
  src/stores/usePostsStore.spec.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.spec.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
Due: eslint --fix, prettier --write

feat: add account to tabber
  src/components/Tabber/Tabber.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/stores/useAccountStore.ts
Due: eslint --fix, prettier --write

feat: made the activeAccount show in tabs
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabber.types.ts
  src/components/Tabber/Tabs/Tabs.tsx
  src/components/Tabber/utils.ts
  src/stores/useAccountStore.ts
Due: eslint --fix, prettier --write

fix: broken tests
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/setupTests.ts
  src/stores/__mocks__/useSocialMediaStore.mock.ts
Due: eslint --fix, prettier --write

fix: typescript fix
  .gitignore
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabs/Tabs.tsx
  src/components/Tabber/utils.ts
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/AddAccount/AddAccount.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.stories.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/mocksMidiaData.ts
  src/pages/home/home.tsx
  src/stores/useAccountStore.ts
  src/stores/usePostsStore.spec.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.spec.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
Due: eslint --fix, prettier --write

fix: typescript fix (#562)
  src/components/Tabber/utils.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.stories.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/services/api/accounts/accounts.types.ts
  src/stores/useAccountStore.ts
Due: eslint --fix, prettier --write

feat: div com a classe scrollableContent adicionada para auxiliar no surgimento da barra de scroll
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

feat: adicionada a estilização do scroll para os accordions
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

Active post modes (#560)
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabber.types.ts
  src/components/Tabber/Tabs/Tabs.tsx
  src/components/Tabber/utils.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.stories.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/services/api/accounts/accounts.types.ts
  src/stores/useAccountStore.ts
Due: eslint --fix, prettier --write

refactor: rename variable
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
Due: eslint --fix, prettier --write

fix: delete comments in sidebar.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

fix: change class declaration
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaList.module.scss
  src/pages/home/components/Sidebar/components/SocialMediaForm/data.json
Due: eslint --fix, prettier --write, stylelint --fix

style: prettier
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/stores/useSocialMediaStore/useSocialMediaStore.spec.ts
Due: eslint --fix, prettier --write

fix issue #510 (#540)
  eslint.config.mjs
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.spec.tsx
  src/setupTests.ts
  src/stores/__mocks__/useSocialMediaStore.mock.ts
Due: eslint --fix, prettier --write

refactor: change image tag for svg icons
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaList.module.scss
  src/pages/home/components/Sidebar/components/SocialMediaForm/images/facebook.svg
  src/pages/home/components/Sidebar/components/SocialMediaForm/images/instagram.svg
  src/pages/home/components/Sidebar/components/SocialMediaForm/images/tiktok.svg
  src/pages/home/components/Sidebar/components/SocialMediaForm/images/twitter.svg
  src/pages/home/components/Sidebar/components/SocialMediaForm/images/unknown.svg
Due: eslint --fix, prettier --write, stylelint --fix

refactor: post data logic
  package.json
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/PostModes/PostModes.types.ts
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabber.types.ts
  src/components/Tabber/utils.ts
  src/components/Testinho/Testinho.tsx
  src/components/Testinho/usePostStore.spec.ts
  src/components/Testinho/usePostStore.ts
  src/components/Testinho/usePostStore.types.ts
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/home.tsx
  src/stores/useAccountStore.ts
  src/stores/usePostStore/usePostStore.ts
  src/stores/usePostStore/usePostStore.types.ts
Due: eslint --fix, prettier --write

refactor: changes in data files for social medias
  src/pages/home/components/Sidebar/components/SocialMediaForm/data.json
  src/pages/home/components/Sidebar/components/SocialMediaForm/data.ts
  src/pages/home/components/Sidebar/components/SocialMediaForm/images/twitter.svg
Due: eslint --fix, prettier --write

chore: unnecessary comment removed
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

fix: duplicate height removed, px replaced by rem and bar colors adjusted
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

fix: max-height removed
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

refactor: adding mainContent updater into inputChange
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

refactor: loading the mainContent into the tabber
  src/components/Tabber/Tabber.tsx
Due: eslint --fix, prettier --write

refactor: adding mainContent and a updater to him
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
Due: eslint --fix, prettier --write

refactor: adding the new accounts store
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

refactor: removing mainContent from social store
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
Due: eslint --fix, prettier --write

refactor: add mainContent to accounts store
  src/stores/useAccountStore.ts
Due: eslint --fix, prettier --write

refactor: fix the currentTab type and the PostMode
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/PostModes/PostModes.types.ts
Due: eslint --fix, prettier --write

refactor: adding the main content logic to tabber
  src/components/Tabber/Tabber.tsx
Due: eslint --fix, prettier --write

refactor: change static list to dinymic list
  src/pages/home/components/Sidebar/components/SocialMediaForm/SocialMediaForm.tsx
  src/pages/home/components/Sidebar/components/SocialMediaForm/data.ts
Due: eslint --fix, prettier --write

style: width main content modal
  src/components/Modal/Modal.module.scss
Due: prettier --write, stylelint --fix

fix: removed unnecessary line of code
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

Sincronização de conteúdo principal com conteúdo de abas (#567)
  src/components/MainComposer/components/ComposerEditor/ComposerEditor.tsx
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/PostModes/PostModes.types.ts
  src/components/Tabber/Tabber.tsx
  src/stores/useAccountStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
Due: eslint --fix, prettier --write

refactor: useSocialMedia code and addAccount
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/home.tsx
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
Due: eslint --fix, prettier --write

chore: add icons & stylizations
  src/components/Icon/data.ts
  src/components/Icon/icons/arrow-right.svg
  src/pages/home/components/ActionBar/ActionBar.module.scss
  src/pages/home/components/ActionBar/ActionBar.tsx
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: add the correct border & adjust in plus icon
  src/pages/home/components/ActionBar/ActionBar.module.scss
  src/pages/home/components/Header/Header.tsx
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: delete unnecessary desktop version paddin
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

chore: add header, actions, aside on main grid
  src/components/InputSearch/InputSearch.module.scss
  src/pages/home/components/ActionBar/ActionBar.module.scss
  src/pages/home/components/ActionBar/ActionBar.tsx
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/components/Header/Header.tsx
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: add the tabber
  src/components/InputSearch/InputSearch.module.scss
  src/components/Preview/Preview.module.scss
  src/components/Tabber/Tabber.module.scss
  src/pages/home/components/ActionBar/ActionBar.module.scss
  src/pages/home/components/ActionBar/ActionBar.tsx
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/home.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: add correct paddind & button size
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: change type addAccount
  src/stores/useSocialMediaStore/useSocialMediaStore.ts
  src/stores/useSocialMediaStore/useSocialMediaStore.types.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
