Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: import path and remove console log
  src/hooks/useMediaQuery/useMediaQuery.ts
Due: eslint --fix, prettier --write

feat: codereview
  docs/CODEREVIEW.md
Due: none

fix: prettier
  docs/CODEREVIEW.md
Due: none

feat: codereview.md (#534)
  docs/CODEREVIEW.md
Due: none

refactor: removes all data-testId=imageInput and the mediaInput.spec.tsx test has been redone
  src/components/InputMedia/InputMedia.ct.spec.tsx
  src/components/InputMedia/InputMedia.spec.tsx
  src/components/InputMedia/InputMedia.tsx
  src/components/MediaInputs/MediaInput.ct.spec.tsx
  src/components/MediaInputs/MediaInput.spec.tsx
Due: eslint --fix, prettier --write

refactor: improving reading on socials func
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

refactor: refactoring the component
  .idea/compiler.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/eslint.xml
  .idea/modules.xml
  .idea/octopost.iml
  .idea/prettier.xml
  .idea/vcs.xml
  .idea/watcherTasks.xml
  .idea/workspace.xml
  src/components/CharacterLimitMainText/CharacterLimit.module.scss
  src/components/CharacterLimitMainText/CharacterLimit.spec.tsx
  src/components/CharacterLimitMainText/CharacterLimit.tsx
  src/components/CharacterLimitMainText/CharacterLimit.types.ts
  src/components/CharacterLimitMainText/CharacterLimitMainText.module.scss
  src/components/CharacterLimitMainText/CharacterLimitMainText.tsx
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write, stylelint --fix

style: fix css on icon container
  src/components/CharacterLimitMainText/components/CharacterLimit.module.scss
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: adding higherlimitsocial type
  src/components/ComposerEditor/ComposerEditor.types.ts
Due: eslint --fix, prettier --write

refactor: improving the tests
  .gitignore
  src/components/CharacterLimitMainText/CharacterLimit.module.scss
  src/components/CharacterLimitMainText/CharacterLimit.spec.tsx
  src/components/CharacterLimitMainText/CharacterLimit.tsx
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: removing settings
  .vscode/settings.json
Due: none

refactor: change the values of maxLength
  mock-api.json
Due: none

refactor: removing unecessary key
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

refactor: implementing the new modules mock
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

refactor: delete unecessary files
  src/components/CharacterLimitMainText/CharacterLimitMainText.spec.tsx
  src/components/CharacterLimitMainText/components/CharacterLimit.spec.tsx
Due: eslint --fix, prettier --write

chore: add error
  src/components/CharacterLimitMainText/CharacterLimitMainText.types.ts
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: removing useeffect and states, using usecallback
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

refactor: adding type socials
  src/components/ComposerEditor/ComposerEditor.types.ts
Due: eslint --fix, prettier --write

refactor: removing eslint rule for a better read of the code
  .eslintrc.cjs
Due: none

refactor: adding the socials from the hook useSocialMediaStore
  .vscode/settings.json
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

chore: remove error
  src/components/ComposerEditor/ComposerEditor.module.scss
Due: prettier --write, stylelint --fix

refactor: improving tests
  src/components/CharacterLimitMainText/CharacterLimit.module.scss
  src/components/CharacterLimitMainText/CharacterLimit.spec.tsx
  src/components/CharacterLimitMainText/CharacterLimit.tsx
  src/components/CharacterLimitMainText/CharacterLimit.types.ts
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: create new variant for character limit
  src/components/CharacterLimitMainText/CharacterLimitMainText.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.types.ts
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
Due: eslint --fix, prettier --write

fix: value props can not be undefined
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

refactor: adding .idea in gitignore and remove the idea folder
  .gitignore
  .idea/compiler.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/eslint.xml
  .idea/modules.xml
  .idea/octopost.iml
  .idea/prettier.xml
  .idea/vcs.xml
  .idea/watcherTasks.xml
  .idea/workspace.xml
Due: none

refactor: removing eslintrc
  .eslintrc.cjs
Due: none

chore: start changes
  src/components/CharacterLimitMainText/CharacterLimitMainText.types.ts
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
Due: eslint --fix, prettier --write

refactor: changing the name of some functions
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write

refactor: removes all data-testId=imageInput and the mediaInput.spec.tsx test has been redone (#535)
  src/components/InputMedia/InputMedia.ct.spec.tsx
  src/components/InputMedia/InputMedia.spec.tsx
  src/components/InputMedia/InputMedia.tsx
  src/components/MediaInputs/MediaInput.ct.spec.tsx
  src/components/MediaInputs/MediaInput.spec.tsx
Due: eslint --fix, prettier --write

Refactoring main character text (#420)
  mock-api.json
  src/components/CharacterLimitMainText/CharacterLimit.module.scss
  src/components/CharacterLimitMainText/CharacterLimit.spec.tsx
  src/components/CharacterLimitMainText/CharacterLimit.tsx
  src/components/CharacterLimitMainText/CharacterLimit.types.ts
  src/components/CharacterLimitMainText/CharacterLimitMainText.module.scss
  src/components/CharacterLimitMainText/CharacterLimitMainText.spec.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.types.ts
  src/components/CharacterLimitMainText/components/CharacterLimit.spec.tsx
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/ComposerEditor/ComposerEditor.tsx
  src/components/ComposerEditor/ComposerEditor.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: eslint video types errors fixed
  src/utils/checkMediaAndText/checkMedia/checkImage/checkImage.spec.ts
  src/utils/checkMediaAndText/checkMedia/checkImage/checkImage.ts
  src/utils/checkMediaAndText/checkMedia/checkMedia.spec.ts
  src/utils/checkMediaAndText/checkMedia/checkMedia.ts
  src/utils/checkMediaAndText/checkMedia/checkVideo/checkVideo.spec.ts
  src/utils/checkMediaAndText/checkMedia/checkVideo/checkVideo.ts
  src/utils/checkMediaAndText/checkMedia/utils/getMediaData.ts
  src/utils/checkMediaAndText/checkMedia/utils/getMediaData.type.ts
  src/utils/checkMediaAndText/checkText/checkText.spec.ts
  src/utils/checkMediaAndText/checkText/checkText.ts
  src/utils/checkMediaAndText/mocks/mockFiles.ts
  src/utils/checkMediaAndText/mocks/mockLoadMedia.ts
  src/utils/checkMediaAndText/mocks/mockLoadMedia.type.ts
  src/utils/validateMediaAndText/mocks/mockLoadImage.ts
  src/utils/validateMediaAndText/mocks/mockLoadVideo.ts
  src/utils/validateMediaAndText/validadeText/validadeText.spec.ts
  src/utils/validateMediaAndText/validadeText/validateText.ts
  src/utils/validateMediaAndText/validateMedia/utils/getAspectRatio.ts
  src/utils/validateMediaAndText/validateMedia/validateImage/validateImage.spec.ts
  src/utils/validateMediaAndText/validateMedia/validateMedia.spec.ts
  src/utils/validateMediaAndText/validateMedia/validateMedia.ts
  src/utils/validateMediaAndText/validateMedia/validateVideo/validateVideo.spec.ts
Due: eslint --fix, prettier --write

fix: prettier fix
  .eslintrc.cjs
Due: none

chore: create functions for validate media propreties and text length
  .eslintrc.cjs
  src/utils/validadeMediaAndText/index.spec.ts
  src/utils/validadeMediaAndText/index.ts
  src/utils/validadeMediaAndText/mediaDimensions.ts
  src/utils/validadeMediaAndText/mediaDimensions.types.ts
Due: eslint --fix, prettier --write

fix: parameters rename
  src/utils/validadeMediaAndText/index.spec.ts
  src/utils/validadeMediaAndText/index.ts
Due: eslint --fix, prettier --write

fix: fix media validator
  src/mocks/mockMedias/mockFiles.ts
  src/mocks/mockMedias/mockImage.ts
  src/mocks/mockMedias/mockMedia.type.ts
  src/mocks/mockMedias/mockVideo.ts
  src/utils/checkMediaAndText/checkMedia/checkImage/checkImage.spec.ts
  src/utils/checkMediaAndText/checkMedia/checkImage/checkImage.ts
  src/utils/checkMediaAndText/checkMedia/checkMedia.spec.ts
  src/utils/checkMediaAndText/checkMedia/checkMedia.ts
  src/utils/checkMediaAndText/checkMedia/checkVideo/checkVideo.spec.ts
  src/utils/checkMediaAndText/checkMedia/checkVideo/checkVideo.ts
  src/utils/checkMediaAndText/checkMedia/utils/getMediaData.ts
  src/utils/checkMediaAndText/checkText/checkText.spec.ts
  src/utils/checkMediaAndText/checkText/checkText.ts
  src/utils/checkMediaAndText/mocks/mockLoadMedia.ts
  src/utils/mediaAndTextValidator/mediaValidator/imageValidator/imageData.type.ts
  src/utils/mediaAndTextValidator/mediaValidator/imageValidator/imageValidator.spec.ts
  src/utils/mediaAndTextValidator/mediaValidator/imageValidator/imageValidator.ts
  src/utils/mediaAndTextValidator/mediaValidator/interfaces/fileValidator.ts
  src/utils/mediaAndTextValidator/mediaValidator/mediaValidator.spec.ts
  src/utils/mediaAndTextValidator/mediaValidator/mediaValidator.ts
  src/utils/mediaAndTextValidator/mediaValidator/utils/getAspectRatio.ts
  src/utils/mediaAndTextValidator/mediaValidator/videoValidator/videoData.type.ts
  src/utils/mediaAndTextValidator/mediaValidator/videoValidator/videoValidator.spec.ts
  src/utils/mediaAndTextValidator/mediaValidator/videoValidator/videoValidator.ts
  src/utils/mediaAndTextValidator/textValidator/textValidator.spec.ts
  src/utils/mediaAndTextValidator/textValidator/textValidator.ts
Due: eslint --fix, prettier --write

refactor: refactor validateMediaAndText folder
  src/utils/validadeMediaAndText/index.spec.ts
  src/utils/validadeMediaAndText/index.ts
  src/utils/validateMediaAndText/mocks/mockFiles.ts
  src/utils/validateMediaAndText/mocks/mockLoadImage.ts
  src/utils/validateMediaAndText/mocks/mockLoadVideo.ts
  src/utils/validateMediaAndText/validadeText/validadeText.spec.ts
  src/utils/validateMediaAndText/validadeText/validateText.ts
  src/utils/validateMediaAndText/validateMedia/utils/getAspectRatio.ts
  src/utils/validateMediaAndText/validateMedia/utils/getMediaData.ts
  src/utils/validateMediaAndText/validateMedia/utils/getMediaData.type.ts
  src/utils/validateMediaAndText/validateMedia/validateImage/validateImage.spec.ts
  src/utils/validateMediaAndText/validateMedia/validateImage/validateImage.ts
  src/utils/validateMediaAndText/validateMedia/validateMedia.spec.ts
  src/utils/validateMediaAndText/validateMedia/validateMedia.ts
  src/utils/validateMediaAndText/validateMedia/validateVideo/validateVideo.spec.ts
  src/utils/validateMediaAndText/validateMedia/validateVideo/validateVideo.ts
Due: eslint --fix, prettier --write

fix: delete eslint
  .eslintrc.cjs
Due: none

fix: prettier fix
  mock-api.json
Due: none

chore: delete deprecated validators
  src/utils/mediaAndTextValidator/mediaValidator/imageValidator/imageValidator.spec.ts
  src/utils/mediaAndTextValidator/mediaValidator/mediaValidator.spec.ts
  src/utils/mediaAndTextValidator/mediaValidator/videoValidator/videoValidator.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
