Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

Feat: Snowplow insert
  index.html
Due: none

Ajusta o commitlint (#254)
  .czferc.js
  .czrc
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  .nvmrc
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: none

chore: update pipeline
  .github/workflows/main.yml
Due: none

chore: remove playwright pipeline
  .github/workflows/playwright.yml
Due: none

feat: improve code-style verification in pipeline
  .github/workflows/main.yml
  .prettierrc
  package.json
Due: none

style: add eof in main.yml
  .github/workflows/main.yml
Due: none

Melhora a configuração da pipeline para otimizar o tempo de CI (#263)
  .github/workflows/main.yml
  .github/workflows/playwright.yml
  .prettierrc
  package.json
Due: none

Add new Breakpoints and Remove unnecessary things
  src/components/SavBar/SavBar.module.scss
  src/pages/home/components/Header/Header.module.scss
  src/styles/breakpoints.scss
  src/styles/global.scss
Due: prettier --write, stylelint --fix

Add min-widht instead max-width
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

chore: install pnpm
  .github/dependabot.yml
Due: none

fix: change pack ecosystem name
  .github/dependabot.yml
Due: none

fix: change pack ecosystem name second
  .github/dependabot.yml
Due: none

chore: change package manager in files
  .github/dependabot.yml
  package.json
Due: none

style: add eof
  .github/dependabot.yml
Due: none

chore: fix auto-milestone and unassign issue after 7 days
  .github/workflows/autoMilestone.yml
  .github/workflows/unassignIssue.yml
Due: none

refactor: Change to a cleaner and more readable code
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/PostModes/PostModes.types.ts
  src/components/Tabber/Preview/Preview.tsx
  src/components/Tabber/Preview/Preview.types.ts
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabber.types.ts
  src/components/Tabber/Tabs/Tabs.tsx
  src/components/Tabber/Tabs/Tabs.types.ts
  src/components/Tabber/utils.ts
Due: eslint --fix, prettier --write

perf: Remove Tabber from home
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write

fix: change the package ecosystem name 2
  .github/dependabot.yml
Due: none

typescript for css config
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

fixed some issues but, have no fatal issues yet
  .vscode/settings.json
  src/components/SubmitButton/SubmitButton.module.scss
  src/globals.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

remove declare module.scss
  src/globals.d.ts
Due: eslint --fix, prettier --write

solved the div erros
  tsconfig.json
Due: none

fix: EOF
  src/components/SubmitButton/SubmitButton.module.scss
  tsconfig.json
Due: prettier --write, stylelint --fix

typescript for css config (#261)
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

refactor: remove blank div and add FeedbackError component on home screen
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: add icon component to show icon error
  src/components/FeedbackError/FeedbackError.module.scss
  src/components/FeedbackError/FeedbackError.tsx
  src/components/FeedbackError/assets/IconErrorRed.svg
  src/components/FeedbackError/assets/IconErrorWhite.svg
  src/styles/global.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: add error icon on icon component
  src/components/Icon/data.ts
  src/components/Icon/fonts/icomoon.eot
  src/components/Icon/fonts/icomoon.svg
  src/components/Icon/fonts/icomoon.ttf
  src/components/Icon/fonts/icomoon.woff
  src/components/Icon/icon.module.scss
  src/components/Icon/icon.types.ts
  src/components/Icon/variables.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: fix button error on ladle
  src/components/Button/icons/LocationIcon.svg
  src/components/Button/icons/LocationIcon.tsx
Due: eslint --fix, prettier --write

refactor: turn store name more generic
  src/stores/useError/useError.spec.ts
  src/stores/useError/useError.ts
  src/stores/useError/useError.types.ts
Due: eslint --fix, prettier --write

refactor: add icon props to ladle
  src/components/Icon/icon.stories.tsx
Due: eslint --fix, prettier --write

refactor: remove @use snippet
  .vscode/@use.code-snippets
Due: none

refactor: add Icon component on button storie
  src/components/Button/Button.stories.tsx
  src/components/Button/icons/LocationIcon.svg
  src/components/Button/icons/LocationIcon.tsx
Due: eslint --fix, prettier --write

refactor: add breakingpoint
  src/styles/global.scss
Due: prettier --write, stylelint --fix

feat: finished FeedbackError component
  src/components/FeedbackError/FeedbackError.module.scss
  src/components/FeedbackError/FeedbackError.spec.tsx
  src/components/FeedbackError/FeedbackError.stories.tsx
  src/components/FeedbackError/FeedbackError.tsx
  src/components/FeedbackError/assets/IconErrorRed.svg
  src/components/FeedbackError/assets/IconErrorWhite.svg
  src/styles/global.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: create snippet to import scss files
  .vscode/@use.code-snippets
Due: none

test: fix failing test
  src/stores/useError/useError.ts
Due: eslint --fix, prettier --write

refactor: change breakingpoint position to bottom
  src/components/FeedbackError/FeedbackError.module.scss
  src/components/FeedbackError/FeedbackError.stories.tsx
  src/components/FeedbackError/FeedbackError.tsx
  src/stores/feedbackError/useFeedbackError.spec.ts
  src/stores/feedbackError/useFeedbackError.ts
  src/stores/feedbackError/useFeedbackError.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: create error message store
  src/stores/feedbackError/useFeedbackError.spec.ts
  src/stores/feedbackError/useFeedbackError.ts
  src/stores/feedbackError/useFeedbackError.types.ts
Due: eslint --fix, prettier --write
