Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

chore: adjust the describe test name and dele eslint rule
  package.json
  src/components/FeedbackError/FeedbackError.spec.tsx
  src/components/FeedbackError/FeedbackError.tsx
Due: eslint --fix, prettier --write

chore: adjust in useError and FeedbackError
  src/components/FeedbackError/FeedbackError.module.scss
  src/components/FeedbackError/FeedbackError.spec.tsx
  src/components/FeedbackError/FeedbackError.stories.tsx
  src/components/FeedbackError/FeedbackError.tsx
  src/stores/useError/useError.spec.ts
  src/stores/useError/useError.ts
  src/stores/useError/useError.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: adjust typo and clean code
  src/components/FeedbackError/FeedbackError.stories.tsx
  src/components/FeedbackError/FeedbackError.type.ts
  src/stores/useError/useError.spec.ts
Due: eslint --fix, prettier --write

refactor: add new style to FeedBackError & update the icon
  src/components/FeedbackError/FeedbackError.module.scss
  src/components/FeedbackError/FeedbackError.tsx
  src/components/Icon/data.ts
  src/components/Icon/icons/drop-down.svg
Due: eslint --fix, prettier --write, stylelint --fix

feat: finish user database
  .eslintrc.cjs
  packages/module-manager/src/types/OctoModule.ts
  packages/module-manager/src/types/PostModes.ts
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/AddAccount/AddAccount.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/pages/home/home.tsx
  src/services/account-database/account-database.ts
  src/services/addons/addon/mods.ts
  src/services/addons/authentication/authentication.ts
  src/stores/useModulesStore.ts
  src/stores/useModulesStore.types.ts
  src/types/object.ts
Due: eslint --fix, prettier --write

chore: remove ifs from InputMedia tests
  src/components/InputMediaGroup/InputMedia/InputMedia.ct.spec.tsx
  src/components/InputMediaGroup/InputMedia/InputMedia.tsx
Due: eslint --fix, prettier --write

fix: types names fixed
  src/components/InputMediaGroup/InputMedia/InputMedia.mock.tsx
  src/components/InputMediaGroup/InputMedia/InputMedia.tsx
  src/components/InputMediaGroup/InputMedia/InputMedia.types.ts
  src/components/InputMediaGroup/InputMediaGroup.ct.spec.tsx
  src/components/InputMediaGroup/InputMediaGroup.tsx
  src/components/InputMediaGroup/MediaPreview/MediaPreview.tsx
  src/components/InputMediaGroup/MediaPreview/MediaPreview.types.ts
Due: eslint --fix, prettier --write

fix: eslint errors
  src/components/Tabber/PostModes/PostModes.types.ts
  src/components/Tabber/Tabber.types.ts
  src/components/Tabber/Tabs/Tabs.types.ts
Due: eslint --fix, prettier --write

chore: add a test & adjust in the logic component
  src/components/FeedbackError/FeedbackError.spec.tsx
  src/components/FeedbackError/FeedbackError.tsx
Due: eslint --fix, prettier --write

fix: remove coment from imput mock
  src/components/InputMediaGroup/InputMedia/InputMedia.mock.tsx
Due: eslint --fix, prettier --write

chore: adjust the stories logic
  src/components/FeedbackError/FeedbackError.stories.tsx
  src/components/FeedbackError/FeedbackError.type.ts
Due: eslint --fix, prettier --write

chore: adjust in the type file
  package.json
  src/components/FeedbackError/FeedbackError.stories.tsx
  src/components/FeedbackError/FeedbackError.type.ts
Due: eslint --fix, prettier --write

chore: add eslint rule
  package.json
  pnpm-lock.yaml
Due: none

chore: add eslint rule
  pnpm-lock.yaml
Due: none

chore: remove plugin
  package.json
Due: none

chore: add correct dependences
  pnpm-lock.yaml
Due: none

refactor: add new style to FeedBackError & update the icon (#438)
  pnpm-lock.yaml
  src/components/FeedbackError/FeedbackError.data.ts
  src/components/FeedbackError/FeedbackError.module.scss
  src/components/FeedbackError/FeedbackError.spec.tsx
  src/components/FeedbackError/FeedbackError.stories.tsx
  src/components/FeedbackError/FeedbackError.tsx
  src/components/FeedbackError/FeedbackError.type.ts
  src/components/Icon/data.ts
  src/components/Icon/icons/drop-down.svg
  src/stores/useError/useError.spec.ts
  src/stores/useError/useError.ts
  src/stores/useError/useError.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: remove search clue component and its logic
  src/components/InputSearch/InputSearch.types.ts
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

Issue 371 - Refatorar os componentes de media input (#447)
  .eslintrc.cjs
  src/components/ContentEditor/ContentEditor.tsx
  src/components/InputMedia/InputMedia.mock.tsx
  src/components/InputMedia/InputMedia.stories.tsx
  src/components/InputMedia/InputMedia.types.ts
  src/components/InputMediaGroup/InputMedia/InputMedia.ct.spec.tsx
  src/components/InputMediaGroup/InputMedia/InputMedia.mock.tsx
  src/components/InputMediaGroup/InputMedia/InputMedia.module.scss
  src/components/InputMediaGroup/InputMedia/InputMedia.spec.tsx
  src/components/InputMediaGroup/InputMedia/InputMedia.tsx
  src/components/InputMediaGroup/InputMedia/InputMedia.types.ts
  src/components/InputMediaGroup/InputMedia/assets/imageEmptyGray.svg
  src/components/InputMediaGroup/InputMediaGroup.ct.spec.tsx
  src/components/InputMediaGroup/InputMediaGroup.module.scss
  src/components/InputMediaGroup/InputMediaGroup.spec.tsx
  src/components/InputMediaGroup/InputMediaGroup.stories.tsx
  src/components/InputMediaGroup/InputMediaGroup.tsx
  src/components/InputMediaGroup/MediaPreview/MediaPreview.tsx
  src/components/InputMediaGroup/MediaPreview/MediaPreview.types.ts
  src/components/MainComposer/MainComposer.tsx
  src/components/MediaInputs/MediaGroup/MediaGroup.tsx
  src/components/MediaInputs/MediaGroup/MediaGroup.types.ts
  src/components/MediaInputs/MediaInput.stories.tsx
  src/components/MediaInputs/MediaInput.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: add navbar with octopost logo and social icons to header component
  src/pages/home/components/Header/Header.module.scss
  src/pages/home/components/Header/Header.tsx
  src/pages/home/components/Header/assets/instagram.svg
  src/pages/home/components/Header/assets/octopostLogo.svg
  src/pages/home/components/Header/assets/tiktok.svg
  src/pages/home/components/Header/assets/twitter.svg
Due: eslint --fix, prettier --write, stylelint --fix

Update README.md
  README.md
Due: none

Create img
  docs/img
Due: none

Delete docs/img
  docs/img
Due: none

imagem do figma
  docs/img/MacBook Pro 14_ - 5.png
Due: none

imagem do figma
  README.md
  docs/img/banner.png
Due: none

feat: add accounts to account list
  .eslintrc.cjs
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.type.ts
  src/pages/home/home.tsx
  src/services/api/accounts/accounts.ts
  src/services/api/accounts/accounts.types.ts
  src/services/api/index.ts
  src/stores/useModulesStore.ts
  src/stores/useModulesStore.types.ts
  src/utils/multimap/multimap.spec.ts
  src/utils/multimap/multimap.ts
Due: eslint --fix, prettier --write

test: ensure Header.tsx renders octopost logo, tiktok icon, twitter icon, instagram icon
  .changeset/tender-cows-allow.md
  src/pages/home/components/Header/Header.spec.tsx
Due: eslint --fix, prettier --write

chore: remove search clue folder & add initial test
  src/components/SearchClue/SearchClue.module.scss
  src/components/SearchClue/SearchClue.spec.tsx
  src/components/SearchClue/SearchClue.tsx
  src/components/SearchClue/SearchClue.types.ts
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: add chunk of the test
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
Due: eslint --fix, prettier --write

chore: add Escape key test
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
Due: eslint --fix, prettier --write

chore: add new Escape key test version
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

correção de prettier
  README.md
Due: none

chore: remove componente without function
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

chore: add test click outside
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
Due: eslint --fix, prettier --write

chore: add test click outside new version
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
Due: eslint --fix, prettier --write

test: ensure Header.tsx renders octopost logo, tiktok icon, twitter icon, instagram icon
  .changeset/tender-cows-allow.md
  src/pages/home/components/Header/Header.spec.tsx
  src/pages/home/components/Header/Header.tsx
Due: eslint --fix, prettier --write

feat: feedback error mobile
  src/components/FeedbackError/FeedbackError.tsx
  src/components/FeedbackError/mobile/FeedbackErrorMobile.module.scss
  src/components/FeedbackError/mobile/FeedbackErrorMobile.stories.tsx
  src/components/FeedbackError/mobile/FeedbackErrorMobile.tsx
  src/components/FeedbackError/mobile/FeedbackErrorMobile.type.ts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: add a division in the test
  src/pages/home/components/Sidebar/Sidebar.spec.tsx
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write
