Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: solve merge conflicts
  src/utils/isEmpty/isEmpty.ts
Due: eslint --fix, prettier --write

chore: add state
  src/components/SocialMediaList/SocialMediaList.tsx
Due: eslint --fix, prettier --write

chore: add is empty function
  src/components/SocialMediaList/SocialMediaList.module.scss
  src/components/SocialMediaList/SocialMediaList.tsx
  src/utils/isEmpty/isEmpty.spec.ts
  src/utils/isEmpty/isEmpty.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: update pnpm
  pnpm-lock.yaml
Due: none

feat: add SocialMediaList Component, New color for global.scss
  src/components/SocialMediaList/SocialMediaList.module.scss
  src/components/SocialMediaList/SocialMediaList.tsx
  src/components/SocialMediaList/SocialMediaList.type.ts
  src/pages/home/home.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add SocialMediaList Component, New color for global.scss (#315)
  .eslintrc.cjs
  .gitignore
  .prettierignore
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/FeedbackError/FeedbackError.module.scss
  src/components/SocialMediaList/SocialMediaList.module.scss
  src/components/SocialMediaList/SocialMediaList.spec.tsx
  src/components/SocialMediaList/SocialMediaList.tsx
  src/components/SocialMediaList/SocialMediaList.type.ts
  src/components/SocialMediaList/assets/plusIcon.svg
  src/components/SocialMediaList/assets/xIcon.svg
  src/pages/home/home.tsx
  src/styles/global.scss
  src/utils/isEmpty/isEmpty.spec.ts
  src/utils/isEmpty/isEmpty.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: start changes
  src/components/CharacterLimitMainText/CharacterLimitMainText.types.ts
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
Due: eslint --fix, prettier --write

test: add icon test
  .eslintrc.cjs
  src/components/Icon/Icon.spec.tsx
  src/components/Icon/Icon.tsx
Due: eslint --fix, prettier --write

feat: create new variant for character limit
  src/components/CharacterLimitMainText/CharacterLimitMainText.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.types.ts
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
Due: eslint --fix, prettier --write

refactor: move userImage to avatar component
  src/components/ToggleSocialMedia/ToggleSocialMedia.tsx
  src/components/ToggleSocialMedia/components/UserImage/UserImage.module.scss
  src/components/ToggleSocialMedia/components/UserImage/UserImage.spec.tsx
  src/components/ToggleSocialMedia/components/UserImage/UserImage.stories.tsx
  src/components/ToggleSocialMedia/components/UserImage/UserImage.tsx
  src/components/ToggleSocialMedia/components/UserImage/UserImage.type.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: switch size
  src/components/Switch/Switch.module.scss
  src/components/ToggleSocialMedia/ToggleSocialMedia.stories.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: add faker in project
  package.json
  pnpm-lock.yaml
Due: none

feat: add AccountCard
  src/components/AccountCard/AccountCard.module.scss
  src/components/AccountCard/AccountCard.stories.tsx
  src/components/AccountCard/AccountCard.tsx
  src/components/AccountCard/AccountCard.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove ToggleSocialMedia
  src/components/ToggleSocialMedia/ToggleSocialMedia.tsx
Due: eslint --fix, prettier --write

refactor: rename ToggleSocialMedia for AccountCard
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
Due: eslint --fix, prettier --write

test: add AccountCard
  src/components/AccountCard/AccountCard.spec.tsx
Due: eslint --fix, prettier --write

refactor: ToggleSocialMedia (#421)
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/components/AccountCard/AccountCard.module.scss
  src/components/AccountCard/AccountCard.spec.tsx
  src/components/AccountCard/AccountCard.stories.tsx
  src/components/AccountCard/AccountCard.tsx
  src/components/AccountCard/AccountCard.types.ts
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.spec.tsx
  src/components/Avatar/Avatar.stories.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/Avatar.types.ts
  src/components/SocialMediaList/SocialMediaList.type.ts
  src/components/Switch/Switch.module.scss
  src/components/ToggleSocialMedia/ToggleSocialMedia.module.scss
  src/components/ToggleSocialMedia/ToggleSocialMedia.stories.tsx
  src/components/ToggleSocialMedia/ToggleSocialMedia.tsx
  src/components/ToggleSocialMedia/ToggleSocialMedia.types.ts
  src/components/ToggleSocialMedia/components/UserImage/UserImage.spec.tsx
  src/components/ToggleSocialMedia/components/UserImage/UserImage.stories.tsx
  src/components/ToggleSocialMedia/components/UserImage/UserImage.tsx
  src/components/ToggleSocialMedia/components/UserImage/UserImage.type.ts
  src/pages/home/components/Sidebar/components/SocialAccordion/SocialAccordion.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: ci/cd
  src/components/Icon/icons/index.js
  src/components/Icon/icons/left-arrow copy 4.svg
  src/components/Icon/icons/left-arrow copy 5.svg
Due: none

chore: vitest plugin add
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: update pipeline conditions to run
  .github/workflows/code-style.yml
  .github/workflows/main.yml
Due: none

chore: update eslint config rules
  packages/module-manager/.eslintrc.cjs
Due: none

fix: react destruct import
  package.json
  src/components/Icon/Icon.tsx
Due: eslint --fix, prettier --write

fix: lock file resolve
  pnpm-lock.yaml
Due: none

style: changes applying from revisions on pr and lint warnings
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

Style: Transform to mobile first
  src/components/AccordionTab/AccordionTab.module.scss
Due: prettier --write, stylelint --fix

Style: removing the width in img and svg icon
  src/components/Button/Button.module.scss
Due: prettier --write, stylelint --fix

refactor: applying the path alias to @usue
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

refactor: removing unused imports
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

Feat: include the icon component
  src/components/AccordionTab/AccordionTab.tsx
Due: eslint --fix, prettier --write

refactor: removing unuseless code
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

refactor: removing nonexistent class closeMobile
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

refactor: using px in newAccountButtonMobile css class
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

refactor: some changes following the reviews in pr
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

Style: final adjusts to mobile version
  src/components/AccordionTab/AccordionTab.module.scss
  src/components/AccordionTab/AccordionTab.tsx
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
  src/pages/home/components/Sidebar/assets/plusIcon.svg
  src/pages/home/components/Sidebar/components/PlusIcon.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Style: Add some initial configs to mobile view
  src/pages/home/components/Sidebar/Sidebar.module.scss
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: adding classnames
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

style: removing class closeMobile and using only mobile on desktop version
  src/pages/home/components/Sidebar/Sidebar.module.scss
Due: prettier --write, stylelint --fix

fix: removing the button used for tests
  src/pages/home/components/Sidebar/Sidebar.tsx
Due: eslint --fix, prettier --write

chore: adjust the folder name and delete a unnecessary import
  src/components/ActionBar/ActionBar.module.scss
  src/components/ActionBar/ActionBar.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.scss)
  stylelint --fix: any of: *.scss
