Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

chore: remove git add from lint-staged command
  package.json
Due: none

chore: update eslint rules
  .eslintrc.cjs
Due: none

chore: add zustand
  package.json
  pnpm-lock.yaml
Due: none

Issue-xxx (#406)
  .eslintrc.cjs
  package.json
  playwright-ct.config.ts
  playwright.config.ts
  pnpm-lock.yaml
  tsconfig.node.json
  vite.config.ts
  vite.electron.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: add types in functions and fix css on textare
  src/components/CharacterLimitMainText/CharacterLimitMainText.module.scss
  src/components/CharacterLimitMainText/CharacterLimitMainText.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.types.ts
  src/components/ComposerEditor/ComposerEditor.tsx
  src/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.tsx
  src/components/TextArea/TextArea.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: prettier ajusts
  electron/tsconfig.json
  packages/module-manager/tsconfig.json
  src/components/InputMedia/InputMedia.spec.tsx
Due: eslint --fix, prettier --write

test: converte os tentes do playwright para vitest
  src/components/InputMedia/InputMedia.spec.tsx
  src/components/MainComposer/MainComposer.spec.ct.tsx
  src/components/MainComposer/MainComposer.spec.tsx
  src/components/MainComposer/MainComposer.tsx
Due: eslint --fix, prettier --write

docs: ajusting and refatoring ladle
  src/components/ComposerEditor/ComposerEditor.stories.tsx
Due: eslint --fix, prettier --write

fix: ajust padding to inline
  src/components/MainComposer/MainComposer.module.scss
Due: prettier --write, stylelint --fix

test: ajusting and refatoring
  src/components/ComposerEditor/ComposeEditor.spec.tsx
  src/components/TextArea/TextArea.module.scss
  src/components/TextArea/TextArea.spec.tsx
  src/components/TextArea/TextArea.stories.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/TextArea.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: ajust html and css
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/ComposerEditor/ComposerEditor.tsx
Due: eslint --fix, prettier --write, stylelint --fix

wip: converte o MainComposer para controlled
  src/components/MainComposer/MainComposer.tsx
  src/components/MainComposer/MainComposer.types.ts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write

test: muda o teste de remover imagem para o mediainput
  src/components/MainComposer/MainComposer.spec.tsx
  src/components/MediaInputs/MediaInput.spec.tsx
  src/components/MediaInputs/MediaInput.tsx
Due: eslint --fix, prettier --write

fix: alterações solicitadas no PR
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
  src/components/ComposerEditor/ComposerEditor.tsx
  src/components/ComposerEditor/ComposerEditor.types.ts
  src/components/FirstComment/FirstComment.tsx
  src/components/MainComposer/MainComposer.tsx
  src/components/MainComposer/MainComposer.types.ts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write

refactor: converte o ComposerEditor para controlled
  src/components/ComposerEditor/ComposerEditor.tsx
  src/components/ComposerEditor/ComposerEditor.types.ts
  src/components/MainComposer/MainComposer.tsx
  src/components/MainComposer/MainComposer.types.ts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write

chore: resolve conflicts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write

test: adapta os componentes controlados com as novas propriedades
  src/components/CharacterLimitMainText/components/CharacterLimit.tsx
  src/components/ComposerEditor/ComposeEditor.spec.tsx
  src/components/MainComposer/MainComposer.spec.ct.tsx
  src/components/MainComposer/MainComposer.types.ts
Due: eslint --fix, prettier --write

fix: ajustes no pull request
  src/components/ComposerEditor/ComposerEditor.tsx
  src/components/FirstComment/FirstComment.tsx
  src/components/MediaInputs/MediaInput.spec.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write

chore: test remote
  src/components/ComposerEditor/ComposerEditor.types.ts
Due: eslint --fix, prettier --write

fix: moving to
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/ComposerEditor/ComposerEditor.tsx
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: add dependecies
  pnpm-lock.yaml
Due: none

chore: rename MainComposer to ContentEditor
  src/components/ContentEditor/ContentEditor.module.scss
  src/components/ContentEditor/ContentEditor.spec.tsx
  src/components/ContentEditor/ContentEditor.stories.tsx
  src/components/ContentEditor/ContentEditor.tsx
  src/components/ContentEditor/ContentEditor.types.ts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: remove changes
  src/components/MediaInputs/MediaInput.spec.tsx
  src/components/MediaInputs/MediaInput.tsx
Due: eslint --fix, prettier --write

feat: add simple tests
  pnpm-lock.yaml
  src/components/Icon/Icon.spec.tsx
Due: eslint --fix, prettier --write

chore: update module-manager to use vite
  package.json
  packages/module-manager/package.json
  packages/module-manager/tsconfig.json
  packages/module-manager/tsup.config.ts
  packages/module-manager/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: resolve all conversation changes
  src/components/ComposerEditor/ComposeEditor.spec.tsx
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/ComposerEditor/ComposerEditor.tsx
  src/components/ComposerEditor/ComposerEditor.types.ts
  src/components/ContentEditor/ContentEditor.module.scss
  src/components/FirstComment/FirstComment.spec.tsx
  src/components/FirstComment/FirstComment.tsx
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: resolve all prettier
  electron/tsconfig.json
  packages/module-manager/tsconfig.json
Due: none

feat: converte o MainComposer e o ComposerEditor para controlled (#324)
  pnpm-lock.yaml
  src/components/CharacterLimitMainText/CharacterLimitMainText.module.scss
  src/components/CharacterLimitMainText/CharacterLimitMainText.tsx
  src/components/CharacterLimitMainText/CharacterLimitMainText.types.ts
  src/components/ComposerEditor/ComposeEditor.spec.tsx
  src/components/ComposerEditor/ComposerEditor.module.scss
  src/components/ComposerEditor/ComposerEditor.stories.tsx
  src/components/ComposerEditor/ComposerEditor.tsx
  src/components/ComposerEditor/ComposerEditor.types.ts
  src/components/ContentEditor/ContentEditor.module.scss
  src/components/ContentEditor/ContentEditor.spec.tsx
  src/components/ContentEditor/ContentEditor.stories.tsx
  src/components/ContentEditor/ContentEditor.tsx
  src/components/ContentEditor/ContentEditor.types.ts
  src/components/FirstComment/FirstComment.spec.tsx
  src/components/FirstComment/FirstComment.tsx
  src/components/InputMedia/InputMedia.spec.tsx
  src/components/MainComposer/MainComposer.module.scss
  src/components/MainComposer/MainComposer.spec.ct.tsx
  src/components/MainComposer/MainComposer.tsx
  src/components/MediaInputs/MediaInput.spec.tsx
  src/components/MediaInputs/MediaInput.tsx
  src/components/TextArea/TextArea.module.scss
  src/components/TextArea/TextArea.spec.tsx
  src/components/TextArea/TextArea.stories.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/TextArea.types.ts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: update module-manager eslint rules
  package.json
  packages/module-manager/.eslintrc.cjs
  packages/module-manager/package.json
  packages/module-manager/src/types/OctoModule.ts
  packages/module-manager/tsconfig.json
  packages/module-manager/vite.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: update no magic numbers rule
  .eslintrc.cjs
Due: none

fix: update tabber types
  src/components/Tabber/PostModes/PostModes.module.scss
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/PostModes/PostModes.types.ts
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabber.types.ts
  src/components/Tabber/stores/useSocialNetworkStore.tsx
  src/components/Tabber/stores/useSocialNetworkStore.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: test to use expected
  src/components/Icon/Icon.spec.tsx
  src/components/Icon/Icon.tsx
  src/components/Icon/Icon.types.ts
  src/components/Icon/data.ts
  src/components/Modal/Modal.tsx
Due: eslint --fix, prettier --write

refactor: ignore typescript and eslint in test file
  src/utils/test.ts
Due: eslint --fix, prettier --write

refactor: update inputSearch to fix typescript errors
  src/components/InputSearch/InputSearch.spec.tsx
Due: eslint --fix, prettier --write

refactor: update docs to fix typescript errors
  src/components/InputSearch/InputSearch.stories.tsx
Due: eslint --fix, prettier --write

chore: update lockfile
  pnpm-lock.yaml
Due: none

refactor: update electron main file to fix eslint errors
  .eslintrc.cjs
  electron/main.ts
Due: eslint --fix, prettier --write

chore: add build step before install
  .github/actions/install-deps/action.yml
Due: none

chore: update package json scripts
  package.json
Due: none

chore: remove bad eslint rule
  .eslintrc.cjs
Due: none
