Repository devhatt/octopost: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

refactor: create a data file for feedbackComponent and fix ladle stories
  src/components/FeedbackError/FeedbackError.data.ts
  src/components/FeedbackError/FeedbackError.stories.tsx
  src/components/FeedbackError/FeedbackError.tsx
Due: eslint --fix, prettier --write

refactor: change breakingpoint style
  src/components/FeedbackError/FeedbackError.module.scss
  src/styles/global.scss
Due: prettier --write, stylelint --fix

refactor: fix icon not showing on screen error
  src/components/Icon/Icon.tsx
  src/components/Icon/fonts/icomoon.eot
  src/components/Icon/fonts/icomoon.svg
  src/components/Icon/fonts/icomoon.ttf
  src/components/Icon/fonts/icomoon.woff
  src/components/Icon/icon.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: add eof
  .github/dependabot.yml
Due: none

create FeedbackError component (#265)
  src/components/Button/Button.stories.tsx
  src/components/Button/icons/LocationIcon.jsx
  src/components/FeedbackError/FeedbackError.data.ts
  src/components/FeedbackError/FeedbackError.module.scss
  src/components/FeedbackError/FeedbackError.spec.tsx
  src/components/FeedbackError/FeedbackError.stories.tsx
  src/components/FeedbackError/FeedbackError.tsx
  src/components/Icon/Icon.tsx
  src/components/Icon/data.ts
  src/components/Icon/fonts/icomoon.eot
  src/components/Icon/fonts/icomoon.svg
  src/components/Icon/fonts/icomoon.ttf
  src/components/Icon/fonts/icomoon.woff
  src/components/Icon/icon.module.scss
  src/components/Icon/icon.stories.tsx
  src/components/Icon/icon.types.ts
  src/components/Icon/variables.scss
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  src/stores/useError/useError.spec.ts
  src/stores/useError/useError.ts
  src/stores/useError/useError.types.ts
  src/styles/global.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: change name
  .github/workflows/unassignIssue.yml
Due: none

chore: fix day
  .github/workflows/unassignIssue.yml
Due: none

chore: fix auto-milestone and unassign issue after 7 days (#266)
  .github/workflows/autoMilestone.yml
  .github/workflows/unassignIssue.yml
Due: none

fix: change the breakpoints and sizes
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

fix: update Branch
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

fix: erase the comment
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

refactor: Change to a more consistent code
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/PostModes/PostModes.types.ts
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabs/Tabs.tsx
  src/components/Tabber/Tabs/Tabs.types.ts
Due: eslint --fix, prettier --write

fix: adjusted and corrected grid template
  src/components/MediaInputs/MediaInput.module.scss
Due: prettier --write, stylelint --fix

feat: add suport to run jsx in runtime
  electron/main.ts
  index.html
  package.json
  pnpm-lock.yaml
  public/react-as-es-module.js
  public/react-jsx-runtime.js
  src/App.tsx
  src/pages/home/home.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

style: add eof again
  .github/dependabot.yml
Due: none

Add BreakPoint (#250)
  .github/dependabot.yml
  package.json
  src/components/MainComposer/MainComposer.module.scss
  src/components/SavBar/SavBar.module.scss
  src/styles/breakpoints.scss
Due: prettier --write, stylelint --fix

Tabber/#34 (#252)
  src/components/Tabber/PostModes/PostModes.module.scss
  src/components/Tabber/PostModes/PostModes.tsx
  src/components/Tabber/PostModes/PostModes.types.ts
  src/components/Tabber/Tabber.module.scss
  src/components/Tabber/Tabber.spec.tsx
  src/components/Tabber/Tabber.stories.tsx
  src/components/Tabber/Tabber.tsx
  src/components/Tabber/Tabber.types.ts
  src/components/Tabber/Tabber.types.tsx
  src/components/Tabber/Tabs/Tabs.module.scss
  src/components/Tabber/Tabs/Tabs.tsx
  src/components/Tabber/Tabs/Tabs.types.ts
  src/components/Tabber/components/TabberCompose/RenderNetwork.tsx
  src/components/Tabber/components/Tabs/TabsTabber.module.scss
  src/components/Tabber/components/Tabs/TabsTabber.tsx
  src/components/Tabber/components/TextAreaTabber/TextAreaTabber.module.scss
  src/components/Tabber/components/TextAreaTabber/TextAreaTabber.tsx
  src/components/Tabber/components/TextAreaTabber/TextAreaTabber.types.ts
  src/components/Tabber/networkListMock.ts
  src/components/Tabber/stores/useSocialNetworkStore.tsx
  src/components/Tabber/stores/useSocialNetworkStore.types.ts
  src/components/Tabber/utils.ts
  src/modules/example-module1/postModes/story.tsx
  src/modules/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: adjusted and corrected grid template
  src/components/InputMedia/InputMedia.module.scss
  src/components/MediaInputs/MediaInput.module.scss
Due: prettier --write, stylelint --fix

Issue 249/grid fix (#268)
  src/components/InputMedia/InputMedia.module.scss
  src/components/MediaInputs/MediaInput.module.scss
Due: prettier --write, stylelint --fix

feat: create package for module-register
  package.json
  packages/module-register/.eslintrc.cjs
  packages/module-register/lib/EventEmitter.ts
  packages/module-register/main.ts
  packages/module-register/package.json
  packages/module-register/tsconfig.json
  packages/module-register/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

chore: update pnpm lock
  pnpm-lock.yaml
Due: none

Alvarogfn/issue237 (#269)
  .github/workflows/main.yml
  .github/workflows/playwright.yml
  .prettierrc
  electron/main.ts
  index.html
  package.json
  packages/module-register/.eslintrc.cjs
  packages/module-register/lib/EventEmitter.ts
  packages/module-register/main.ts
  packages/module-register/package.json
  packages/module-register/tsconfig.json
  packages/module-register/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/react-as-es-module.js
  public/react-jsx-runtime.js
  src/App.tsx
  src/pages/home/home.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

feat: add types of octomodule in packages
  .eslintrc.js
  .npmrc
  index.html
  package.json
  packages/module-register/tsconfig.json
  packages/octomodule/.eslintrc.cjs
  packages/octomodule/index.ts
  packages/octomodule/lib/EventEmitter.ts
  packages/octomodule/lib/ModuleRegister.ts
  packages/octomodule/lib/OctoModule.ts
  packages/octomodule/package.json
  packages/octomodule/src/lib/OctoModule.ts
  packages/octomodule/tsconfig.json
  packages/octomodule/vite.config.ts
  pnpm-lock.yaml
  public/expose-module-register.js
  public/index.html
  src/App.tsx
  src/components/Head/Head.tsx
  src/contexts/ModuleContext.tsx
  src/index.tsx
  src/modules/example-module1/example-module1.tsx
  src/modules/example-module1/postModes/story.tsx
  src/modules/example-module1/service/service.ts
  src/modules/example-module1/widgets/location.tsx
  src/modules/index.ts
  src/modules/types.ts
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write

feat: update module-manager
  packages/module-manager/.eslintrc.cjs
  packages/module-manager/index.ts
  packages/module-manager/lib/EventEmitter.ts
  packages/module-manager/lib/Manager.ts
  packages/module-manager/lib/OctoModule.ts
  packages/module-manager/package.json
  packages/module-manager/tsconfig.json
  packages/module-manager/vite.config.ts
Due: eslint --fix, prettier --write

feat: change octomodule to module-manager
  index.html
  package.json
  packages/octomodule/.eslintrc.cjs
  packages/octomodule/index.ts
  packages/octomodule/lib/EventEmitter.ts
  packages/octomodule/lib/ModuleRegister.ts
  packages/octomodule/lib/OctoModule.ts
  packages/octomodule/package.json
  packages/octomodule/src/lib/OctoModule.ts
  packages/octomodule/tsconfig.json
  packages/octomodule/vite.config.ts
  pnpm-lock.yaml
  public/expose-module-register.js
  src/contexts/ModuleContext.tsx
Due: eslint --fix, prettier --write

chore: update module manager package
  packages/module-manager/package.json
Due: none

feat: add changesets
  .changeset/README.md
  .changeset/config.json
  package.json
  packages/module-manager/CHANGELOG.md
  packages/module-manager/package.json
  pnpm-lock.yaml
Due: none

feat: add a release pipeline
  .changeset/config.json
  .github/workflows/release.yml
  .npmrc
  package.json
Due: none

Alvarogfn/issue237 (#1)
  .changeset/README.md
  .changeset/config.json
  .eslintrc.js
  .github/workflows/release.yml
  .npmrc
  electron/main.ts
  index.html
  package.json
  packages/module-manager/.eslintrc.cjs
  packages/module-manager/CHANGELOG.md
  packages/module-manager/index.ts
  packages/module-manager/lib/EventEmitter.ts
  packages/module-manager/lib/Manager.ts
  packages/module-manager/lib/OctoModule.ts
  packages/module-manager/package.json
  packages/module-manager/tsconfig.json
  packages/module-manager/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/expose-module-register.js
  public/index.html
  public/react-as-es-module.js
  public/react-jsx-runtime.js
  src/App.tsx
  src/components/Head/Head.tsx
  src/contexts/ModuleContext.tsx
  src/index.tsx
  src/modules/example-module1/example-module1.tsx
  src/modules/example-module1/postModes/story.tsx
  src/modules/example-module1/service/service.ts
  src/modules/example-module1/widgets/location.tsx
  src/modules/index.ts
  src/modules/types.ts
  src/pages/home/home.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

chore: update pipeline
  .github/workflows/release.yml
Due: none

chore: add release pipeline
  .changeset/README.md
  .changeset/config.json
  .changeset/tough-trainers-cheer.md
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: add release pipeline (#1)
  .changeset/README.md
  .changeset/config.json
  .changeset/tough-trainers-cheer.md
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: update package-json script
  package.json
Due: none

chore: update changeset
  .changeset/tough-trainers-cheer.md
Due: none

chore: enter pre-release mode
  .changeset/pre.json
Due: none

chore: update main pipeline to frozen lockfile
  .github/workflows/main.yml
Due: none

chore: update package json to remove electron builder
  package.json
Due: none

chore: improve main pipeline to use pnpm cache
  .github/workflows/main.yml
  .npmrc
Due: none

chore: update npmrc to auto install peers
  .npmrc
Due: none
